Repository bcgov/tno, pull requests merged in 2023-12, with the labels that each got.

#1294 fix: #TNO-937 - fixes for subscriber site
  api/net/Areas/Subscriber/Controllers/ProductController.cs
  app/editor/src/features/admin/products/constants/subscriberColumns.tsx
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  libs/net/dal/Services/ProductService.cs
Labels: bug, subscriber

#1296 Folder fixes and style enhancements
  app/subscriber/src/components/table/styled/SubscriberTableContainer.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/constants/columns.tsx
  app/subscriber/src/features/my-folders/styled/MyFolders.tsx
  app/subscriber/src/features/utils/handleEnterPressed.ts
  app/subscriber/src/features/utils/index.ts
Labels: bug, enhancement, subscriber

#1298 Fix editor app
  app/editor/src/features/home/InfoText.tsx
  openshift/scripts/deploy.sh
Labels: bug, editor

#1299 feat: #tno-1708 - fix issue with base64 images
  libs/net/ches/ChesService.cs
  libs/net/ches/Models/IEmail.cs
  libs/net/ches/Models/IEmailBase.cs
  libs/net/ches/Models/IEmailMerge.cs
Labels: enhancement

#1300 fix: #tno-2090 - radio content content type broken
  api/net/Areas/Editor/Models/Storage/ItemModel.cs
  api/net/Areas/Subscriber/Models/Storage/ItemModel.cs
  api/net/TNO.API.csproj
  libs/net/dal/TNO.DAL.csproj
  libs/net/models/Filters/ContentFileReference.cs
  libs/net/models/TNO.Models.csproj
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/TNO.Services.csproj
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/ffmpeg/FFmpegManager.cs
  services/net/ffmpeg/TNO.Services.FFmpeg.csproj
  tools/css-api/TNO.CSS.API.csproj
Labels: bug

#1303 fix: #tno-2090 - radio content content type broken
  api/net/Areas/Editor/Models/Storage/ItemModel.cs
  api/net/Areas/Subscriber/Models/Storage/ItemModel.cs
  api/net/TNO.API.csproj
  libs/net/models/Filters/ContentFileReference.cs
  libs/net/models/TNO.Models.csproj
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/TNO.Services.csproj
Labels: bug

#1305 Small documentation update
  docs/DEVELOPMENT.md
Labels: documentation

#1311 fix: #tno-1708 - fix for weird inheritance issue
  libs/net/ches/ChesService.cs
  libs/net/ches/Models/IEmailBase.cs
Labels: bug

#1309 [UPDATED] TNO-1894, 1782: Add content to folders, new components, new styling
  app/subscriber/src/components/bar/Bar.tsx
  app/subscriber/src/components/bar/styled/Bar.tsx
  app/subscriber/src/components/folder-sub-menu/styled/FolderSubMenu.tsx
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/tool-bar/AddToFolderMenu.tsx
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/index.ts
  app/subscriber/src/components/tool-bar/styled/AddToMenu.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/styled/index.ts
  app/subscriber/src/components/tool-bar/utils/index.ts
  app/subscriber/src/components/tool-bar/utils/toInstanceContent.ts
  app/subscriber/src/components/tooltip-menu/styled/TooltipMenu.tsx
  app/subscriber/src/components/utils/index.ts
  app/subscriber/src/components/utils/toFolderContent.ts
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/content/view-content/FolderMenu.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/FolderMenu.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/home-filters/HomeFilters.tsx
  app/subscriber/src/features/home/home-filters/styled/HomeFilters.tsx
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  app/subscriber/src/features/top-stories/styled/TopStories.tsx
Labels: enhancement, subscriber

#1317 feat: #tno-1980 - Event of the Day Admin page
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  libs/net/dal/Services/ContentService.cs
Labels: bug

#1321 fix: #tno-1980 - removed debug markup
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
Labels: bug

#1322 TNO-1997/98: Ability to run filter on Folder, and schedule when to empty it
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/constants/daysOfWeek.ts
  app/subscriber/src/features/my-folders/constants/defaultSchedule.ts
  app/subscriber/src/features/my-folders/constants/filterOptions.ts
  app/subscriber/src/features/my-folders/constants/index.ts
  app/subscriber/src/features/my-folders/index.ts
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/styled/index.ts
  app/subscriber/src/features/my-folders/utils/createSchedule.ts
  app/subscriber/src/features/my-folders/utils/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
Labels: enhancement, subscriber

#1323 TNO-2080, 2098, 2086: Little one pointers - styling, add source and series to search page, rename home -> featured stories
  app/subscriber/src/components/layout/constants/SidebarMenuItems.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, enhancement

#1324 TNO-2045 Add tab validation
  app/subscriber/src/components/tabs/FormikTabs.tsx
  app/subscriber/src/components/tabs/Tabs.tsx
  app/subscriber/src/components/tabs/index.ts
  app/subscriber/src/components/tabs/interfaces/IFormikTab.ts
  app/subscriber/src/components/tabs/interfaces/index.ts
  app/subscriber/src/components/tabs/styled/Tabs.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/validation/ReportFormSchema.ts
  app/subscriber/src/features/my-reports/admin/validation/ReportFormSettingsSchema.ts
  app/subscriber/src/features/my-reports/admin/validation/ReportFormTemplateSchema.ts
Labels: bug, subscriber

#1326 Update models for FolderSchedule
  libs/net/models/Areas/Subscriber/Models/Folder/FolderModel.cs
  libs/net/models/Areas/Subscriber/Models/Folder/FolderScheduleModel.cs
Labels: bug, subscriber

#1327 fix alignment
  app/subscriber/src/components/share-menu/ShareMenu.tsx
Labels: bug, subscriber

#1325 fix: #tno-1980 - bug fix and change from Scott
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  app/editor/src/features/admin/topics/TopicList.tsx
  app/editor/src/features/content/form/components/topic/Topic.tsx
  app/editor/src/features/content/form/styled/ContentForm.tsx
Labels: enhancement

#1328 Fix styling
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, subscriber

#1330 fix bug with home filter buttons
  app/subscriber/src/features/landing/Landing.tsx
Labels: bug

#1329 TNO-2045 Update Reports
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/components/section/styled/Section.tsx
  app/subscriber/src/features/my-reports/admin/ReportTemplate.tsx
  app/subscriber/src/features/my-reports/admin/old/components/ReportSection.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/constants/defaultReportSection.ts
  app/subscriber/src/features/my-reports/interfaces/IReportSectionForm.ts
  app/subscriber/src/features/my-reports/utils/getBlockName.ts
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1331 fix: #tno-1980 - bug fix
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
Labels: bug

#1332 fix: #tno-2147 - added more logging
  services/net/folder-collection/FolderCollectionManager.cs
Labels: bug

#1333 fix: #tno-2147 - fixed dateOffset filter logic
  services/net/folder-collection/FolderCollectionManager.cs
Labels: bug

#1337 Fix add new report
  api/net/Areas/Editor/Controllers/ContentController.cs
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/editor/src/features/admin/reports/constants/defaultRazorTemplate.ts
  libs/net/dal/Services/AVOverviewInstanceService.cs
  libs/net/dal/Services/ReportService.cs
Labels: bug, editor

#1338 TNO-2069 Fit image to div in view content
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
Labels: bug, subscriber

#1341 TNO-2102 Empty body check
  app/subscriber/src/features/home/constants/columns.tsx
Labels: subscriber

#1342 Add copy filter/report
  app/editor/src/features/admin/filters/FilterForm.tsx
  app/editor/src/features/admin/filters/styled/FilterForm.tsx
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/editor/src/features/admin/reports/ReportSection.tsx
  app/editor/src/features/admin/reports/styled/ReportForm.tsx
  app/subscriber/src/features/my-reports/admin/old/components/ReportSectionContent.tsx
Labels: enhancement, subscriber, editor

#1344 TNO-2091/93: New nav bar and layout
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/components/navbar/Navbar.tsx
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/components/navbar/constants/INavbarItem.ts
  app/subscriber/src/components/navbar/index.ts
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/components/navbar/styled/index.ts
  app/subscriber/src/components/navbar/utils/determineGroupIcon.tsx
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/components/search-with-logout/styled/SearchWithLogout.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/my-reports/admin/old/ReportAdmin.tsx
  app/subscriber/src/features/my-searches/SearchForm.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: enhancement, subscriber

#1345 TNO-2125: bugfix for clicking checkbox label
  app/subscriber/src/components/sidebar/advanced-search/components/sections/MoreOptions.tsx
Labels: bug, subscriber

#1346 Fix commentary box
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/index.scss
Labels: bug

#1347 TNO-2070 Skip Advanced Search
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: subscriber

#1350 CSS Things
  app/subscriber/src/components/header/Header.tsx
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/components/search-with-logout/index.ts
  app/subscriber/src/components/search-with-logout/styled/SearchWithLogout.tsx
  app/subscriber/src/components/search-with-logout/styled/index.ts
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-colleagues/ColleagueEdit.tsx
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/ReportView.tsx
Labels: bug, subscriber

#1351 [Updated] Fix key error, more scrolling fixes
  app/subscriber/src/components/navbar/Navbar.tsx
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
  app/subscriber/src/index.scss
Labels: bug, subscriber

#1354 feat: #tno-2137 - changed Update method to only Update changed entities
  libs/net/dal/Services/TopicScoreRuleService.cs
  libs/net/entities/TopicScoreRule.cs
Labels: enhancement

#1352 feat: #Tno 1210 - event of the day reoport
  api/net/Areas/Admin/Controllers/ChartTemplateController.cs
  api/net/Areas/Helpers/ReportHelper.cs
  api/net/Areas/Helpers/SearchAggregationHelper.cs
  api/node/src/utils/data.ts
  app/editor/src/features/admin/charts/constants/groupByOptions.ts
  libs/net/dal/Migrations/1.0.103/Up/PostUp/00-ChartTemplate.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/00-Filter.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/01-Folder.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/01-ReportTemplate.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/03-Report.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/03-ReportSection.sql
  libs/net/dal/Migrations/1.0.103/Up/PostUp/03-ReportTemplateChartTemplate.sql
  libs/net/dal/Migrations/20231228020153_1.0.103.Designer.cs
  libs/net/dal/Migrations/20231228020153_1.0.103.cs
  libs/net/elastic/Models/AggregationBucketModel.cs
  libs/net/elastic/Models/AggregationModel.cs
  libs/net/elastic/Models/AggregationRootModel.cs
  libs/net/elastic/Models/Converters/AggregationsConverter.cs
  libs/net/elastic/Models/SearchResultModel.cs
  libs/net/template/Models/Reports/AggregationBucketModel.cs
  libs/net/template/Models/Reports/AggregationModel.cs
  libs/net/template/Models/Reports/AggregationRootModel.cs
  libs/net/template/Models/Reports/ReportSectionModel.cs
  libs/net/template/ReportExtensions.cs
Labels: enhancement, DB Migration

#1356 fix: #tno-2112 - added format fix for content coming in from TNO
  libs/net/core/Extensions/StringExtensions.cs
Labels: enhancement

#1357 feat: #tno-1210 - baseline report working
  libs/net/dal/Migrations/1.0.103/Up/PostUp/00-ChartTemplate.sql
  libs/net/dal/Migrations/1.0.104/Down/PostDown/00-RollbackEventOfTheDayReport.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/00-ChartTemplate.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/00-Filter.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/01-Folder.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/01-ReportTemplate.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/03-Report.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/03-ReportSection.sql
  libs/net/dal/Migrations/1.0.104/Up/PostUp/03-ReportTemplateChartTemplate.sql
  libs/net/dal/Migrations/20231229023338_1.0.104.Designer.cs
  libs/net/dal/Migrations/20231229023338_1.0.104.cs
Labels: bug, DB Migration

#1359 breaking off a few css fixes
  app/subscriber/src/components/sidebar/advanced-search/components/sections/ContributorSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/sections/MediaTypeSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/sections/SeriesSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/sections/TagSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, subscriber

#1362 Tno 2128 prevent tags panel to break layout
  app/editor/src/features/content/form/components/tags/styled/Tags.tsx
Labels: bug, editor

#1363 TNO-1881 Update report template to format time on header
  libs/net/dal/Migrations/1.0.106/Up/PostUp/00-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.106/Up/PostUp/01-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/20231229185754_1.0.106.Designer.cs
  libs/net/dal/Migrations/20231229185754_1.0.106.cs
Labels: DB Migration, editor

#1365 TNO-2078 Change limits according to type
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: editor
