Repository bcgov/tno, pull requests merged in 2023-06, with the labels that each got.

#782 feat: #tno-1322 - added service config for oracle db connection
  services/net/contentmigration/Config/ContentMigrationOptions.cs
  services/net/contentmigration/Config/OracleConnectionSettings.cs
  services/net/contentmigration/ContentMigrationService.cs
  services/net/contentmigration/sources/oracle/Services/ServiceCollectionExtensions.cs
Labels: enhancement

#785 Fix TNO-1313
  app/editor/src/components/wysiwyg/Wysiwyg.tsx
  app/editor/src/features/content/form/components/wysiwyg/Wysiwyg.tsx
  app/subscriber/src/components/form/wysiwyg/Wysiwyg.tsx
  services/net/syndication/SyndicationAction.cs
  services/net/transcription/TranscriptionManager.cs
Labels: bug

#789 Fix TNO-1277
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/components/time-log/TimeLogSection.tsx
  app/editor/src/features/content/validation/ContentFormSchema.ts
Labels: enhancement

#791 TNO-1383: Today's Commentary View
  app/editor/src/features/home/Home.tsx
  app/editor/src/features/home/index.ts
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/todays-commentary/index.ts
  app/subscriber/src/features/todays-commentary/styled/TodaysCommentary.tsx
  app/subscriber/src/features/todays-commentary/styled/index.ts
Labels: enhancement, subscriber

#793 Fix TNO-1277
  app/editor/src/features/content/form/components/time-log/TimeLogSection.tsx
  app/editor/src/features/content/validation/ContentFormSchema.ts
Labels: enhancement

#792 TNO-1392 Editor enhancements
  app/editor/src/components/wysiwyg/Wysiwyg.tsx
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/ContentTranscriptForm.tsx
  app/editor/src/features/content/form/MediaSummary.tsx
  app/editor/src/features/content/form/components/index.ts
  app/editor/src/features/content/form/components/tags/Tags.tsx
  app/editor/src/features/content/form/components/tags/styled/Tags.tsx
  app/editor/src/features/content/form/components/time-log/TimeLogSection.tsx
  app/editor/src/features/content/form/components/upload/styled/Upload.tsx
  app/editor/src/features/content/form/components/wysiwyg/CustomToolbar.tsx
  app/editor/src/features/content/form/components/wysiwyg/Wysiwyg.tsx
  app/editor/src/features/content/form/components/wysiwyg/index.ts
  app/editor/src/features/content/form/components/wysiwyg/styled/Wysiwyg.tsx
  app/editor/src/features/content/form/components/wysiwyg/styled/index.ts
  app/editor/src/features/content/form/styled/ContentForm.tsx
  app/editor/src/features/content/form/styled/ContentStoryForm.tsx
  app/editor/src/features/content/form/styled/MediaSummary.tsx
  app/editor/src/index.scss
  services/net/syndication/SyndicationAction.cs
Labels: enhancement, editor

#794 TNO-1368: [QA] Pls increase height of Type dropdown on Topic/Event of the Day management page
  app/editor/src/features/admin/topics/styled/TopicList.tsx
Labels: bug

#797 feat: #tno-1324 - added ability to store config
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  libs/net/services/Actions/Managers/ServiceActionManager`.cs
  libs/net/services/Interfaces/IServiceActionManager.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: enhancement

#795 Fix TNO-1370
  libs/net/dal/Migrations/1.0.22/Up/PostUp/00-DefaultProductUpdates.sql
  libs/net/dal/Migrations/20230606192001_1.0.22.Designer.cs
  libs/net/dal/Migrations/20230606192001_1.0.22.cs
Labels: enhancement, DB Migration

#799 Fix TNO-1365
  libs/net/dal/Migrations/1.0.23/Up/PostUp/00-SeriesCleanUp.sql
  libs/net/dal/Migrations/20230606220659_1.0.23.Designer.cs
  libs/net/dal/Migrations/20230606220659_1.0.23.cs
Labels: DB Migration

#801 TNO-1370 updates
  libs/net/dal/Migrations/1.0.24/Up/PostUp/00-DefaultProductUpdates2.sql
  libs/net/dal/Migrations/20230607170534_1.0.24.Designer.cs
  libs/net/dal/Migrations/20230607170534_1.0.24.cs
Labels: enhancement, DB Migration

#806 TNO-1380: Bold minister's name on returned content
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/router/AppRouter.tsx
Labels: enhancement, subscriber

#807 TNO-1380: Bold minister's name on returned content - Adjustment
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#809 [Bug] Content summary displaying instead of body: Updating logic
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#810 [Bug] Change of logic for displaying body or summary
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#811 [Bug] Summary overwriting body
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug

#812 TNO-937 Replace RazorLightEngine
  TNO.sln
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/MediaSummary.tsx
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/constants/defaultFormValues.ts
  app/editor/src/features/content/form/interfaces/IContentForm.ts
  app/editor/src/features/content/form/styled/ContentForm.tsx
  libs/net/TNO.sln
  libs/net/dal/Migrations/1.0.26/Up/PostUp/00-Notification.sql
  libs/net/dal/Migrations/1.0.26/Up/PostUp/00-Report.sql
  libs/net/dal/Migrations/20230608205411_1.0.26.Designer.cs
  libs/net/dal/Migrations/20230608205411_1.0.26.cs
  libs/net/services/Runners/BaseService.cs
  libs/net/template/CompiledTemplate.cs
  libs/net/template/ICompiledTemplate.cs
  libs/net/template/ITemplateEngine.cs
  libs/net/template/ServiceCollectionExtensions.cs
  libs/net/template/TNO.TemplateEngine.csproj
  libs/net/template/TemplateEngine.cs
  services/net/capture/CaptureService.cs
  services/net/clip/ClipService.cs
  services/net/command/CommandService.cs
  services/net/content/ContentService.cs
  services/net/contentmigration/ContentMigrationService.cs
  services/net/filecopy/FileCopyService.cs
  services/net/filemonitor/FilemonitorService.cs
  services/net/image/ImageService.cs
  services/net/indexing/IndexingService.cs
  services/net/nlp/NLPService.cs
  services/net/notification/Models/TemplateModel.cs
  services/net/notification/NotificationManager.cs
  services/net/notification/NotificationService.cs
  services/net/notification/TNO.Services.Notification.csproj
  services/net/reporting/Models/TemplateModel.cs
  services/net/reporting/ReportingManager.cs
  services/net/reporting/ReportingService.cs
  services/net/reporting/TNO.Services.Reporting.csproj
  services/net/syndication/SyndicationService.cs
  services/net/transcription/TranscriptionService.cs
Labels: bug, enhancement, DB Migration, editor

#813 Fix TNO-1366
  services/net/syndication/SyndicationAction.cs
Labels: bug

#817 TNO-1406 Editor Fixes
  app/editor/src/features/content/form/components/tags/Tags.tsx
  app/editor/src/features/content/form/components/time-log/styled/TimeLogSection.tsx
  app/editor/src/features/content/form/styled/TimeLogTable.tsx
Labels: bug

#820 TNO-1379: Reduce width of tone column
  app/subscriber/src/features/home/constants/columns.tsx
Labels: bug, subscriber

#808 TNO-1133: Front pages
  api/net/Areas/Subscriber/Controllers/ContentController.cs
  app/editor/.yarn/cache/resolve-patch-46f9469d0d-5656f4d0be.zip
  app/editor/.yarn/cache/resolve-patch-bdbf6a2444-4bf9f4f8a4.zip
  app/editor/.yarn/cache/tno-core-npm-0.0.259-b63e95e47e-31908b41aa.zip
  app/editor/.yarn/cache/tno-core-npm-0.0.260-28f953be77-e11d0a8c55.zip
  app/editor/.yarn/install-state.gz
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/resolve-patch-46f9469d0d-5656f4d0be.zip
  app/subscriber/.yarn/cache/resolve-patch-bdbf6a2444-4bf9f4f8a4.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.0.259-b63e95e47e-31908b41aa.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.0.260-28f953be77-e11d0a8c55.zip
  app/subscriber/package.json
  app/subscriber/src/features/commentary/styled/Commentary.tsx
  app/subscriber/src/features/front-pages/FrontPages.tsx
  app/subscriber/src/features/front-pages/index.ts
  app/subscriber/src/features/front-pages/styled/FrontPages.tsx
  app/subscriber/src/features/front-pages/styled/index.ts
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
  app/subscriber/yarn.lock
  libs/net/dal/Services/ContentService.cs
  libs/net/dal/Services/Interfaces/IContentService.cs
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api-subscriber/useApiSubscriberContents.ts
Labels: enhancement, subscriber

#819 Fix TNO-1200
  libs/net/entities/Validation/NotificationValidator.cs
  libs/net/services/Helpers/NotificationValidator.cs
Labels: enhancement

#821 TNO-1386: (1/2) Create search result page
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/components/search-with-logout/styled/SearchWithLogout.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/index.ts
  app/subscriber/src/features/search-page/utils/index.ts
  app/subscriber/src/features/search-page/utils/trimWords.ts
Labels: enhancement, subscriber

#818 feat: #1325 - PaperMigrator first pass complete
  services/net/contentmigration/Config/ContentMigrationOptions.cs
  services/net/contentmigration/Config/MigratorOptions.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/ContentMigrationService.cs
  services/net/contentmigration/TNO.Services.ContentMigration.csproj
  services/net/contentmigration/appsettings.json
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/ContentMigratorFactory.cs
  services/net/contentmigration/migrators/ContentMigratorFactoryExtensions.cs
  services/net/contentmigration/migrators/IContentMigrator.cs
  services/net/contentmigration/migrators/ImageMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
  services/net/contentmigration/sources/oracle/Entities/NewsItem.cs
  tools/scripts/gen-env-files.sh
Labels: enhancement

#823 TNO-1386: (2/2 )Add media player to view
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/player/Player.tsx
  app/subscriber/src/features/search-page/player/styled/Player.tsx
  app/subscriber/src/features/search-page/player/styled/index.ts
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#824 TNO-1382: Bug fix for side bar
  app/subscriber/src/components/sidebar/SelectableMenuItems.tsx
Labels: bug, subscriber

#825 Frontpage bug
  libs/net/dal/Services/ContentService.cs
Labels: bug, subscriber

#826 Fix layout of media and search
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug

#827 Styling fixes
  app/subscriber/src/features/front-pages/styled/FrontPages.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/search-page/player/Player.tsx
  app/subscriber/src/features/search-page/utils/index.ts
  app/subscriber/src/features/search-page/utils/stripHtml.ts
Labels: bug

#829 Handful of bugs
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/player/Player.tsx
  app/subscriber/src/features/search-page/player/styled/Player.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, subscriber

#830 TNO-1385: Iteration 1 of saving searches
  app/subscriber/src/components/layout/constants/SidebarMenuItems.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
  app/subscriber/src/features/settings/MyMinisterSettings.tsx
Labels: enhancement, subscriber

#831 Small bug
  app/subscriber/src/features/landing/Landing.tsx
Labels: bug

#828 TNO-1366 updates
  services/net/syndication/SyndicationAction.cs
Labels: bug

#835 Fix TNO-1407
  app/editor/src/features/admin/topics/TopicList.tsx
Labels: enhancement

#837 TNO-1388: Add ability for subscriber to transcribe
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/content/view-content/utils/WorkOrderStatus.tsx
  app/subscriber/src/features/content/view-content/utils/findWorkOrder.ts
  app/subscriber/src/features/content/view-content/utils/index.ts
  app/subscriber/src/features/content/view-content/utils/isWorkOrderStatus.ts
Labels: enhancement, subscriber

#841 Subscriber View Content: Ensure work orders fetched on load
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#845 feat: tno-1330 - Import Tags found in Summary
  api/net/Areas/Services/Controllers/ContentController.cs
  services/net/content/Config/ContentMigrationOptions.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/ImageMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
Labels: enhancement

#842 TNO-1427: Cleanup console warnings
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#843 TNO-1415: Top stories
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  app/subscriber/src/features/top-stories/index.ts
  app/subscriber/src/features/top-stories/styled/TopStories.tsx
  app/subscriber/src/features/top-stories/styled/index.ts
Labels: enhancement, subscriber

#844 TNO-1411: Add page number to content view
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: subscriber

#849 TNO-1213: Create Razor Frontpages Report Template
  libs/net/dal/Migrations/1.0.32/Up/PostUp/00-Report.sql
  libs/net/dal/Migrations/20230621215635_1.0.32.Designer.cs
  libs/net/dal/Migrations/20230621215635_1.0.32.cs
Labels: enhancement, DB Migration

#851 TNO-1394 Enhance Editor Papers
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/components/ReportActions.tsx
Labels: enhancement, editor

#853 TNO-1378: Multiple ministers can now be selected
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/settings/MyMinisterSettings.tsx
Labels: enhancement, subscriber

#854 TNO-1288: Adjust order of display of papers
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/utils/makeFilter.ts
  libs/net/dal/Services/ContentService.cs
Labels: enhancement, subscriber

#856 Little bug tweaks for multi minister
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#859 TNO-1426: App responsiveness
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/components/search-with-logout/styled/SearchWithLogout.tsx
  app/subscriber/src/features/commentary/styled/Commentary.tsx
  app/subscriber/src/features/front-pages/FrontPages.tsx
  app/subscriber/src/features/front-pages/styled/FrontPages.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/constants/columns.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: bug, subscriber

#861 feat: #tno-1331 - Ingest files from TNO 1.0
  libs/net/dal/Migrations/1.0.35/Down/PreDown/00-Ingest.sql
  libs/net/dal/Migrations/1.0.35/Down/PreDown/01-Connection.sql
  libs/net/dal/Migrations/1.0.35/Up/PostUp/00-Connection.sql
  libs/net/dal/Migrations/1.0.35/Up/PostUp/01-Ingest.sql
  libs/net/dal/Migrations/20230627191643_1.0.35.Designer.cs
  libs/net/dal/Migrations/20230627191643_1.0.35.cs
  services/net/contentmigration/Config/ActionType.cs
  services/net/contentmigration/Config/ContentMigrationOptions.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/Models/FileMigrationModel.cs
  services/net/contentmigration/appsettings.json
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/IContentMigrator.cs
  services/net/contentmigration/migrators/ImageMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
Labels: enhancement

#860 Undefined myMinisters bug
  app/subscriber/src/features/my-minister/MyMinister.tsx
Labels: bug, subscriber

#862 fix: #tno-1473 - fixed config update
  api/net/Areas/Services/Controllers/IngestController.cs
  app/editor/src/features/admin/ingests/configurations/DbMigration.tsx
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  libs/net/services/Actions/Managers/ServiceActionManager`.cs
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Interfaces/IApiService.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#863 Minor css tweaks
  app/subscriber/src/features/home/constants/columns.tsx
Labels: bug

#864 feat: #tno-14745 - using a union all to solve
  db/oracle/docker/scripts/03_objects.sql
  services/net/contentmigration/sources/oracle/Configuration/NewsItemConfiguration.cs
  services/net/contentmigration/sources/oracle/Entities/NewsItem.cs
Labels: enhancement

#865 TNO-1434: Bold results on search page
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: enhancement

#866 TNO-1439: Include source on internet types
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
Labels: bug

#867 TNO-1435: Adjust alignment of side menu
  app/subscriber/src/components/sidebar/SelectableMenuItems.tsx
Labels: bug

#868 TNO-1448: Link to source url when present
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: enhancement, subscriber

#870 Search page bug
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#858 TNO-1209 (Fix the missing images issue in email)
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Services/Controllers/ContentController.cs
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Interfaces/IApiService.cs
  libs/net/template/Models/Reports/TemplateModel.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, enhancement

#872 fix: tno-1497 - re-mapped Categories to Labels
  libs/net/kafka/Models/ContentBase.cs
  libs/net/kafka/Models/LabelModel.cs
  libs/net/models/Areas/Services/Models/Content/ContentLabelModel.cs
  services/net/content/ContentManager.cs
  services/net/syndication/SyndicationAction.cs
Labels: bug

#873 TNO-1209 updates for missing images
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug, enhancement
