Repository bcgov/tno, pull requests merged in 2023-11, with the labels that each got.

#1205 fix: #tno-1956 - stopped content service from stripping
  libs/net/core/Extensions/StringExtensions.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
  services/net/filemonitor/FilemonitorAction.cs
  services/net/image/ImageAction.cs
  services/net/syndication/SyndicationAction.cs
Labels: bug

#1208 Fix notification bugs
  api/net/Areas/Admin/Controllers/NotificationController.cs
  app/editor/src/features/admin/filters/FilterSettingsForm.tsx
  app/editor/src/features/admin/notifications/NotificationForm.tsx
  app/editor/src/features/admin/notifications/constants/defaultNotification.ts
  libs/net/dal/Services/NotificationService.cs
Labels: bug, editor

#1210 TNO-1943 Update Papers filter
  app/editor/src/features/content/papers/constants/defaultPaperFilter.ts
Labels: bug, editor

#1211 Fix view report instance
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  libs/net/kafka/KafkaListener`.cs
Labels: bug

#1212 TNO-1810 Drag and drop between different sections
  app/subscriber/src/features/my-reports/view/ReportSnapshotEdit.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionContent.tsx
Labels: subscriber

#1213 fix: #tno-1590 - made duplicate detection more robust
  services/net/image/ImageAction.cs
Labels: bug

#1214 TNO-1840 Change the scope to hour validation
  app/editor/src/features/content/form/ContentForm.tsx
Labels: bug, editor

#1215 TNO-1885: Line breaks in Intro to evening newscasts are not displaying in preview
  app/editor/src/features/admin/report-templates/constants/defaultAVOverviewRazorTemplate.ts
  libs/net/dal/Migrations/1.0.84/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20231101233407_1.0.84.Designer.cs
  libs/net/dal/Migrations/20231101233407_1.0.84.cs
Labels: bug, DB Migration, editor

#1217 Remainder of press gallery bugs
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/createFilterSettings.ts
Labels: bug, subscriber

#1218 Add loading indicator to Press Gallery table
  app/subscriber/src/features/press-gallery/PressGallery.tsx
Labels: bug, subscriber

#1220 TNO-1893: Evening Overview Summary Lines
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: bug, editor

#1221 Update configs
  openshift/kustomize/services/content/base/deploy.yaml
  openshift/kustomize/services/content/overlays/dev-tno/kustomization.yaml
  openshift/kustomize/services/content/overlays/dev/kustomization.yaml
  openshift/kustomize/services/content/overlays/prod/kustomization.yaml
  openshift/kustomize/services/content/overlays/test-tno/kustomization.yaml
  openshift/kustomize/services/content/overlays/test/kustomization.yaml
  openshift/kustomize/services/indexing/base/deploy.yaml
  openshift/kustomize/services/indexing/overlays/dev/kustomization.yaml
  openshift/kustomize/services/indexing/overlays/prod/kustomization.yaml
  openshift/kustomize/services/indexing/overlays/test/kustomization.yaml
Labels: devops

#1222 TNO-1954: Evening Overview feedback
  app/editor/src/features/reports/av-overview/AVOverview.tsx
  app/editor/src/features/reports/av-overview/OverviewSection.tsx
  app/editor/src/features/reports/av-overview/styled/AVOverview.tsx
  libs/net/dal/Services/AVOverviewInstanceService.cs
Labels: bug, enhancement, editor

#1225 TNO-1952: MMI Evening Overview - five fixes
  app/editor/src/features/admin/report-templates/constants/defaultAVOverviewRazorTemplate.ts
  app/editor/src/features/reports/av-overview/EditBroadcastDetails.tsx
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  libs/net/dal/Migrations/1.0.85/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20231106202829_1.0.85.Designer.cs
  libs/net/dal/Migrations/20231106202829_1.0.85.cs
Labels: enhancement, DB Migration, editor

#1224 View Report Page
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/features/my-reports/constants/reportProductColumns.tsx
  app/subscriber/src/features/my-reports/view/ViewReport.tsx
  app/subscriber/src/features/my-reports/view/styled/ViewReport.tsx
  app/subscriber/src/features/my-reports/view/styled/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
  libs/net/dal/Services/ReportService.cs
Labels: enhancement, subscriber

#1228 tno-2026 - fix memory issue service
  libs/net/kafka/KafkaListener`.cs
  libs/net/kafka/TNO.Kafka.csproj
  libs/net/services/TNO.Services.csproj
  openshift/kustomize/services/content/base/deploy.yaml
  openshift/kustomize/services/folder-collection/base/deploy.yaml
  openshift/kustomize/services/indexing/base/deploy.yaml
  services/net/content/ContentManager.cs
  services/net/content/ContentService.cs
  services/net/folder-collection/FolderCollectionService.cs
  services/net/indexing/IndexingManager.cs
  services/net/indexing/IndexingService.cs
Labels: bug

#1227 TNO-1892: Filter media type, add page, all but source filtering
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/index.ts
  app/subscriber/src/features/filter-media/styled/FilterMedia.tsx
  app/subscriber/src/features/filter-media/styled/index.ts
  app/subscriber/src/features/landing/Landing.tsx
Labels: enhancement, subscriber

#1230 TNO-1929: Evening Overview summaries field: character limit of 80
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: enhancement, editor

#1231 TNO-1951: MMI Evening Overview - snippet options
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: enhancement, editor

#1232 Fix Notification Service
  openshift/kustomize/services/build/base/notification.yaml
  services/net/content/appsettings.json
  services/net/ffmpeg/appsettings.json
  services/net/indexing/appsettings.json
  services/net/nlp/appsettings.json
  services/net/notification/Validation/NotificationValidator.cs
  services/net/transcription/appsettings.json
Labels: bug

#1226 TNO-1659-template-update
  libs/net/dal/Migrations/1.0.87/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20231107194039_1.0.87.Designer.cs
  libs/net/dal/Migrations/20231107194039_1.0.87.cs
Labels: subscriber, editor

#1233 feat: #tno-1984 - tag content migrated from TNO
  services/net/contentmigration/Config/ContentMigrationOptions.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/appsettings.json
Labels: enhancement

#1234 TNO-1883: Link to Evening Overview in Left Hand menu not working on Subscriber site
  app/editor/src/features/reports/av-overview/AVOverview.tsx
  app/subscriber/src/features/daily-overview/AVOverviewPreview.tsx
Labels: bug, subscriber, editor

#1237 TNO-2016: autopopulate timestamp for evening report
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: enhancement, editor

#1238 TNO-1883 updates based on the QA feedback
  app/subscriber/src/features/daily-overview/AVOverviewPreview.tsx
Labels: bug, subscriber

#1239 TNO-1938 Persist press gallery filters
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
  app/subscriber/src/store/slices/content/contentSlice.ts
  app/subscriber/src/store/slices/content/interfaces/IContentState.ts
  app/subscriber/src/store/slices/content/useContentStore.ts
Labels: enhancement, subscriber

#1241 TNO-1883: Link to Evening Overview in Left Hand menu not working on Subscriber site
  app/subscriber/src/features/daily-overview/AVOverviewPreview.tsx
Labels: bug, subscriber

#1236 TNO-1652: Show Results of Searches
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/css/_colors.scss
  app/subscriber/src/features/commentary/styled/Commentary.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/constants/columns.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/hooks/index.ts
  app/subscriber/src/features/search-page/hooks/useParamsToFilter.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1243 TNO-1966: Be able to click row of sub options
  app/subscriber/src/components/sidebar/advanced-search/components/MediaSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
Labels: enhancement, subscriber

#1246 TNO-1941: Perfomance: Slow Input when working with Evening Report form
  libs/npm/core/src/components/form/textarea/TextArea.tsx
Labels: bug, enhancement, tno-core update

#1247 TNO-1917: Default start/end date, default 500 size
  app/subscriber/src/components/sidebar/advanced-search/components/DateSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/features/constants/defaultFilterSettings.ts
  app/subscriber/src/features/constants/index.ts
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/index.ts
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/utils/createFilterSettings.ts
  app/subscriber/src/features/utils/index.ts
Labels: bug, subscriber

#1245 TNO-1954 updates
  libs/net/dal/Services/AVOverviewInstanceService.cs
  libs/net/entities/AVOverviewSection.cs
  libs/net/entities/AVOverviewSectionItem.cs
Labels: bug, editor

#1252 fix: #tno-2041 - moved image inhouse
  openshift/kustomize/kafka/kowl/base/deploy.yaml
  openshift/kustomize/kafka/kowl/overlays/dev/kustomization.yaml
  openshift/kustomize/kafka/kowl/overlays/prod/kustomization.yaml
  openshift/kustomize/kafka/kowl/overlays/test/kustomization.yaml
Labels: bug, devops

#1253 TNO-1774 Update ingest services
  libs/net/services/Actions/IIngestAction`.cs
  libs/net/services/Actions/IServiceActionManager.cs
  libs/net/services/Actions/IServiceAction`.cs
  libs/net/services/Actions/IngestAction.cs
  libs/net/services/Actions/Managers/IIngestActionManager.cs
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  libs/net/services/Actions/Managers/ServiceActionManager`.cs
  libs/net/services/Helpers/IApiService.cs
  libs/net/services/Helpers/IngestManagerFactory`.cs
  libs/net/services/Managers/IIngestManager.cs
  libs/net/services/Managers/IServiceManager.cs
  libs/net/services/Managers/IngestManager`.cs
  libs/net/services/Runners/BaseService.cs
  services/net/capture/CaptureAction.cs
  services/net/clip/ClipAction.cs
  services/net/command/CommandAction`.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/filemonitor/FilemonitorAction.cs
  services/net/image/ImageAction.cs
  services/net/syndication/SyndicationAction.cs
Labels: bug, enhancement

#1256 fix: #tno-2042 - skip records with no title
  services/net/content/ContentManager.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/appsettings.json
Labels: bug

#1255 TNO-1965 Fix Blacks Ingest
  services/net/filemonitor/FilemonitorAction.cs
Labels: bug

#1259 TNO-1965 Fix File Monitor Service
  app/editor/src/features/admin/ingests/configurations/Newspaper.tsx
  services/net/filemonitor/FilemonitorAction.cs
  services/net/filemonitor/models/Fields.cs
Labels: bug

#1260 TNO-1965 Fix File Monitor Service
  services/net/filemonitor/FilemonitorAction.cs
Labels: bug

#1261 TNO-1522 Fix elastic migration
  tools/elastic/migration/Migrations/1.0.9/up/pre/01-index-content.json
Labels: bug, Elastic Migration

#1262 Small style fix
  app/subscriber/src/components/sidebar/advanced-search/components/sections/MediaSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
Labels: bug

#1263 TNO-2050 Fix tooltip
  app/editor/src/App.tsx
  app/editor/src/components/layout/styled/Layout.tsx
  app/editor/src/index.scss
Labels: bug

#1264 TNO-2058 Add SignalR
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/store/hooks/signalr/index.ts
  app/subscriber/src/store/hooks/signalr/interfaces/IWorkOrderToast.ts
  app/subscriber/src/store/hooks/signalr/interfaces/index.ts
  app/subscriber/src/store/hooks/signalr/useApiHub.ts
  app/subscriber/src/store/slices/app/appSlice.ts
  app/subscriber/src/store/slices/app/interfaces/IAppState.ts
  app/subscriber/src/store/slices/app/useAppStore.ts
Labels: enhancement, subscriber

#1271 TNO-2016: Autopopulate timestamp for evening report using publishedOn media date
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: enhancement, editor

#1272 TNO-2081: Remove search tags and height of selects
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
Labels: bug

#1277 TNO-1818 Allow update with same name report
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
Labels: bug, subscriber

#1279 TNO-2022: Update search list view styling
  app/subscriber/src/components/table/SubscriberTableContainer.tsx
  app/subscriber/src/components/table/index.ts
  app/subscriber/src/components/table/styled/SubscriberTableContainer.tsx
  app/subscriber/src/components/table/styled/index.ts
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/constants/columns.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
Labels: subscriber

#1278 TNO-1598: Remove footer, add info shield
  app/subscriber/src/components/footer/SubscriberFooter.tsx
  app/subscriber/src/components/footer/index.ts
  app/subscriber/src/components/footer/styled/SubscriberFooter.tsx
  app/subscriber/src/components/footer/styled/index.ts
  app/subscriber/src/components/info/InfoShield.tsx
  app/subscriber/src/components/info/index.ts
  app/subscriber/src/components/info/styled/InfoShield.tsx
  app/subscriber/src/components/info/styled/index.ts
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/sidebar/CustomSidebar.tsx
  app/subscriber/src/components/sidebar/styled/CustomSidebar.tsx
Labels: enhancement, subscriber

#1280 TNO-2017 Fix my reports
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Services/Controllers/ReportInstanceController.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/utils/calcNextSend.ts
  app/subscriber/src/store/hooks/subscriber/useReports.ts
  libs/net/dal/Services/Interfaces/IReportInstanceService.cs
  libs/net/dal/Services/ReportInstanceService.cs
  libs/net/dal/Services/ReportService.cs
Labels: bug, subscriber

#1281 feat: #tno-2054 - new page for MMI Products
  app/editor/src/features/admin/products/ProductDetailsForm.tsx
Labels: enhancement

#1282 TNO-2023, TNO-2024: Modify / view searches
  app/subscriber/src/components/info/InfoShield.tsx
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/components/tooltip-menu/TooltipMenu.tsx
  app/subscriber/src/components/tooltip-menu/index.ts
  app/subscriber/src/components/tooltip-menu/styled/TooltipMenu.tsx
  app/subscriber/src/components/tooltip-menu/styled/index.ts
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/constants/columns.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1283 Search Enhancements
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/basic-search/index.ts
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/basic-search/styled/index.ts
  app/subscriber/src/components/search-with-logout/SearchWithLogout.tsx
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/sections/SearchInGroup.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/components/user-profile/styled/UserProfile.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/constants/columns.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
  app/subscriber/src/features/search-page/MySearchesSection.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, enhancement, subscriber

#1286 TNO-1971: Elastic search help text / fix store filter bug
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/ElasticInfo.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/index.ts
  app/subscriber/src/components/sidebar/advanced-search/components/styled/ElasticInfo.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/styled/index.ts
  app/subscriber/src/components/sidebar/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/components/tooltip-menu/TooltipMenu.tsx
  app/subscriber/src/components/tooltip-menu/styled/TooltipMenu.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-searches/utils/settingsToFilter.ts
Labels: enhancement, subscriber

#1288 Style Enhancements
  app/subscriber/src/features/my-searches/utils/settingsToFilter.ts
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, enhancement, subscriber

#1290 feat: #tno-1937 - small fix for usability
  app/editor/src/features/admin/products/ProductDetailsForm.tsx
  app/editor/src/features/admin/products/ProductSubscribersForm.tsx
  app/subscriber/src/components/section/styled/Section.tsx
Labels: enhancement, subscriber, editor

#1291 fix: #tno-1937 - fix null reference error
  app/editor/src/features/admin/products/constants/subscriberColumns.tsx
Labels: bug, editor

#1292 TNO-2061: Autofill Evening Overview summary
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/styled/AutoComplete.tsx
  app/editor/src/features/reports/av-overview/styled/index.ts
Labels: enhancement, subscriber

#1293 Fix scrolling advanced search
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, subscriber
