Repository bcgov/tno, pull requests merged in 2023-10, with the labels that each got.

#1111 TNO-1823 Fix ingest services
  libs/net/core/Http/OpenIdConnectRequestClient.cs
  services/net/syndication/SyndicationAction.cs
Labels: bug

#1112 TNO-1739 Fix file paths
  api/net/Areas/Subscriber/Controllers/ContributorController.cs
  libs/net/dal/Models/ContentFileReference.cs
  services/net/capture/CaptureAction.cs
  services/net/transcription/TranscriptionManager.cs
Labels: bug

#1110 feat: #tno-1733 - fixed transcript
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
Labels: enhancement

#1115 TNO-1505 Filters fixed on Home and Top Stories
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#1114 TNO-1735: AM Report: Increase # of rows to...
  app/editor/src/features/content/papers/styled/Papers.tsx
Labels: enhancement, editor

#1119 TNO-1794 Suppress transcript warning messages
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: enhancement, subscriber

#1117 feat: #tno-1730 - added basic filter import/export
  app/editor/src/features/admin/filters/FilterForm.tsx
  app/editor/src/features/admin/filters/FilterFormImportExport.tsx
  app/editor/src/features/admin/filters/utils/FilterImportExportModel.ts
  app/editor/src/features/admin/filters/utils/IFilterImportExportModel.ts
  app/editor/src/features/admin/filters/utils/exportFilter.ts
  app/editor/src/features/admin/filters/utils/index.ts
  app/editor/src/features/admin/filters/utils/parseExportedFilter.ts
Labels: enhancement

#1120 TNO-1694: Admin Evening Overview Subscribers
  app/editor/src/features/admin/av-overviews/AVOverview.tsx
  app/editor/src/features/admin/av-overviews/ListFilter.tsx
  app/editor/src/features/admin/av-overviews/OverviewSubscribers.tsx
  app/editor/src/features/admin/av-overviews/constants/index.ts
  app/editor/src/features/admin/av-overviews/constants/subscriberColumns.tsx
  libs/net/dal/Services/AVOverviewTemplateService.cs
Labels: enhancement, editor

#1121 TNO-1643: Capture when user unsubscribes from...
  app/editor/src/features/admin/notifications/constants/subscriberColumns.tsx
  app/editor/src/features/admin/reports/constants/subscriberColumns.tsx
  libs/net/dal/Services/NotificationService.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/entities/UserNotification.cs
  libs/net/models/Areas/Admin/Notification/NotificationModel.cs
  libs/net/models/Areas/Admin/Report/ReportModel.cs
Labels: enhancement, editor

#1123 TNO-1501: View evening overview on MMI Subscriber
  app/subscriber/src/components/layout/constants/SidebarMenuItems.tsx
  app/subscriber/src/components/sidebar/CustomSidebar.tsx
  app/subscriber/src/components/sidebar/styled/CustomSidebar.tsx
  app/subscriber/src/features/daily-overview/AVOverviewPreview.tsx
  app/subscriber/src/features/daily-overview/hooks/useAVOverviewInstances.ts
  app/subscriber/src/features/daily-overview/styled/AVOverviewPreview.tsx
  app/subscriber/src/features/daily-overview/styled/index.ts
  app/subscriber/src/features/landing/Landing.tsx
Labels: enhancement, subscriber

#1126 TNO-1834: Update page titles, text to reflect...
  app/editor/package.json
  app/editor/public/index.html
  app/editor/src/App.tsx
  app/editor/src/features/access-request/PreapprovedRequest.tsx
  app/editor/src/features/home/InfoText.tsx
  app/editor/src/features/login/LoginPanel.tsx
  app/subscriber/package.json
  app/subscriber/public/index.html
  app/subscriber/src/App.tsx
  app/subscriber/src/features/access-request/PreapprovedRequest.tsx
  libs/net/dal/Migrations/1.0.26/Up/PostUp/00-Report.sql
Labels: enhancement

#1125 Tno 1775 scroll to the top commentary and frontpages click
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/front-pages/FrontPages.tsx
  app/subscriber/src/store/hooks/subscriber/index.ts
  app/subscriber/src/store/hooks/subscriber/useNavigateAndScroll.ts
Labels: bug, subscriber

#1128 TNO-1852: Unlock Evening Overview to allow...
  app/editor/src/features/reports/av-overview/AVOverview.tsx
Labels: enhancement, editor

#1129 TNO-1872: Search Spinner to show Progress
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: enhancement, subscriber

#1127 TNO-1859: remove the tags icon/selection box
  app/subscriber/src/features/content/view-content/ViewContentToolbar.tsx
Labels: enhancement, subscriber

#1131 feat: #tno-1730 - add isEnabled to filter import
  app/editor/src/features/admin/filters/FilterFormQuery.tsx
  app/editor/src/features/admin/filters/utils/parseExportedFilter.ts
Labels: enhancement

#1132 feat: #tno-1730 - add button for new filter
  app/editor/src/features/admin/filters/FilterForm.tsx
  app/editor/src/features/admin/filters/FilterFormImportExport.tsx
  app/editor/src/features/admin/filters/styled/FilterForm.tsx
Labels: enhancement

#1134 TNO-1876 Display image upload
  app/editor/src/features/content/form/ContentForm.tsx
Labels: bug, editor

#1135 TNO-1833: Editor app headline search should work when using multiple words
  libs/net/dal/Services/ContentService.cs
Labels: bug, editor

#1137 TNO-1835: Fix evening overview clip options
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: bug, editor

#1136 TNO-1838 Display id on content form
  app/editor/src/features/content/form/components/tool-bar/form/StatusSection.tsx
Labels: enhancement, editor

#1138 Subscriber site double scrollbar fix
  app/subscriber/src/components/sidebar/styled/CustomSidebar.tsx
Labels: bug, subscriber

#1140 TNO-1531 Fix invalid fitler date settings
  app/editor/src/features/admin/filters/FilterForm.tsx
  app/editor/src/features/admin/filters/FilterFormImportExport.tsx
  app/editor/src/features/admin/filters/FilterFormQuery.tsx
  app/subscriber/src/features/content/list-view/interfaces/IContentListFilter.ts
  app/subscriber/src/features/my-searches/FilterFormDetails.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/utils/filterFormat.ts
  openshift/kustomize/tekton/base/tasks/deploy-all.yaml
Labels: bug, subscriber, editor

#1142 fix: #tno-1886 - fixed null reference error
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1143 TNO-1856: Content list view options
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/constants/columns.tsx
  app/subscriber/src/features/home/styled/Home.tsx
Labels: enhancement, subscriber

#1133 TNO-1861 Add frontpages session
  api/net/Areas/Subscriber/Controllers/LookupController.cs
  app/subscriber/src/components/layout/constants/SidebarMenuItems.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
  app/subscriber/src/features/todays-front-pages/constants/defaultFilter.ts
  app/subscriber/src/features/todays-front-pages/constants/index.ts
  app/subscriber/src/features/todays-front-pages/index.ts
  app/subscriber/src/features/todays-front-pages/styled/TodaysFrontPages.tsx
  app/subscriber/src/features/todays-front-pages/styled/index.ts
  app/subscriber/src/store/hooks/lookup/useLookup.ts
  libs/net/models/Areas/Subscriber/Models/Lookup/LookupModel.cs
Labels: enhancement, subscriber

#1146 TNO-1876 Align upload component
  app/editor/src/features/content/form/ContentForm.tsx
Labels: bug, editor

#1145 TNO-1799 Fix DevOps Pipelines
  app/editor/src/features/admin/ingests/IngestDetails.tsx
  openshift/kustomize/tekton/base/tasks/build-all.yaml
  openshift/kustomize/tekton/base/tasks/deploy-all.yaml
Labels: devops

#1149 TNO-1839 Mask and state fix
  app/editor/src/features/content/form/ContentStoryForm.tsx
Labels: bug, editor

#1151 TNO-1531 Ignore empty queries
  openshift/kustomize/tekton/base/tasks/build-all.yaml
  openshift/kustomize/tekton/base/tasks/deploy-all.yaml
  services/net/content/ContentManager.cs
  services/net/folder-collection/FolderCollectionManager.cs
  services/net/nlp/NLPManager.cs
  services/net/transcription/TranscriptionManager.cs
Labels: bug, devops

#1152 TNO-1865: Provide Colour Blind Colours for Environments
  app/editor/src/css/_colors.scss
  app/subscriber/src/css/_colors.scss
Labels: enhancement, subscriber, editor

#1154 Fix styling - View Options (list view)
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/styled/Home.tsx
Labels: bug, subscriber

#1155 TNO-1889: Invalid start date on save (when left blank)
  app/subscriber/src/features/search-page/utils/filterFormat.ts
Labels: bug, subscriber

#1156 TNO-1503: [QA] pls remove TBD (body field) from displaying on Subscriber site (Front page images)
  libs/net/dal/Migrations/1.0.77/Up/PostUp/00-Content.sql
  libs/net/dal/Migrations/20231017194248_1.0.77.Designer.cs
  libs/net/dal/Migrations/20231017194248_1.0.77.cs
  services/net/content/ContentManager.cs
Labels: enhancement, DB Migration, subscriber

#1157 TNO-1848: State bug with home filters
  app/editor/src/features/content/form/components/tool-bar/form/ActionSection.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/constants/HomeFilterType.ts
  app/subscriber/src/features/home/home-filters/HomeFilters.tsx
Labels: bug, subscriber

#1153 TNO-1866: Change search filters for Press Gallery
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/interfaces/IDateOptions.tsx
  app/subscriber/src/features/press-gallery/interfaces/IPressMember.tsx
  app/subscriber/src/features/press-gallery/interfaces/index.ts
  app/subscriber/src/features/press-gallery/styled/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/generateDates.ts
  app/subscriber/src/features/press-gallery/utils/index.ts
Labels: enhancement, subscriber

#1159 TNO-1826 Add unzip to Image Service
  app/editor/src/features/admin/ingests/configurations/FrontPage.tsx
  libs/net/dal/Migrations/Initial/Up/PostUp/02-Ingest.sql
  services/net/image/ImageAction.cs
Labels: enhancement, editor

#1147 TNO-1751: Convert Advanced Search to use the Raw Elasticsearch Query endpoint
  app/editor/src/features/admin/filters/constants/defaultFilter.ts
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/ShowOnlySection.tsx
  app/editor/src/features/content/list-view/hooks/useColumns.tsx
  app/editor/src/features/content/list-view/utils/getActions.ts
  app/editor/src/features/content/list-view/utils/getFilter.ts
  app/editor/src/features/content/list-view/utils/index.ts
  app/editor/src/store/hooks/editor/useContent.ts
  libs/npm/core/src/hooks/api-editor/interfaces/IFilterSettingsModel.ts
  libs/npm/core/src/utils/elastic/generateQuery.ts
  libs/npm/core/src/utils/elastic/generateQueryForExistCheck.ts
  libs/npm/core/src/utils/elastic/generateTerms.ts
Labels: enhancement, tno-core update, editor

#1160 Tno 1802 report form validation
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/editor/src/features/admin/reports/ReportFormDetails.tsx
  app/editor/src/features/admin/reports/ReportFormTemplate.tsx
  app/editor/src/features/admin/reports/validation/ReportFormSchema.ts
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/ReportAdminEdit.tsx
  app/subscriber/src/features/my-reports/admin/validation/ReportFormSchema.ts
Labels: subscriber, editor

#1164 TNO-1873 Fix FFmpeg Service
  app/editor/src/features/content/form/components/upload/Upload.tsx
  services/net/ffmpeg/FFmpegManager.cs
  services/net/ffmpeg/TNO.Services.FFmpeg.csproj
Labels: bug

#1165 TNO-1873 Fix A/V player
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug

#1167 fix: #tno-1901 - added TryParse to ignore unknowns
  services/net/contentmigration/migrators/PaperMigrator.cs
Labels: bug

#1168 Fix to report saving
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
Labels: bug

#1166 TNO-1644: When user is disabled they should unsubscribe from reports/notifications
  api/net/Areas/Admin/Controllers/UserController.cs
  libs/net/dal/Services/Interfaces/INotificationService.cs
  libs/net/dal/Services/Interfaces/IReportService.cs
  libs/net/dal/Services/NotificationService.cs
  libs/net/dal/Services/ReportService.cs
Labels: enhancement, editor

#1171 TNO-1531 Fix Folder Collection Service
  openshift/kustomize/services/build/base/folder-collection.yaml
  openshift/kustomize/services/build/base/kustomization.yaml
  services/net/filemonitor/FilemonitorAction.cs
  services/net/folder-collection/FolderCollectionManager.cs
Labels: bug

#1172 TNO-1845 Fix Scheduler Service
  openshift/kustomize/services/build/base/kustomization.yaml
  openshift/kustomize/services/build/base/scheduler.yaml
  services/net/scheduler/SchedulerManager.cs
Labels: bug

#1173 fix: #tno-1918 - removing Regex.Unescape
  services/net/contentmigration/migrators/ContentMigrator.cs
Labels: bug

#1174 TNO-1906 Set default filter size to 100
  app/editor/src/features/admin/filters/FilterFormQuery.tsx
  app/editor/src/features/admin/filters/constants/defaultFilter.ts
  app/subscriber/src/features/my-searches/FilterFormDetails.tsx
  app/subscriber/src/features/my-searches/constants/defaultFilter.ts
Labels: bug

#1176 TNO-1908: Elasticsearch regression issues
  libs/npm/core/src/hooks/api-editor/interfaces/IFilterSettingsModel.ts
  libs/npm/core/src/utils/elastic/generateQuery.ts
  libs/npm/core/src/utils/elastic/generateTerm.ts
Labels: bug, tno-core update, editor

#1178 TNO-1902 Improve Content List View
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Editor/Controllers/SystemMessageController.cs
  api/net/Areas/Services/Controllers/ContentController.cs
  api/net/Areas/Subscriber/Controllers/SystemMessageController.cs
  app/editor/src/components/wysiwyg/Wysiwyg.tsx
  app/editor/src/features/admin/folders/FolderFormCollect.tsx
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/components/toning/ToningGroup.tsx
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/components/ReportActions.tsx
  app/editor/src/features/content/validation/ContentFormSchema.ts
  app/editor/src/store/slices/content/contentSlice.ts
  app/editor/src/store/slices/content/interfaces/IContentSearchResult.ts
  app/editor/src/store/slices/content/interfaces/IContentState.ts
Labels: bug, enhancement, editor

#1179 TNO-1802 Function to calculate next report send
  app/subscriber/src/features/my-reports/utils/calcNextSend.ts
  app/subscriber/src/features/my-reports/utils/isAutoSend.ts
  app/subscriber/src/features/my-reports/utils/isAutoSendDisabled.ts
Labels: subscriber

#1180 TNO-1650 Fix Event Handler Service
  .github/CODEOWNERS
  libs/net/entities/ScheduleWeekDay.cs
  openshift/kustomize/services/indexing/base/deploy.yaml
  openshift/kustomize/services/indexing/overlays/dev/kustomization.yaml
  openshift/kustomize/services/indexing/overlays/prod/kustomization.yaml
  openshift/kustomize/services/indexing/overlays/test/kustomization.yaml
  services/net/event-handler/EventHandlerManager.cs
  services/net/scheduler/SchedulerManager.cs
Labels: bug, devops

#1181 feat: #tno-1817 - allow section content grouping
  app/editor/src/features/admin/reports/ReportSection.tsx
  libs/net/dal/Migrations/1.0.80/Up/PostUp/00-Report_Template.sql
  libs/net/dal/Migrations/20231024185759_1.0.80.Designer.cs
  libs/net/dal/Migrations/20231024185759_1.0.80.cs
  libs/net/template/ReportExtensions.cs
Labels: enhancement, DB Migration

#1182 TNO-1922: Pagination widget & # of items have gone missing from home page grid
  app/editor/src/features/admin/filters/constants/defaultFilter.ts
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/list-view/utils/getFilter.ts
  app/editor/src/store/hooks/editor/useContent.ts
  libs/npm/core/src/components/table/TablePager.tsx
  libs/npm/core/src/hooks/api-editor/interfaces/IFilterSettingsModel.ts
  libs/npm/core/src/utils/elastic/generateQuery.ts
Labels: bug, tno-core update, editor

#1183 feat: #tno-1932 - add metadata for migrated content
  libs/net/models/Areas/Services/Models/ContentReference/ContentReferenceModel.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
Labels: enhancement

#1184 TNO-1875 Enhance Ingest Management
  api/net/Areas/Helpers/WorkOrderHelper.cs
  app/editor/src/features/admin/filters/FilterList.tsx
  app/editor/src/features/admin/filters/ListFilter.tsx
  app/editor/src/features/admin/folders/FolderFilter.tsx
  app/editor/src/features/admin/folders/FolderList.tsx
  app/editor/src/features/admin/ingest-types/IngestTypeFilter.tsx
  app/editor/src/features/admin/ingest-types/IngestTypeList.tsx
  app/editor/src/features/admin/ingests/IngestFilter.tsx
  app/editor/src/features/admin/ingests/IngestList.tsx
  app/editor/src/features/admin/reports/ListFilter.tsx
  app/editor/src/features/admin/reports/ReportList.tsx
  app/editor/src/features/work-orders/transcription/hooks/useColumns.tsx
  app/editor/src/store/slices/admin/adminSlice.ts
  app/editor/src/store/slices/admin/interfaces/IAdminState.ts
  app/editor/src/store/slices/admin/useAdminStore.ts
  openshift/kustomize/api/base/deploy.yaml
  openshift/kustomize/api/base/statefulset.yaml
  openshift/kustomize/api/overlays/dev/kustomization.yaml
  openshift/kustomize/api/overlays/prod/kustomization.yaml
  openshift/kustomize/api/overlays/test/kustomization.yaml
Labels: bug, enhancement, devops, editor

#1187 TNO-1751: Convert Advanced Search to use the Raw Elasticsearch Query endpoint
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/list-view/hooks/useColumns.tsx
  app/editor/src/features/content/list-view/utils/getFilter.ts
  app/editor/src/features/content/list-view/utils/getSortBy.ts
  app/editor/src/features/content/list-view/utils/index.ts
  libs/net/elastic/ITNOElasticClient.cs
  libs/net/elastic/TNOElasticClient.cs
  libs/npm/core/src/utils/elastic/generateQuery.ts
  libs/npm/core/src/utils/elastic/generateRangeForDateOffset.ts
Labels: bug, enhancement, tno-core update, editor

#1189 feat: #tno-1940 - tweaks to Dockerfiles
  api/net/Dockerfile
  app/editor/Dockerfile
  app/subscriber/Dockerfile
  services/net/capture/Dockerfile
  services/net/clip/Dockerfile
  services/net/command/Dockerfile
  services/net/content/Dockerfile
  services/net/contentmigration/Dockerfile
  services/net/event-handler/Dockerfile
  services/net/ffmpeg/Dockerfile
  services/net/filecopy/Dockerfile
  services/net/filemonitor/Dockerfile
  services/net/folder-collection/Dockerfile
  services/net/image/Dockerfile
  services/net/indexing/Dockerfile
  services/net/nlp/Dockerfile
  services/net/notification/Dockerfile
  services/net/reporting/Dockerfile
  services/net/scheduler/Dockerfile
  services/net/syndication/Dockerfile
  services/net/transcription/Dockerfile
Labels: enhancement

#1192 TNO-1751 updates for Top Story & Commentary
  libs/npm/core/src/utils/elastic/generateQueryForAction.ts
Labels: bug, tno-core update, editor

#1194 Fix login
  app/editor/src/store/hooks/signalr/useApiHub.ts
Labels: bug

#1193 TNO-1751 updates for page:section
  libs/npm/core/src/utils/elastic/generateQuery.ts
Labels: bug, tno-core update, editor

#1186 TNO-1612: Bug fix
  app/subscriber/src/features/my-reports/hooks/useColumns.tsx
  app/subscriber/src/features/my-reports/utils/isAutoSend.ts
  app/subscriber/src/features/my-reports/utils/isAutoSendDisabled.ts
  app/subscriber/src/features/press-gallery/PressGallery.tsx
Labels: bug, subscriber

#1195 feat: #tno-1864 - changed caching
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Editor/Controllers/ReportController.cs
  api/net/Areas/Editor/Controllers/ReportInstanceController.cs
  api/net/Areas/Helpers/IReportHelper.cs
  api/net/Areas/Helpers/ReportHelper.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/editor/src/features/admin/reports/ReportFormTemplate.tsx
  libs/net/template/IReportEngine.cs
  libs/net/template/ReportEngine.cs
  libs/net/template/TemplateEngine.cs
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#1198 TNO-1888: Modify Radio/TV Form Layout: Move Row above Tabs
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
Labels: enhancement, editor

#1190 [Now Review Ready ✅] TNO-1904: Add events filter
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/constants/HomeFilterType.ts
  app/subscriber/src/features/home/home-filters/HomeFilters.tsx
Labels: enhancement, subscriber

#1200 Tno 1814 highlight search terms
  app/subscriber/src/features/my-reports/admin/ReportAdminSettings.tsx
  libs/net/dal/Migrations/1.0.82/Up/PostUp/00-Report_Template.sql
  libs/net/dal/Migrations/20231027163043_1.0.82.Designer.cs
  libs/net/dal/Migrations/20231027163043_1.0.82.cs
  libs/net/dal/Services/ReportInstanceService.cs
  libs/net/template/ReportExtensions.cs
Labels: subscriber, editor

#1196 TNO-1909: error message when trying to add myself as subscriber to Evening Report
  libs/net/dal/Services/AVOverviewTemplateService.cs
Labels: bug, editor

#1201 TNO-1942: # of search results have gone missing...
  app/editor/src/features/content/papers/Papers.tsx
Labels: bug, editor

#1202 fix: #tno-1953 - added kafka message for upload
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug

#1204 fix: #tno-1955 - check if directory exists
  services/net/image/ImageAction.cs
Labels: bug

#1203 TNO-1855: Move advanced search
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/sidebar/CustomSidebar.tsx
  app/subscriber/src/components/sidebar/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/components/sidebar/advanced-search/components/SearchInGroup.tsx
  app/subscriber/src/components/sidebar/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/css/_colors.scss
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: enhancement, subscriber
