Repository bcgov/tno, pull requests merged in 2024-06, with the labels that each got.

#1894 TNO-2684 sort myFilters alphabetically in MySearches component
  app/subscriber/src/features/my-searches/MySearches.tsx
Labels: bug, subscriber

#1893 TNO-2728=MMI-Advanced Search Problems
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: enhancement, subscriber

#1896 TNO-2741: Advanced Search Options
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/constants/QuickPickerNames.ts
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
Labels: enhancement, subscriber

#1900 TNO-2656 fix bold search
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/search-page/utils/formatSearch.ts
Labels: bug, subscriber

#1903 TNO-2665 Fix TNO Migration
  app/editor/src/features/admin/ingests/configurations/DbMigration.tsx
Labels: bug, editor

#1899 TNO-2744: Update add to report menu
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/components/tool-bar/styled/AddToMenu.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
Labels: enhancement, subscriber

#1905 TNO-2744: Small enhancements again
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/components/tool-bar/styled/AddToMenu.tsx
Labels: enhancement, subscriber

#1907 TNO-2665 Fix TNO Migration
  app/editor/src/features/admin/ingests/configurations/DbMigration.tsx
Labels: bug, editor

#1908 TNO-2665 Fix TNO Migration
  openshift/kustomize/services/content-historic/base/deploy.yaml
  openshift/kustomize/services/content-historic/overlays/dev/kustomization.yaml
  openshift/kustomize/services/content-historic/overlays/prod/kustomization.yaml
  openshift/kustomize/services/content-historic/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-recent/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-recent/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-recent/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration/overlays/test/kustomization.yaml
Labels: bug

#1909 TNO-2665 Fix TNO Migration
  services/net/content/Dockerfile
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1904 TNO-2734 subscriber modal update styling
  app/subscriber/src/features/login/UserInfo.tsx
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
Labels: enhancement, subscriber

#1910 TNO-2665 Fix TNO Migration
  app/editor/src/features/admin/ingests/configurations/DbMigration.tsx
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  openshift/scripts/deploy.sh
  services/net/content/ContentManager.cs
  services/net/contentmigration/.gitignore
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1911 TNO-2665 Update Content Service
  api/net/Areas/Services/Controllers/SettingController.cs
  libs/net/models/Areas/Services/Models/Setting/SettingModel.cs
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Helpers/IApiService.cs
  services/net/content/ContentManager.cs
Labels: enhancement

#1913 TNO-2714 Added clip headline time
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: bug, editor

#1917 TNO-2665 Fix TNO Migration
  db/kafka/README.md
  openshift/kustomize/services/extract-quotes/base/config-map.yaml
  openshift/kustomize/services/extract-quotes/base/deploy.yaml
  openshift/kustomize/services/folder-collection/base/config-map.yaml
  openshift/kustomize/services/folder-collection/base/deploy.yaml
  openshift/kustomize/services/nlp/base/config-map.yaml
  openshift/kustomize/services/nlp/base/deploy.yaml
  openshift/kustomize/services/notification/base/config-map.yaml
  openshift/kustomize/services/notification/base/deploy.yaml
  openshift/kustomize/services/transcription/base/config-map.yaml
  openshift/kustomize/services/transcription/base/deploy.yaml
  services/net/extract-quotes/Config/ExtractQuotesOptions.cs
  services/net/extract-quotes/ExtractQuotesManager.cs
  services/net/folder-collection/Config/FolderCollectionOptions.cs
  services/net/folder-collection/FolderCollectionManager.cs
  services/net/nlp/Config/NLPOptions.cs
  services/net/nlp/NLPManager.cs
  services/net/notification/Config/NotificationOptions.cs
  services/net/notification/Validation/NotificationValidator.cs
  services/net/transcription/Config/TranscriptionOptions.cs
  services/net/transcription/TranscriptionManager.cs
Labels: enhancement

#1918 TNO-2665 Fix TNO Migration
  app/editor/src/features/admin/ingests/configurations/DbMigration.tsx
Labels: bug, editor

#1919 TNO-2665 Fix TNO Migration
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1920 TNO-2649 Send Top Stories
  app/editor/src/features/admin/filters/hooks/useElastic.ts
  app/editor/src/features/content/papers/PaperToolbar.tsx
  app/editor/src/store/hooks/lookup/useSettings.ts
  app/editor/src/store/rootReducer.ts
  app/editor/src/store/slices/index.ts
  app/editor/src/store/slices/settings/index.ts
  app/editor/src/store/slices/settings/interfaces/ISettingsState.ts
  app/editor/src/store/slices/settings/interfaces/index.ts
  app/editor/src/store/slices/settings/settingsSlice.ts
  app/editor/src/store/slices/settings/useSettingsStore.ts
  libs/net/dal/Services/NotificationService.cs
  openshift/kustomize/api/base/deploy.yaml
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/notification/NotificationManager.cs
Labels: enhancement, editor

#1921 Fix api build
  api/net/Dockerfile.aspnet
  api/net/Dockerfile.openshift
Labels: bug, devops

#1923 TNO-2712 Fix link on EOD template
  libs/net/dal/Migrations/1.0.176/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20240607192024_1.0.176.Designer.cs
  libs/net/dal/Migrations/20240607192024_1.0.176.cs
Labels: DB Migration

#1922 TNO-2719: My folder updates
  app/subscriber/src/features/my-folders/FolderList.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/hooks/index.ts
  app/subscriber/src/features/my-folders/hooks/useColumns.tsx
  app/subscriber/src/features/my-folders/index.ts
  app/subscriber/src/features/my-folders/styled/FolderList.tsx
  app/subscriber/src/features/my-folders/styled/index.ts
Labels: bug, enhancement, subscriber

#1925 Fix Reporting Service
  services/net/reporting/ReportingManager.cs
Labels: bug

#1928 TNO-2665 Fix TNO Migration
  libs/net/kafka/Models/Action.cs
  libs/net/kafka/Models/TonePool.cs
  libs/net/models/Areas/Services/Models/ContentReference/ContentReferenceMetaDataKeys.cs
  libs/net/models/Areas/Services/Models/ContentReference/ContentReferenceModel.cs
  services/net/capture/CaptureAction.cs
  services/net/clip/ClipAction.cs
  services/net/contentmigration/Config/ActionType.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/ContentMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
  services/net/filemonitor/FilemonitorAction.cs
  services/net/image/ImageAction.cs
  services/net/syndication/SyndicationAction.cs
Labels: enhancement

#1929 Fix TNO Migration
  openshift/scripts/stop.sh
  openshift/scripts/up.sh
  services/net/content/ContentManager.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1930 Fix Report Service
  services/net/reporting/ReportingManager.cs
Labels: bug

#1932 Fix Reporting Service
  libs/net/dal/Services/ReportInstanceService.cs
  services/net/reporting/ReportingManager.cs
Labels: bug

#1933 Fix TNO Migration
  services/net/contentmigration/ContentMigrationAction.cs
Labels: enhancement

#1931 TNO-2696: Image layout fixes
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/components/upload/styled/Upload.tsx
Labels: bug, editor

#1934 Tno 2745 help page
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/features/help/Help.tsx
  app/subscriber/src/features/help/index.ts
  app/subscriber/src/features/help/styled/Help.tsx
  app/subscriber/src/features/help/styled/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
Labels: subscriber

#1926 TNO-2710 No reason to display otherSource at this point. confuses the client.
  libs/net/template/ReportExtensions.cs
Labels: enhancement

#1914 Tno 2657 prevent sending empty report
  app/editor/src/features/content/papers/PaperToolbar.tsx
Labels: enhancement, editor

#1935 TNO-2713 Update transcript alerts
  libs/net/dal/Migrations/1.0.177/Up/PostUp/00-Notification-TranscriptApproved.sql
  libs/net/dal/Migrations/1.0.177/Up/PostUp/00-NotificationTemplate-TranscriptApproved.sql
  libs/net/dal/Migrations/1.0.177/Up/PostUp/00-NotificationTemplate-TranscriptRequest.sql
  libs/net/dal/Migrations/20240611134117_1.0.177.Designer.cs
  libs/net/dal/Migrations/20240611134117_1.0.177.cs
  libs/net/entities/UserReport.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: enhancement, DB Migration

#1937 TNO-2671 Update menu layout
  app/editor/src/features/navbar/NavBar.tsx
Labels: enhancement, editor

#1942 TNO-2635 front page report. Migrations 1.0.181.
  app/editor/src/features/admin/report-templates/templates/body/FrontPagesReport.cshtml
  app/editor/src/features/admin/report-templates/templates/subject/FrontPagesReport.cshtml
  libs/net/dal/Migrations/1.0.181/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20240612165322_1.0.181.Designer.cs
  libs/net/dal/Migrations/20240612165322_1.0.181.cs
Labels: enhancement, DB Migration

#1943 TNO-2704 Fix race condition
  app/editor/src/features/admin/notifications/NotificationFormTemplate.tsx
Labels: bug, editor

#1945 TNO-2764 Change to show summary and body if they differ
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#1946 Fix Featured Stories and Content View
  app/subscriber/src/features/content/view-content/ToneValue.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/WorkOrderStatus.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/content/view-content/utils/index.ts
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/appsettings.json
Labels: bug

#1947 Fix TNO Migration
  libs/net/services/Actions/IngestAction.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1948 Fix Reporting Service
  api/net/Areas/Services/Controllers/FolderController.cs
  services/net/reporting/ReportingManager.cs
Labels: bug

#1944 TNO-2720: Allow for impersonation / updating of my ministers
  api/net/Areas/Subscriber/Controllers/UserController.cs
  app/subscriber/src/components/user-profile/UserProfile.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/settings/MyMinisterSettings.tsx
Labels: bug, enhancement, subscriber

#1949 TNO-2707 Replace flex table for Grid component in content
  app/editor/src/features/admin/av-overviews/OverviewSubscribers.tsx
  app/editor/src/features/admin/notifications/NotificationSubscribersForm.tsx
  app/editor/src/features/admin/products/ProductSubscribersForm.tsx
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/list-view/styled/ContentListView.tsx
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/styled/Papers.tsx
  libs/npm/core/src/components/grid/styled/Grid.tsx
Labels: enhancement, tno-core update, editor

#1950 TNO-2692 Evening Overview formatting changes
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/styled/AVOverviewPreview.tsx
  app/subscriber/src/features/daily-overview/styled/AVOverviewPreview.tsx
  libs/net/dal/Migrations/1.0.182/Down/PostDown/01-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.182/Down/PostDown/02-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.182/Up/PostUp/01-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.182/Up/PostUp/02-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/20240614000224_1.0.182.Designer.cs
  libs/net/dal/Migrations/20240614000224_1.0.182.cs
Labels: enhancement, editor

#1951 TNO-2385 Auto convert .mov
  api/net/Areas/Services/Controllers/WorkOrderController.cs
  api/net/appsettings.Development.json
  api/net/appsettings.Staging.json
  api/net/appsettings.json
  app/editor/src/features/admin/media-types/MediaTypeForm.tsx
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/editor/src/features/navbar/NavBar.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  libs/net/models/Areas/Services/Models/WorkOrder/WorkOrderModel.cs
  libs/net/models/Settings/FFmpegConvertActionSettingsModel.cs
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Helpers/IApiService.cs
  openshift/kustomize/api/base/statefulset.yaml
  openshift/kustomize/services/ffmpeg/base/config-map.yaml
  services/net/ffmpeg/Config/ConverterOptions.cs
  services/net/ffmpeg/Config/FFmpegOptions.cs
  services/net/ffmpeg/FFmpegManager.cs
  services/net/ffmpeg/FFmpegService.cs
  services/net/ffmpeg/appsettings.json
Labels: enhancement, subscriber, editor

#1952 TNO-2385 Fix FFmpge Service
  services/net/ffmpeg/appsettings.json
Labels: bug

#1953 TNO-2385 Fix FFmpeg Service
  services/net/ffmpeg/FFmpegManager.cs
Labels: bug

#1958 TNO-2794 Add all date range
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SearchInGroup.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/constants/QuickPickerNames.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/determineActivePicker.ts
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
Labels: enhancement, subscriber

#1955 TNO-2734 subscriber modal update styling
  app/subscriber/src/components/modal/Modal.tsx
  app/subscriber/src/components/modal/styled/Modal.tsx
Labels: enhancement, subscriber

#1957 TNO-2720: Impersonation for my minster fix
  app/subscriber/src/features/settings/MyMinisterSettings.tsx
  app/subscriber/src/store/hooks/subscriber/useUsers.ts
Labels: bug, subscriber

#1959 Fix subscribe request email
  api/net/Areas/Subscriber/Controllers/ProductController.cs
Labels: bug

#1960 TNO-2707: Replace flex table to components using pagination
  app/editor/src/features/admin/users/UserFilter.tsx
  app/editor/src/features/admin/users/UserList.tsx
  app/editor/src/features/admin/users/interfaces/IUserListFilter.ts
  app/editor/src/features/admin/users/styled/UserList.tsx
  app/editor/src/features/admin/users/utils/makeUserFilter.ts
  app/editor/src/features/admin/work-orders/WorkOrderList.tsx
  app/editor/src/features/admin/work-orders/interfaces/IWorkOrderListFilter.ts
  app/editor/src/features/admin/work-orders/styled/WorkOrderList.tsx
  app/editor/src/features/admin/work-orders/utils/makeWorkOrderFilter.ts
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/work-orders/transcription/TranscriptionList.tsx
  app/editor/src/features/work-orders/transcription/styled/TranscriptionList.tsx
  app/editor/src/store/slices/admin/adminSlice.ts
Labels: enhancement, editor

#1961 TNO-2763 Internet to Online
  app/editor/src/features/content/list-view/components/tool-bar/filter/CreateNewSection.tsx
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
Labels: subscriber, editor

#1962 TNO-2385 Fix .mov conversion
  api/net/Areas/Services/Controllers/WorkOrderController.cs
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  services/net/ffmpeg/FFmpegManager.cs
Labels: bug, subscriber, editor

#1965 TNO-2385 Fix .mov conversion
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug

#1964 Tno 2758 display old content on search
  app/subscriber/src/features/search-page/PreviousResults.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/interfaces/IPreviousDate.ts
  app/subscriber/src/features/search-page/interfaces/index.ts
  app/subscriber/src/features/search-page/styled/PreviousResults.tsx
  app/subscriber/src/features/search-page/styled/index.ts
Labels: enhancement, subscriber

#1966 TNO-2755 Check content from the store
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: enhancement, subscriber

#1968 TNO-2759 Fix day filter
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#1969 TNO-2781 Add National Observer
  app/editor/src/features/admin/ingests/configurations/Newspaper.tsx
  libs/net/models/Extensions/IngestModelExtensions.cs
  services/net/content/ContentManager.cs
  services/net/filemonitor/FilemonitorAction.cs
  services/net/filemonitor/models/XmlNamespace.cs
Labels: enhancement, editor

#1971 TNO-2385 Fix convert .mov
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#1972 TNO-2617 Automatically set Contributor based on Byline
  libs/net/models/Areas/Editor/Models/Contributor/ContributorModel.cs
  services/net/content/ContentManager.cs
Labels: enhancement

#1976 TNO-2768 Fix manage user
  libs/net/dal/Services/UserService.cs
Labels: bug

#1977 TNO-2768 Fix distribution list
  services/net/contentmigration/appsettings.json
  services/net/reporting/ReportingManager.cs
Labels: bug

#1978 TNO-2812 Fix front page images
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
  app/subscriber/src/features/todays-front-pages/constants/defaultFilter.ts
  app/subscriber/src/features/todays-front-pages/constants/index.ts
  app/subscriber/src/store/hooks/lookup/useSettings.ts
  app/subscriber/src/store/slices/settings/interfaces/ISettingsState.ts
  app/subscriber/src/store/slices/settings/settingsSlice.ts
  libs/npm/core/src/hooks/api/constants/Settings.ts
Labels: bug, subscriber

#1970 TNO-2766: Save media group state on Filter by Media
  app/editor/.yarn/cache/tno-core-npm-0.1.92-b072c91325-90ca7f04de.zip
  app/editor/package.json
  app/subscriber/.yarn/cache/tno-core-npm-0.1.92-b072c91325-90ca7f04de.zip
  app/subscriber/package.json
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/menu/MenuToggle.tsx
  libs/npm/core/src/features/errors/401/Unauthenticated.tsx
  libs/npm/core/src/features/errors/403/NotAuthorized.tsx
  libs/npm/core/src/features/errors/404/NotFound.tsx
  libs/npm/core/src/features/errors/500/InternalServerError.tsx
  libs/npm/core/src/hooks/api/interfaces/IFilterSettingsModel.ts
Labels: bug, enhancement, subscriber, tno-core update

#1981 Add logging to tno migration
  services/net/contentmigration/ContentMigrationAction.cs
Labels: enhancement

#1984 Use split query
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
  services/net/contentmigration/sources/oracle/Entities/AllNewsItem.cs
  services/net/contentmigration/sources/oracle/Entities/BaseNewsItem.cs
  services/net/contentmigration/sources/oracle/Entities/EventItem.cs
  services/net/contentmigration/sources/oracle/Entities/HNewsItem.cs
  services/net/contentmigration/sources/oracle/Entities/NewsItemEoD.cs
  services/net/contentmigration/sources/oracle/Services/ServiceCollectionExtensions.cs
  tools/import/source/Entities/NewsItem.cs
Labels: bug

#1985 Fix missing attributes in Press Gallery
  app/subscriber/src/features/press-gallery/PressGallery.tsx
Labels: bug, subscriber

#1986 TNO-2691: Correct Sentimet Logic for Reports
  libs/net/template/ReportExtensions.cs
Labels: bug, subscriber

#1987 Filter by Media: Filter bug
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug, subscriber

#1988 TNO-2764 adding loading indicator for slow network issues
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: enhancement, subscriber

#1991 Fix content headline
  libs/net/entities/Content.cs
Labels: bug

#1992 Manage distribution list
  app/editor/src/features/admin/users/UserFormDistribution.tsx
Labels: bug, editor

#1995 Add Azure Entry ID
  app/editor/src/features/login/LoginPanel.tsx
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
Labels: enhancement, subscriber, editor

#1996 Fix Azure button
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
Labels: bug, subscriber

#1998 TNO-2864 Separate API
  api/net/Config/SIgnalROptions.cs
  api/net/Program.cs
  libs/net/kafka/Extensions/ServiceCollectionExtensions.cs
  openshift/kustomize/api-services/base/deploy.yaml
  openshift/kustomize/api-services/base/kustomization.yaml
  openshift/kustomize/api-services/base/service.yaml
  openshift/kustomize/api-services/overlays/dev/kustomization.yaml
  openshift/kustomize/api-services/overlays/prod/kustomization.yaml
  openshift/kustomize/api-services/overlays/test/kustomization.yaml
  openshift/kustomize/api/base/route-editor.yaml
  openshift/kustomize/api/base/route-subscriber.yaml
  openshift/kustomize/api/overlays/prod/kustomization.yaml
  openshift/kustomize/api/overlays/test/kustomization.yaml
  openshift/kustomize/shared_resources/base/services-config-map.yaml
Labels: enhancement, devops

#1999 TNO-2864 Separate API
  api/net/Program.cs
  api/net/appsettings.Development.json
  api/net/appsettings.Staging.json
  api/net/appsettings.json
  app/subscriber/src/features/my-reports/edit/view/ReportView.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportViewContainer.tsx
  app/subscriber/src/features/my-reports/edit/view/styled/ReportView.tsx
  openshift/kustomize/api-services/base/deploy.yaml
  openshift/kustomize/api-services/overlays/dev/kustomization.yaml
  openshift/kustomize/api-services/overlays/prod/kustomization.yaml
  openshift/kustomize/api-services/overlays/test/kustomization.yaml
  openshift/scripts/deploy.sh
Labels: bug, devops

#2000 Fix DevOps deploy script
  openshift/scripts/deploy.sh
Labels: bug, devops
