Repository bcgov/tno, pull requests merged in 2024-03, with the labels that each got.

#1577 TNO-2337 Send email alert on failure
  services/net/scheduler/SchedulerManager.cs
Labels: enhancement

#1578 TNO-2280: Fix keyboard shortcuts on report page
  app/subscriber/src/features/my-reports/view/components/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportEditForm.tsx
Labels: bug, subscriber

#1579 Tno 2365 move email alerts to service manager
  libs/net/services/Managers/IngestManager`.cs
  libs/net/services/Managers/ServiceManager`.cs
  services/net/capture/CaptureManager.cs
  services/net/clip/ClipManager.cs
  services/net/command/CommandManager.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/ContentMigrationManager.cs
  services/net/filecopy/FileCopyManager.cs
  services/net/filemonitor/FilemonitorManager.cs
  services/net/folder-collection/FolderCollectionManager.cs
  services/net/image/ImageManager.cs
  services/net/indexing/IndexingManager.cs
  services/net/nlp/NLPManager.cs
  services/net/notification/NotificationManager.cs
  services/net/reporting/ReportingManager.cs
  services/net/scheduler/SchedulerManager.cs
  services/net/syndication/SyndicationManager.cs
  services/net/transcription/TranscriptionManager.cs
Labels: enhancement

#1581 TNO-2326 Parse tags
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/ContentTranscriptForm.tsx
  app/editor/src/features/content/form/hooks/index.ts
  app/editor/src/features/content/form/hooks/useExtractTags.ts
Labels: bug, editor

#1584 TNO-2324 Fix Feature Stories filter
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/components/media-type-filters/constants/defaultFilter.ts
  app/subscriber/src/components/media-type-filters/constants/index.ts
  app/subscriber/src/features/admin/users/interfaces/IUserListFilter.ts
  app/subscriber/src/features/admin/work-orders/interfaces/IWorkOrderListFilter.ts
  app/subscriber/src/features/content/list-view/constants/fieldTypes.ts
  app/subscriber/src/features/content/list-view/constants/index.ts
  app/subscriber/src/features/content/list-view/interfaces/index.ts
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/utils/interfaces/ISortBy.ts
  app/subscriber/src/features/utils/interfaces/index.ts
  openshift/scripts/deploy.sh
Labels: bug, subscriber

#1586 feat: #tno-2372 - added new mapping for Homepage -> Featured Story
  services/net/contentmigration/appsettings.json
Labels: enhancement

#1587 feat: #tno-2230 - admitted defeat and have used iframe
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/top-domains/TopDomains.tsx
  app/subscriber/src/components/top-domains/index.ts
  app/subscriber/src/components/top-domains/styled/TopDomains.tsx
  app/subscriber/src/components/top-domains/styled/index.ts
  app/subscriber/src/features/commentary/styled/Commentary.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: enhancement, subscriber

#1585 TNO-2341: Updates to login page
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/login/Copyright.tsx
  app/subscriber/src/features/login/MobileLogin.tsx
  app/subscriber/src/features/login/SystemMessage.tsx
  app/subscriber/src/features/login/UnauthenticatedHome.tsx
  app/subscriber/src/features/login/index.ts
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/Copyright.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
  app/subscriber/src/features/login/styled/SystemMessage.tsx
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
  app/subscriber/src/features/login/styled/index.ts
Labels: bug, enhancement, subscriber

#1583 TNO-2333 Ingest Manager/services override fix
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  libs/net/services/Managers/IngestManager`.cs
  services/net/command/CommandAction`.cs
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/filemonitor/FilemonitorAction.cs
  services/net/syndication/SyndicationAction.cs
Labels: enhancement

#1589 TNO-2324 Fix FFmpeg Service
  api/net/Areas/Admin/Controllers/SeriesController.cs
  app/editor/src/features/content/form/components/upload/Upload.tsx
  services/docker-compose.yml
  services/net/capture/Dockerfile
  services/net/ffmpeg/Dockerfile
  services/net/ffmpeg/FFmpegManager.cs
  services/net/ffmpeg/TNO.Services.FFmpeg.csproj
Labels: bug, enhancement, editor

#1590 Login page tweaks
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/SystemMessage.tsx
Labels: bug, subscriber

#1591 Tno-2375
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  app/editor/src/features/admin/topics/TopicFormSmall.tsx
Labels: enhancement, editor

#1593 feat: #tno-2375 - add action to copy title text
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
Labels: enhancement, editor

#1592 TNO-2380 Add env to email alert
  libs/net/services/Managers/ServiceManager`.cs
Labels: enhancement

#1596 tno-2314 consistent date
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/utils/getLastPublishedOn.ts
  app/subscriber/src/features/my-reports/view/components/ContentForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/view/components/UserContentForm.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/utils/formatDate.ts
  app/subscriber/src/features/utils/index.ts
Labels: enhancement, subscriber

#1597 TNO-2283: Simple styling fix for editing reports
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: bug

#1598 fix: #tno-2384 - fix issues with series add/search
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/ContributorSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SeriesSection.tsx
  libs/net/models/Areas/Services/Models/Content/ContentModel.cs
  libs/net/models/Areas/Subscriber/Models/Series/SeriesModel.cs
Labels: bug, subscriber

#1599 fix: #tno-2384 - fix issues with seies add/search
  libs/net/models/Areas/Subscriber/Models/Content/ContentModel.cs
Labels: bug, subscriber

#1600 TNO-2398 Add media types on source update and insert
  libs/net/dal/Services/SourceService.cs
Labels: editor

#1601 TNO-2381: Add source name when grouped by time
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
Labels: bug, subscriber

#1602 TNO-1962: Fix loading indicator z-index to not cover dropdowns
  libs/npm/core/src/components/loading/LoadingStyled.tsx
Labels: bug

#1603 TNO-2373 Fix Next Snippet
  api/net/Program.cs
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/components/tags/Tags.tsx
  app/editor/src/features/content/form/hooks/useExtractTags.ts
Labels: bug, editor

#1607 TNO-2373 Fix parse tags
  app/editor/src/features/content/form/components/tags/Tags.tsx
Labels: bug, editor

#1608 Fixing setup
  Makefile
  app/editor/.yarn/install-state.gz
  db/kafka/migrations/U1.0.0.sh
  db/kafka/migrations/V1.0.0.sh
  docs/DEVELOPMENT.md
  libs/net/dal/Migrations/Initial/Up/PostUp/02-Ingest.sql
Labels: documentation, devops

#1609 fix: #tno-2415 - fixed incorrect property check for Source
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Helpers/TopicScoreHelper.cs
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug, editor

#1610 TNO-2349 Update my reports
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/components/section/styled/Section.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/utils/calcNextReportSend.ts
  app/subscriber/src/features/my-reports/utils/calcNextScheduleSend.ts
  app/subscriber/src/features/my-reports/utils/getLastSent.ts
  app/subscriber/src/features/my-reports/utils/index.ts
  app/subscriber/src/features/my-reports/view/components/ReportSendForm.tsx
  app/subscriber/src/features/utils/formatDate.ts
Labels: subscriber

#1611 feat: #tno-1729 - baseline extract quotes service
  openshift/kustomize/tekton/base/tasks/build-all.yaml
  openshift/kustomize/tekton/base/tasks/deploy-all.yaml
  openshift/kustomize/tekton/base/tasks/git-conditions.yaml
  openshift/scripts/deploy.sh
Labels: enhancement, devops

#1613 TNO-2322: Performance fix
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
Labels: bug, subscriber

#1618 feat: #tno-1729 - baseline extract quotes service
  openshift/kustomize/core-nlp/base/deploy.yaml
  openshift/kustomize/services/extract-quotes/base/deploy.yaml
  openshift/kustomize/tekton/base/tasks/git-conditions.yaml
Labels: devops

#1621 TNO-2322: Press Gallery serach inaccuracy
  app/editor/src/features/admin/contributors/ContributorForm.tsx
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/features/press-gallery/utils/seperateAlias.ts
Labels: bug, subscriber

#1627 TNO-2295 Report instance link in email
  api/net/Areas/Helpers/ReportHelper.cs
  app/subscriber/src/features/router/AppRouter.tsx
  libs/net/template/IReportEngine.cs
  libs/net/template/Models/BaseTemplateModel.cs
  libs/net/template/Models/Reports/ReportEngineContentModel.cs
  libs/net/template/ReportEngine.cs
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#1628 Tno 2370 populate media sub groups according to flag
  app/editor/.yarn/install-state.gz
  app/editor/src/features/admin/series/SeriesDetails.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/determineSelectedMedia.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/sortableMediaOptions.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/IGroupOption.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/ISubMediaGroupExpanded.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/ISubMediaGroupItem.ts
  libs/net/models/Areas/Editor/Models/MediaType/MediaTypeModel.cs
  libs/net/models/Areas/Subscriber/Models/MediaType/MediaTypeModel.cs
  libs/net/models/Areas/Subscriber/Models/Series/SeriesModel.cs
Labels: subscriber, editor

#1629 TNO-2350 Update My Reports
  app/subscriber/src/components/bar/Bar.tsx
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/view/components/ReportEditForm.tsx
Labels: enhancement, subscriber

#1630 TNO-2350 Fix view report
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/ReportSettings.tsx
  app/subscriber/src/features/my-reports/admin/ReportTemplate.tsx
  app/subscriber/src/features/my-reports/admin/components/AddSectionBar.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSchedule.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionTableOfContents.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionText.tsx
  app/subscriber/src/features/my-reports/admin/components/index.ts
  app/subscriber/src/features/my-reports/admin/index.ts
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/admin/styled/index.ts
  app/subscriber/src/features/my-reports/admin/validation/ReportFormSchema.ts
  app/subscriber/src/features/my-reports/admin/validation/ReportFormSettingsSchema.ts
  app/subscriber/src/features/my-reports/admin/validation/ReportFormTemplateSchema.ts
  app/subscriber/src/features/my-reports/index.ts
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/ReportView.tsx
  app/subscriber/src/features/my-reports/view/components/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ContentForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/view/components/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/view/components/ReportPreviewForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionTableOfContents.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionText.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSendForm.tsx
  app/subscriber/src/features/my-reports/view/components/UserContentForm.tsx
  app/subscriber/src/features/my-reports/view/components/index.ts
  app/subscriber/src/features/my-reports/view/index.ts
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportView.tsx
  app/subscriber/src/features/my-reports/view/styled/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
Labels: bug, subscriber

#1631 TNO-2311: Minimize advanced search
  app/subscriber/src/App.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/SearchPageContext.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/index.ts
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1632 TNO-2350 Fix my reports
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/store/hooks/subscriber/useReportInstances.ts
Labels: bug, subscriber

#1634 TNO-2356 Export component
  app/subscriber/.yarn/cache/sheetjs-file-b3f3bf9174-01a1354338.zip
  app/subscriber/package.json
  app/subscriber/packages/xlsx-0.20.1.tgz
  app/subscriber/yarn.lock
Labels: enhancement

#1635 TNO-1944 Fix Editor report admin
  api/net/Areas/Admin/Controllers/ReportInstanceController.cs
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  app/editor/src/features/admin/reports/ReportFormInstances.tsx
  app/editor/src/features/admin/reports/components/ReportSectionContent.tsx
  libs/net/dal/Services/Interfaces/IReportInstanceService.cs
  libs/net/dal/Services/ReportInstanceService.cs
  openshift/kustomize/api/base/deploy.yaml
  openshift/kustomize/api/base/statefulset.yaml
  openshift/kustomize/api/overlays/dev/kustomization.yaml
  openshift/kustomize/api/overlays/prod/kustomization.yaml
  openshift/kustomize/api/overlays/test/kustomization.yaml
  openshift/kustomize/services/build/base/reporting.yaml
  services/net/reporting/ReportingManager.cs
Labels: bug, editor

#1636 TNO-2402 Schedule validations
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/editor/src/features/admin/reports/validation/ReportFormScheduleSchema.ts
  app/editor/src/features/admin/reports/validation/ReportFormSchema.ts
  app/subscriber/src/features/my-reports/edit/validation/ReportFormScheduleSchema.ts
  app/subscriber/src/features/my-reports/edit/validation/ReportFormTemplateSchema.ts
  app/subscriber/src/features/my-reports/edit/validation/index.ts
Labels: subscriber, editor

#1637 TNO-1944 Fix reporting service
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Services/Controllers/ReportInstanceController.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  app/editor/src/features/admin/reports/ReportFormDetails.tsx
  app/editor/src/features/content/papers/PaperToolbar.tsx
  app/editor/src/store/hooks/editor/useReportInstances.ts
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  libs/net/dal/Extensions/JsonDocumentExtensions.cs
  libs/net/dal/Services/Interfaces/IReportInstanceService.cs
  libs/net/dal/Services/ReportInstanceService.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/models/Areas/Admin/Report/ReportSectionModel.cs
Labels: bug, subscriber, editor

#1640 TNO-2437 Remove required field validation
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/validation/ContentFormSchema.ts
Labels: bug

#1642 Fix Content PostedOn
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug, subscriber, editor

#1643 Fix Indexing Service
  services/net/indexing/IndexingManager.cs
Labels: bug

#1645 TNO-2425 Fix add to report
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/components/UserContentForm.tsx
  libs/net/dal/Services/ReportService.cs
  libs/net/models/Areas/Subscriber/Models/Report/ReportInstanceContentModel.cs
Labels: bug, subscriber

#1644 TNO-2327: Add checkboxes to filter media page
  app/editor/src/features/admin/contributors/ContributorForm.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
  app/subscriber/src/features/home/Home.tsx
Labels: enhancement, subscriber

#1648 TNO-2406 Keep HTML tags retrieving data
  services/net/filemonitor/FilemonitorAction.cs
Labels: bug

#1649 findUsers by keyword instead of Username. #TNO-2401
  app/editor/src/features/admin/reports/ReportFormDetails.tsx
Labels: bug

#1650 Bug fixes for checkboxes on filter media
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug, subscriber

#1651 TNO-2431: Fix filter value
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: bug, subscriber

#1652 TNO-2395 Add report quick sort
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditSortForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditSummaryForm.tsx
  app/subscriber/src/features/my-reports/edit/content/sort/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/edit/content/sort/index.ts
  app/subscriber/src/features/my-reports/edit/content/stories/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionTableOfContents.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionText.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/UserContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/index.ts
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/index.ts
  app/subscriber/src/features/my-reports/edit/content/styled/ReportEditSortForm.tsx
  app/subscriber/src/features/my-reports/edit/content/styled/index.ts
Labels: enhancement, subscriber

#1653 TNO-2400 Handle no report
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
Labels: bug, subscriber

#1654 TNO-2376 Fix pending transcript
  app/editor/src/features/content/list-view/ContentListView.tsx
Labels: bug, editor

#1655 TNO-2435 Fix Reports
  libs/net/dal/Services/ReportService.cs
Labels: bug, subscriber, editor

#1656 TNO-2433 Fix notification template
  app/editor/src/features/content/form/ContentForm.tsx
  libs/net/dal/Migrations/1.0.135/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240328200259_1.0.135.Designer.cs
  libs/net/dal/Migrations/20240328200259_1.0.135.cs
Labels: enhancement, DB Migration

#1657 Update reports
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-reports/edit/settings/ReportEditPreferencesForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditPreferencesForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/index.ts
Labels: enhancement, subscriber
