Repository bcgov/tno, pull requests merged in 2024-05, with the labels that each got.

#1764 TNO-2528: Basic validation for saving search
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, enhancement, subscriber

#1765 Add user preferences saving in FilterOptions component
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
Labels: bug

#1767 feat: #tno-2543 - add Coverage Count chart
  libs/net/dal/Migrations/1.0.156/Down/PostDown/00-ChartTemplate-CoverageCount.sql
  libs/net/dal/Migrations/1.0.156/Up/PostUp/00-ChartTemplate-CoverageCount.sql
  libs/net/dal/Migrations/20240501183150_1.0.156.Designer.cs
  libs/net/dal/Migrations/20240501183150_1.0.156.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/template/TemplateEngine.cs
Labels: DB Migration

#1769 TNO-2540 Added more granularity to time log columns modal
  app/editor/src/features/content/form/constants/timeLogColumns.tsx
Labels: bug, editor

#1770 TNO-2486: Always show transcript if available
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, enhancement, subscriber

#1771 Remove coreNLP
  docker-compose.yml
Labels: bug, devops

#1755 TNO-2534 sort by string
  app/editor/src/features/content/list-view/hooks/useColumns.tsx
  app/editor/src/features/content/list-view/utils/naturalSort.ts
  app/editor/src/features/content/papers/hooks/useColumns.tsx
  libs/npm/core/src/components/table/FlexboxTable.tsx
  libs/npm/core/src/components/table/utils/determineSort.ts
Labels: bug

#1773 Fix Content Service Config
  openshift/kustomize/services/content-historic/base/config-map.yaml
  openshift/kustomize/services/content-historic/base/deploy.yaml
  openshift/kustomize/services/content-historic/overlays/dev/kustomization.yaml
  openshift/kustomize/services/content-historic/overlays/test/kustomization.yaml
  openshift/kustomize/services/content/base/config-map.yaml
  openshift/kustomize/services/content/base/deploy.yaml
  services/net/content/Config/ContentOptions.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: devops

#1775 fix: #tno-2608 - filter out bad data from chart data
  libs/net/dal/Migrations/1.0.157/Up/PostUp/00-ReportTemplate-EventOfTheDay.sql
  libs/net/dal/Migrations/20240502185739_1.0.157.Designer.cs
  libs/net/dal/Migrations/20240502185739_1.0.157.cs
  libs/net/template/ReportExtensions.cs
Labels: bug

#1777 Fix advanced search
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  docker-compose.yml
  services/docker-compose.yml
Labels: bug, subscriber

#1778 Tno 2367 filter by media group by othersource
  app/subscriber/src/components/content-list/utils/groupContent.ts
Labels: bug, subscriber

#1779 TNO-2597 Verify just audio and video files
  app/subscriber/src/components/content-list/ContentRow.tsx
Labels: bug, subscriber

#1780 Fix Front Page Images
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
  app/subscriber/src/features/utils/getBooleanActionValue.ts
  app/subscriber/src/store/hooks/lookup/useSettings.ts
  app/subscriber/src/store/slices/settings/interfaces/ISettingsState.ts
  app/subscriber/src/store/slices/settings/settingsSlice.ts
  libs/net/dal/Migrations/1.0.158/Up/PostUp/00-Filters.sql
Labels: bug, subscriber

#1783 TNO-2610 Update Edit Report Content
  app/subscriber/src/components/action/Action.tsx
  app/subscriber/src/components/action/styled/Action.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditSortForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ContentActions.tsx
Labels: bug, enhancement, subscriber

#1782 TNO-2558: Selecting more than one option minimizes menu
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
Labels: bug, subscriber

#1781 TNO-2590 Add close icon to Manage Folder
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/manage-folder/styled/ManageFolder.tsx
Labels: subscriber

#1785 TNO-2610 Fix edit report content
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
Labels: bug, subscriber

#1784 feat: #tno-2543 - add chart for Sections over time
  libs/net/dal/Migrations/1.0.159/Up/PostUp/00-ChartTemplate.sql
  libs/net/dal/Migrations/20240503215954_1.0.159.Designer.cs
  libs/net/dal/Migrations/20240503215954_1.0.159.cs
Labels: DB Migration

#1786 Fix- Userinfo Bad Request
  api/net/Models/Auth/LocationModel.cs
Labels: bug, subscriber

#1788 TNO-2607 Start next report
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/components/StartNextReportInfo.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/utils/getLastSent.ts
  openshift/kustomize/services/event-handler/base/config-map.yaml
Labels: enhancement, subscriber

#1790 Various bug fixes for subscribers
  app/subscriber/src/components/share-menu/ShareMenu.tsx
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/my-colleagues/ColleagueCard.tsx
  app/subscriber/src/features/my-colleagues/ColleagueEdit.tsx
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  app/subscriber/src/store/hooks/subscriber/useColleagues.ts
  app/subscriber/src/store/slices/profile/interfaces/IProfileState.ts
  app/subscriber/src/store/slices/profile/profileSlice.ts
  app/subscriber/src/store/slices/profile/useProfileStore.ts
Labels: bug, subscriber

#1787 TNO-2578 Add createUrl function for generating URLs with query param
  app/editor/src/components/tab-control/hooks/useTab.tsx
Labels: enhancement, editor

#1791 Fix Today's Commentary
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
Labels: bug, subscriber

#1792 Tno 2584 subscriber my minister count fix
  app/subscriber/src/features/my-minister/MyMinister.tsx
Labels: bug, subscriber

#1795 TNO-2272 Remove "All" option
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
Labels: subscriber

#1794 Add option to toggle title case for byline in ContentForm
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/styled/ContentForm.tsx
Labels: enhancement, editor

#1797 TNO-2575: Add serach bar to /mysearches
  app/subscriber/src/components/header/Header.tsx
Labels: bug, subscriber

#1798 Tno 2561 add keywords
  app/editor/src/features/admin/filters/constants/filterColumns.tsx
  app/editor/src/features/admin/filters/styled/FilterList.tsx
  app/editor/src/features/admin/filters/utils/handleCopyKeyWords.ts
  app/editor/src/features/admin/filters/utils/truncateString.ts
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
Labels: enhancement, editor

#1796 TNO-2566: Evening Overview Error
  libs/net/dal/Migrations/1.0.160/Up/PostUp/00-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.160/Up/PostUp/01-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/20240508211210_1.0.160.Designer.cs
  libs/net/dal/Migrations/20240508211210_1.0.160.cs
Labels: bug, DB Migration

#1799 TNO-2584 Set default initial date when filter is empty
  app/subscriber/src/features/my-minister/MyMinister.tsx
Labels: subscriber

#1802 Tno 2622 refactor of media filtering
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/IGroupOption.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/ISubMediaGroupItem.ts
  libs/npm/core/.yarn/install-state.gz
Labels: subscriber

#1804 Folder Schedule Bugs
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/FolderContext.tsx
  app/subscriber/src/features/my-folders/FolderLanding.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/constants/columns.tsx
  app/subscriber/src/features/my-folders/index.ts
  libs/net/dal/Services/FolderService.cs
Labels: bug, subscriber

#1805 New popout on same page for A/V content
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: enhancement, subscriber

#1806 prevent the second round of content fetching.
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
Labels: bug

#1810 add icon and hover effect on user name TNO-2621
  app/subscriber/src/components/user-profile/UserProfile.tsx
  app/subscriber/src/components/user-profile/styled/UserProfile.tsx
Labels: bug, subscriber

#1811 TNO-2272 Add Common call to group description
  app/subscriber/src/components/content-list/utils/groupContent.ts
Labels: subscriber

#1813 TNO-2658: Sort Saved Searches in Alphanumeric Order
  app/subscriber/src/store/hooks/subscriber/useFilters.ts
  libs/net/dal/Services/FilterService.cs
Labels: bug, subscriber

#1807 TNO-2574: MMI Alert format
  libs/net/dal/Migrations/1.0.165/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240514163324_1.0.165.Designer.cs
  libs/net/dal/Migrations/20240514163324_1.0.165.cs
Labels: enhancement, subscriber

#1815 TNO-2621 make the icon clickable
  app/subscriber/src/components/user-profile/UserProfile.tsx
Labels: bug, subscriber

#1816 TNO-2272 Display only source regular name
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
Labels: subscriber

#1817 TNO-2566: Evening Overview update name field to match all environments
  libs/net/dal/Migrations/1.0.166/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/1.0.166/Up/PostUp/01-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.166/Up/PostUp/02-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/20240515225906_1.0.166.Designer.cs
  libs/net/dal/Migrations/20240515225906_1.0.166.cs
Labels: bug, editor

#1818 TNO-2571 setting to prevet ininite loop of creating new lines
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
Labels: bug, editor

#1821 TNO-2681 Folder config fixes
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: subscriber

#1823 TNO-2620 Update width fix the year text cut in firefox
  app/subscriber/src/components/date-filter/styled/DateFilter.tsx
Labels: bug, subscriber

#1824 TNO-2700 Fix Advanced Search
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
Labels: bug, subscriber

#1826 TNO-2680 Add config param on request
  api/net/Areas/Helpers/WorkOrderHelper.cs
Labels: bug, subscriber

#1828 TNO-2671: Saved changes in search && Create new search
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1829 TNO-2673 Remove headline line breaks to generate configuration
  api/net/Areas/Helpers/WorkOrderHelper.cs
  libs/net/entities/WorkOrder.cs
Labels: bug, subscriber, editor

#1830 Fix My Minster
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/settings/MyMinisterSettings.tsx
  app/subscriber/src/store/hooks/subscriber/useMinisters.ts
  app/subscriber/src/store/slices/profile/interfaces/IProfileState.ts
  app/subscriber/src/store/slices/profile/profileSlice.ts
  app/subscriber/src/store/slices/profile/useProfileStore.ts
Labels: bug, subscriber

#1832 TNO-2666: Search results move when clicking search
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
Labels: bug

#1831 TNO-2652 Retrieve events and schedule on load folders
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  libs/net/dal/Services/FolderService.cs
Labels: bug, subscriber

#1833 Fix Event Handler Service
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  services/net/event-handler/EventHandlerManager.cs
Labels: bug, subscriber

#1834 Tno 2676 Incorrect Report Next Scheduled Send Date
  app/subscriber/src/features/my-reports/utils/calcNextReportSend.ts
Labels: bug, subscriber

#1835 Fix Folders
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/constants/columns.tsx
  app/subscriber/src/features/my-folders/hooks/index.ts
  app/subscriber/src/features/my-folders/hooks/useColumns.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/styled/MyFolders.tsx
Labels: bug, subscriber

#1836 TNO-2709 Fix report edit content
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/UserContentForm.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: bug, subscriber

#1837 TNO-2681 Toggle filter select
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: subscriber

#1839 TNO-2671 [Fix]: Saved changes in search && Create new search
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#1842 TNO-2570 Fix TNO Migration
  libs/net/kafka/Models/Topic.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/contentmigration/migrators/PaperMigrator.cs
Labels: enhancement

#1844 CSS Feedback + Bug Fixes
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: subscriber

#1845 TNO-2670: Top Story Formatting
  libs/net/dal/Migrations/1.0.169/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240524205146_1.0.169.Designer.cs
  libs/net/dal/Migrations/20240524205146_1.0.169.cs
Labels: DB Migration, subscriber

#1846 TNO-2623: Wrong number of items being added to reports
  app/subscriber/src/components/content-list/ContentList.tsx
Labels: bug, subscriber

#1847 TNO-2623: Selected filter and results are not correlated when refreshing
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#1848 TNO-2361: Transcription / Body Duplication Fix
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#1851 Fix notifications
  app/editor/src/components/grid/Grid.tsx
  app/editor/src/components/grid/SortAction.tsx
  app/editor/src/components/grid/index.ts
  app/editor/src/components/grid/styled/Grid.tsx
  app/editor/src/components/grid/styled/index.ts
  app/editor/src/features/admin/notifications/NotificationSubscribersForm.tsx
  app/editor/src/features/admin/notifications/constants/index.ts
  app/editor/src/features/admin/notifications/constants/subscriberColumns.tsx
  app/editor/src/features/admin/notifications/styled/NotificationForm.tsx
Labels: bug, enhancement, editor

#1850 make search bold work, and fix formatSearch function
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/utils/formatSearch.ts
Labels: bug, subscriber

#1853 Fix clean folder
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/index.ts
  app/subscriber/src/features/press-gallery/utils/separateAlias.ts
  app/subscriber/src/features/press-gallery/utils/seperateAlias.ts
  libs/net/dal/Services/FolderService.cs
  libs/net/dal/Services/Interfaces/IFolderService.cs
  libs/npm/core/src/hooks/api/interfaces/IFolderSettingsModel.ts
Labels: bug, subscriber, editor

#1854 Fix Notification Service
  services/net/notification/NotificationManager.cs
Labels: bug

#1856 Update report subscribers
  app/editor/src/components/grid/Grid.tsx
  app/editor/src/components/grid/styled/Grid.tsx
  app/editor/src/features/admin/notifications/NotificationSubscribersForm.tsx
  app/editor/src/features/admin/reports/ReportFormSubscribers.tsx
  app/editor/src/features/admin/reports/hooks/index.ts
  app/editor/src/features/admin/reports/hooks/useSubscriberColumns.tsx
Labels: enhancement, editor

#1855 TNO-2667,2690: Update grouped by date display, and fix filter option sync issue
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/utils/groupContent.ts
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/components/media-type-filters/FilterOptionsContextProvider.tsx
  app/subscriber/src/components/media-type-filters/index.ts
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#1857 TNO-2687: Filter by Media list loads improper media types, and then refreshes to proper
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
Labels: bug

#1858 Tno 2659 editor area
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionTableOfContents.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionText.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionTableOfContents.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionText.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/styled/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionText.tsx
  libs/npm/core/src/components/formik/wysiwyg/FormikWysiwyg.tsx
Labels: enhancement, subscriber

#1859 TNO-2647 Add parameters and make attributes to use them
  app/subscriber/src/components/content-list/Attributes.tsx
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
Labels: subscriber

#1860 TNO-2629: Update Subscriber font
  app/subscriber/public/index.html
  app/subscriber/src/components/content-list/styled/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SearchInGroup.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1863 TNO-2641 Add chart font config
  app/editor/.yarn/cache/@headlessui-react-npm-1.7.19-ac1b86d621-2a343a5fcf.zip
  app/editor/.yarn/cache/base64-js-npm-1.5.1-b2f7275641-669632eb37.zip
  app/editor/.yarn/cache/exenv-npm-1.2.2-eeb9069149-a894f3b60a.zip
  app/editor/.yarn/cache/js-sha256-npm-0.9.0-1aa718efaf-ffad54b337.zip
  app/editor/.yarn/cache/keycloak-js-npm-21.1.2-f34d995099-518dcdeda3.zip
  app/editor/.yarn/cache/react-datepicker-npm-4.25.0-c8fd6182e9-c619dc2ed1.zip
  app/editor/.yarn/cache/react-from-dom-npm-0.6.2-f8d11c6090-5d66b0c1eb.zip
  app/editor/.yarn/cache/react-inlinesvg-npm-3.0.3-85ba65380b-cbc78eb247.zip
  app/editor/.yarn/cache/react-toastify-npm-9.1.3-2f82dd0b41-e8bd92c5cb.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.69-91f71b96ef-59fd28b4d6.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.77-c523871c00-7eca7f206c.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.78-52bc2f863d-0f26369312.zip
  app/editor/.yarn/install-state.gz
  app/editor/package.json
  app/editor/src/features/admin/charts/components/ChartTemplatePreviewOptions.tsx
  app/editor/src/features/admin/reports/components/ReportSectionMediaAnalyticsChart.tsx
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/@emotion-stylis-npm-0.8.5-3e9db8959f-67ff595844.zip
  app/subscriber/.yarn/cache/@emotion-unitless-npm-0.7.5-14e1171640-f976e5345b.zip
  app/subscriber/.yarn/cache/@headlessui-react-npm-1.7.19-ac1b86d621-2a343a5fcf.zip
  app/subscriber/.yarn/cache/@popperjs-core-npm-2.11.8-f1692e11a0-e5c69fdebf.zip
  app/subscriber/.yarn/cache/babel-plugin-styled-components-npm-2.1.4-40cd8c2d2b-d791aed68d.zip
  app/subscriber/.yarn/cache/base64-js-npm-1.5.1-b2f7275641-669632eb37.zip
  app/subscriber/.yarn/cache/client-only-npm-0.0.1-07d3e9505c-0c16bf660d.zip
  app/subscriber/.yarn/cache/clsx-npm-1.2.1-77792dc182-30befca801.zip
  app/subscriber/.yarn/cache/date-fns-npm-2.30.0-895c790e0f-f7be015232.zip
  app/subscriber/.yarn/cache/exenv-npm-1.2.2-eeb9069149-a894f3b60a.zip
  app/subscriber/.yarn/cache/js-sha256-npm-0.9.0-1aa718efaf-ffad54b337.zip
  app/subscriber/.yarn/cache/keycloak-js-npm-21.1.2-f34d995099-518dcdeda3.zip
  app/subscriber/.yarn/cache/react-datepicker-npm-4.25.0-c8fd6182e9-c619dc2ed1.zip
  app/subscriber/.yarn/cache/react-from-dom-npm-0.6.2-f8d11c6090-5d66b0c1eb.zip
  app/subscriber/.yarn/cache/react-inlinesvg-npm-3.0.3-85ba65380b-cbc78eb247.zip
  app/subscriber/.yarn/cache/react-popper-npm-2.3.0-1045578379-837111c987.zip
  app/subscriber/.yarn/cache/react-toastify-npm-9.1.3-2f82dd0b41-e8bd92c5cb.zip
  app/subscriber/.yarn/cache/styled-components-npm-5.3.11-d45616b9af-10edd4dae3.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.69-91f71b96ef-59fd28b4d6.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.77-c523871c00-7eca7f206c.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.78-52bc2f863d-0f26369312.zip
  app/subscriber/.yarn/cache/warning-npm-4.0.3-291e921d6d-4f2cb6a957.zip
  app/subscriber/package.json
  app/subscriber/src/components/colours/Colours.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/yarn.lock
  libs/net/models/Settings/ChartSectionSettingsModel.cs
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/interfaces/IChartSectionSettingsModel.ts
  libs/npm/core/src/hooks/api/utils/mergeChartSettings.ts
  openshift/kustomize/postgres/crunchy/base/deploy.yaml
Labels: enhancement, subscriber, tno-core update, editor

#1864 Styling regression fixes
  app/subscriber/src/components/content-list/Attributes.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#1866 TNO-2726, 2727: Styling fixes to View Content, Search Page, and My Folders
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/manage-folder/styled/ManageFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/styled/FolderLanding.tsx
  app/subscriber/src/features/my-folders/styled/MyFolders.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1868 TNO-2633 Fix chart config
  libs/net/template/ReportEngine.cs
Labels: bug

#1870 Tno 2647 default folder route
  app/subscriber/src/features/my-folders/FolderLanding.tsx
  app/subscriber/src/features/router/AppRouter.tsx
Labels: subscriber

#1869 TNO-2656 make bold search works in content as well
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#1872 TNO-2655 New welcome screen
  app/subscriber/src/features/access-request/AccessRequest.tsx
  app/subscriber/src/features/access-request/styled/AccessRequest.tsx
Labels: subscriber

#1873 Remove animation from folder landing
  app/subscriber/src/features/my-folders/styled/FolderLanding.tsx
Labels: bug, subscriber

#1876 TNO-2675 Handle alert value according to the status
  app/editor/src/features/content/form/hooks/useContentForm.ts
Labels: editor

#1877 View Content Header Small Fixes
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
Labels: bug, subscriber

#1878 Fix DB migration 1.0.173
  libs/net/dal/Migrations/20240529201121_1.0.173.Designer.cs
  libs/net/dal/Migrations/20240529201121_1.0.173.cs
  libs/net/entities/UserReport.cs
Labels: bug, DB Migration

#1879 TNO-2651Update report instance content inline string
  app/subscriber/src/features/my-reports/components/ReportContentInlineText.tsx
  app/subscriber/src/features/my-reports/components/index.ts
  app/subscriber/src/features/my-reports/edit/content/sort/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportContentSectionRow.tsx
Labels: enhancement, subscriber

#1881 Fix chart auto max
  libs/net/template/Models/Charts/ChartDatasetModel.cs
  libs/net/template/ReportEngine.cs
Labels: bug

#1882 TNO- 2632: Create a new Template for Transcription approved
  libs/net/dal/Migrations/1.0.174/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/1.0.174/Up/PostUp/01-Notification.sql
  libs/net/dal/Migrations/1.0.174/Up/PostUp/02-Settings.sql
  libs/net/dal/Migrations/20240530190851_1.0.174.Designer.cs
  libs/net/dal/Migrations/20240530190851_1.0.174.cs
Labels: enhancement, DB Migration

#1883 TNO-2729: Close right side when deleting folder
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: bug, enhancement, subscriber

#1884 TNO-2735: Fix calendar being cut off
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
Labels: bug, subscriber

#1886 TNO-2715 Sort sub group items
  app/subscriber/src/components/content-list/ContentList.tsx
Labels: subscriber

#1885 TNO-2697: Move email subject line
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditDetailsForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditSendForm.tsx
Labels: enhancement, subscriber

#1888 TNO-2223 Add basic auth to syndication
  services/net/syndication/SyndicationAction.cs
Labels: enhancement

#1889 TNO-2223 Add basic auth to syndication service
  services/net/syndication/SyndicationAction.cs
Labels: enhancement

#1890 Tno 2723 folder run error
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: subscriber

#1891 Fix ResizeObserver loop bug
  app/subscriber/src/App.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContentToolbar.tsx
  app/subscriber/src/features/utils/fixTooltipResizeObserver.ts
  app/subscriber/src/features/utils/index.ts
Labels: bug, subscriber

#1892 TNO-2746 Fix tooltip resize error
  app/editor/src/App.tsx
  app/editor/src/utils/fixTooltipResizeObserver.ts
  app/editor/src/utils/index.ts
Labels: bug, editor
