Repository bcgov/tno, pull requests merged in 2024-04, with the labels that each got.

#1659 TNO-2443 Fix report links
  app/subscriber/public/assets/reports/follow_link.png
  libs/net/dal/Migrations/1.0.137/Up/PostUp/00-ReportTemplate.sql
  libs/net/dal/Migrations/20240401200214_1.0.137.Designer.cs
  libs/net/dal/Migrations/20240401200214_1.0.137.cs
Labels: bug, DB Migration

#1661 TNO-2473 Update report
  app/subscriber/src/features/my-reports/edit/ReportEditContext.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/constants/ReportMainMenuOption.ts
  app/subscriber/src/features/my-reports/edit/settings/ReportEditDetailsForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditTemplateForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/index.ts
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditDetailsForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditPreferencesForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/index.ts
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
Labels: enhancement, subscriber

#1663 TNO-2342: small fixes
  app/subscriber/src/store/hooks/subscriber/useFilters.ts
Labels: bug, subscriber

#1666 TNO-2479 Admin paper sources
  app/editor/src/features/admin/sources/SourceDetails.tsx
  app/editor/src/features/admin/sources/SourceList.tsx
  app/editor/src/features/admin/sources/constants/columns.tsx
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/components/ContentFilter.tsx
  app/editor/src/features/content/papers/constants/defaultPaperFilter.ts
  app/editor/src/features/content/papers/constants/defaultSources.ts
  app/editor/src/features/content/papers/constants/index.ts
  app/editor/src/features/content/papers/hooks/index.ts
  app/editor/src/features/content/papers/hooks/usePaperSources.ts
  libs/net/models/Areas/Admin/Source/SourceModel.cs
Labels: enhancement, editor

#1665 Tno 2440 fix subscriber report panel width issue
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: bug, subscriber

#1664 TNO-2327 bug: Checkbox not checking
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug, subscriber

#1668 TNO-2478 Fix Filter by Media Type
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug, subscriber

#1667 fix: #tno-2419 - fix ui discrepancy between EoD List and report
  app/editor/src/components/topic/Topic.tsx
Labels: bug, editor

#1669 fix: #tno-2474 - stop log file spam
  services/net/extract-quotes/CoreNLP/models/NerConfidences.cs
Labels: bug

#1670 TNO-2423: Pre-populate columnist aliases
  libs/net/dal/Migrations/1.0.138/Up/PostUp/00-AliasPopulate.sql
  libs/net/dal/Migrations/20240402211633_1.0.138.Designer.cs
  libs/net/dal/Migrations/20240402211633_1.0.138.cs
Labels: enhancement, DB Migration

#1671 fix: #tno-2422 - fix for new topics
  app/editor/src/components/topic/Topic.tsx
Labels: bug

#1673 fix: #tno-2411 - fix sort order on 365 day aggregate filter
  libs/net/dal/Migrations/1.0.139/Up/PostUp/00-Filter.sql
  libs/net/dal/Migrations/20240403170036_1.0.139.Designer.cs
  libs/net/dal/Migrations/20240403170036_1.0.139.cs
Labels: bug, DB Migration

#1674 fix: #tno-2451 - changed image reference for kustomize / kowl
  openshift/kustomize/kafka/kowl/base/deploy.yaml
Labels: devops

#1672 TNO-2420: Add Transcript to Advanced section (Editor)
  app/editor/src/features/content/constants/AdvancedSearchKeys.ts
  app/editor/src/features/content/constants/advancedSearchOptions.ts
Labels: bug, editor

#1675 TNO 2248 new tab for reports preview
  app/editor/src/features/admin/reports/ReportFormPreview.tsx
  app/editor/src/features/admin/reports/ReportTemplateContext.tsx
  app/editor/src/features/admin/reports/utils/openPreviewInNewTab.ts
Labels: bug

#1676 fix: #tno-2474 - stop log file spam
  openshift/kustomize/core-nlp/base/deploy.yaml
  tools/corenlp/Dockerfile
Labels: bug, devops

#1679 fix: #tno-2474 - stop log file spam
  tools/corenlp/Dockerfile
Labels: bug, devops

#1680 TNO-2404 Fix papers sort
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/constants/defaultPaperFilter.ts
  app/editor/src/features/content/papers/constants/defaultSort.ts
  app/editor/src/features/content/papers/constants/index.ts
  app/editor/src/features/content/papers/hooks/index.ts
  app/editor/src/features/content/papers/hooks/useSortContent.ts
  app/editor/src/features/content/papers/utils/calcTotals.ts
  app/editor/src/features/content/papers/utils/index.ts
  app/editor/src/features/content/papers/utils/sortContent.ts
  app/editor/src/store/slices/content/contentSlice.ts
Labels: bug, editor

#1681 TNO-2487 Debug corpcal issue
  app/editor/src/features/admin/filters/FilterFormPreview.tsx
  app/editor/src/features/admin/reports/ReportFormPreview.tsx
  app/editor/src/features/admin/reports/components/ReportSectionContent.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
Labels: bug, editor

#1683 TNO-2461 Fix report headline options
  app/editor/tno-core-0.1.43.tgz
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditTemplateForm.tsx
  app/subscriber/tno-core-0.1.43.tgz
  libs/net/template/ReportExtensions.cs
Labels: bug, subscriber

#1682 fix: #tno-2474 - stop log file spam
  openshift/kustomize/core-nlp/base/deploy.yaml
  openshift/kustomize/core-nlp/overlays/prod/kustomization.yaml
  openshift/kustomize/core-nlp/overlays/test/kustomization.yaml
  openshift/kustomize/services/extract-quotes/base/config-map.yaml
  openshift/kustomize/services/extract-quotes/base/deploy.yaml
  services/net/extract-quotes/Config/ExtractQuotesOptions.cs
  services/net/extract-quotes/ExtractQuotesManager.cs
  tools/scripts/gen-env-files.sh
Labels: bug, devops

#1684 TNO-2445: Search terms not always appearing on saved searches
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#1686 TNO-2382 Component position fix
  app/editor/src/features/content/list-view/components/tool-bar/filter/ShowOnlySection.tsx
Labels: editor

#1687 Tno 2434 new workorder call
  api/net/Areas/Editor/Controllers/WorkOrderController.cs
  libs/net/dal/Services/Interfaces/IWorkOrderService.cs
  libs/net/dal/Services/WorkOrderService.cs
  libs/net/models/Areas/Editor/Models/WorkOrder/ContentModel.cs
Labels: editor

#1688 fix: #tno-2502 - show quotes without refresh
  api/net/Areas/Services/Controllers/ContentController.cs
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
Labels: bug

#1689 fix: #tno-1891 - add new content to the content list
  app/editor/src/features/content/list-view/ContentListView.tsx
Labels: bug, editor

#1690 TNO-2434 Remove contentId check from configuration
  libs/net/dal/Services/WorkOrderService.cs
Labels: bug, editor

#1692 Tno 2434 id param fix
  libs/net/dal/Services/WorkOrderService.cs
Labels: bug, editor

#1693 TNO-2390 Update Report Data Sources Admin
  api/net/Areas/Helpers/ReportHelper.cs
  api/net/Areas/Services/Controllers/ReportController.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/editor/.yarn/cache/tno-core-npm-0.1.45-fa17d3f640-d7dad2e8b5.zip
  app/editor/.yarn/install-state.gz
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.45-fa17d3f640-d7dad2e8b5.zip
  app/subscriber/package.json
  app/subscriber/src/components/modal/Modal.tsx
  app/subscriber/src/features/my-reports/components/DataSources.tsx
  app/subscriber/src/features/my-reports/constants/defaultReportSection.ts
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditContext.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditTemplateForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/utils/toForm.ts
  app/subscriber/src/store/hooks/subscriber/useReports.ts
  app/subscriber/yarn.lock
  libs/net/dal/Services/Interfaces/IReportService.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/template/ReportEngine.cs
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/subscriber/useApiSubscriberReports.ts
  libs/npm/core/yarn.lock
Labels: bug, enhancement, subscriber, tno-core update

#1694 Tno 2434 check null while mapping content
  libs/net/dal/Services/WorkOrderService.cs
Labels: bug, editor

#1696 Fix DB Migration 1.0.142
  libs/net/dal/Migrations/20240409200843_1.0.142.Designer.cs
  libs/net/dal/Migrations/20240409200843_1.0.142.cs
Labels: bug, DB Migration

#1697 fix: #tno-2509 - updated nginx to 1.25.4
  app/editor/Dockerfile.local
  app/editor/Dockerfile.nginx
  app/editor/Dockerfile.rhel8
  app/subscriber/Dockerfile.local
  app/subscriber/Dockerfile.nginx
  app/subscriber/Dockerfile.rhel8
  network/nginx/Dockerfile
Labels: devops

#1698 Fix add to report
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/store/hooks/subscriber/useReports.ts
  kafka-topic-add
Labels: bug, subscriber

#1699 fix: #tno-2509 - updated nginx to 1.25.4
  network/nginx/Dockerfile.maintenance
Labels: devops

#1701 TNO-2463: Allow user to rename folder
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: bug, enhancement, subscriber

#1702 Fix displayName function
  libs/npm/core/src/utils/array/getSourceOptions.ts
Labels: bug

#1703 TNO-2227 Allow signalR to update content while submitting
  app/editor/src/features/content/form/hooks/useContentForm.ts
Labels: bug, editor

#1704 TNO-2397 Transcript vertical space fix
  app/editor/src/features/content/form/styled/ContentTranscriptForm.tsx
Labels: bug, editor

#1705 TNO-2464: New time input for folder schedules
  app/subscriber/src/components/form/timeinput/TimeInput.tsx
  app/subscriber/src/components/form/timeinput/index.ts
  app/subscriber/src/components/form/timeinput/styled/TimeInput.tsx
  app/subscriber/src/components/form/timeinput/styled/index.ts
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
Labels: enhancement, subscriber

#1706 Tno 2506 & 2505 remove "add to folder"
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/utils/getTotalContentLength.ts
  app/subscriber/src/features/my-folders/utils/index.ts
Labels: bug, subscriber

#1709 Fix report bugs
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  api/net/Areas/Subscriber/Controllers/WorkOrderController.cs
  app/subscriber/src/components/button/styled/Button.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/utils/index.ts
  app/subscriber/src/features/my-folders/utils/sortFolders.ts
  app/subscriber/src/features/my-reports/components/SectionLabel.tsx
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/styled/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/utils/extractTags.ts
  app/subscriber/src/features/search-page/components/advanced-search/utils/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/utils/removeTags.ts
  libs/net/dal/Services/ReportInstanceService.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Helpers/IApiService.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, subscriber, editor

#1708 Increase font sizeTNO-2504
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
Labels: enhancement, subscriber

#1710 TNO-1986: Persist checked items until action is performed
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/tool-bar/AddToFolderMenu.tsx
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/features/content/view-content/FolderMenu.tsx
  app/subscriber/src/features/home/Home.tsx
Labels: enhancement, subscriber

#1713 TNO-542 Add confirmation email
  api/net/Areas/Subscriber/Controllers/WorkOrderController.cs
  api/net/Config/ApiOptions.cs
  api/net/appsettings.json
  app/editor/src/features/admin/notifications/NotificationFormDetails.tsx
  libs/net/dal/Migrations/1.0.145/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/1.0.145/Up/PostUp/01-Notification.sql
  libs/net/dal/Migrations/1.0.145/Up/PostUp/02-Settings.sql
  libs/net/dal/Migrations/20240416224827_1.0.145.Designer.cs
  libs/net/dal/Migrations/20240416224827_1.0.145.cs
  services/net/notification/NotificationManager.cs
  services/net/notification/Validation/NotificationValidator.cs
Labels: enhancement, DB Migration, editor

#1714 Fix My Folders
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/FolderLanding.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportInstanceView.tsx
  app/subscriber/src/store/hooks/subscriber/useFolders.ts
  services/net/scheduler/SchedulerManager.cs
Labels: bug, subscriber

#1715 Tno 2490 better toast
  libs/npm/core/src/components/link/Link.tsx
  libs/npm/core/src/components/link/styled/Link.tsx
Labels: enhancement, subscriber

#1716 feat: #tno-2517 - switch Event of the day report to use Topic Scores
  libs/net/dal/Migrations/1.0.146/Down/PostDown/01-ChartTemplate-TopicAnalysis.sql
  libs/net/dal/Migrations/1.0.146/Up/PostUp/00-Filters-EventOfTheDay.sql
  libs/net/dal/Migrations/1.0.146/Up/PostUp/01-ChartTemplate-TopicAnalysis.sql
  libs/net/dal/Migrations/1.0.146/Up/PostUp/02-ReportTemplate-EventOfTheDay.sql
  libs/net/dal/Migrations/20240416234423_1.0.146.Designer.cs
  libs/net/dal/Migrations/20240416234423_1.0.146.cs
  libs/net/elastic/Models/AggregationBucketModel.cs
  libs/net/elastic/Models/AggregationSumModel.cs
  libs/net/elastic/Models/Converters/AggregationsConverter.cs
  libs/net/template/Converters/SearchAggregationHelper.cs
  libs/net/template/Models/Reports/AggregationBucketModel.cs
  libs/net/template/Models/Reports/AggregationSumModel.cs
  libs/net/template/ReportExtensions.cs
Labels: enhancement, DB Migration

#1717 Fix auto reports
  app/subscriber/src/components/button/styled/Button.tsx
  app/subscriber/src/components/form/timeinput/TimeInput.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentActions.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/styled/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSchedule.tsx
  libs/net/core/Extensions/DateTimeExtensions.cs
  libs/net/dal/Services/ReportService.cs
  services/net/reporting/ReportingManager.cs
  services/net/scheduler/SchedulerManager.cs
Labels: bug, subscriber

#1718 TNO-1847 Fix my folders results
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
Labels: bug, subscriber

#1721 feat: #tno-2517 - switch Event of the day report to use Topic Scores
  libs/net/dal/Migrations/1.0.146/Up/PostUp/00-Filters-EventOfTheDay.sql
Labels: bug, DB Migration

#1722 TNO-2414: Forgotten file
  app/subscriber/src/store/slices/settings/settingsSlice.ts
Labels: bug, subscriber

#1723 TNO-2345 Fix common call
  app/editor/src/features/admin/filters/hooks/useElastic.ts
  app/editor/src/features/admin/sources/SourceDetails.tsx
  app/editor/src/store/hooks/lookup/useSettings.ts
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
  libs/net/dal/Migrations/1.0.147/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240418111252_1.0.147.Designer.cs
  libs/net/dal/Migrations/20240418111252_1.0.147.cs
  libs/net/entities/Source.cs
  libs/net/services/Actions/IngestAction.cs
  libs/net/template/ReportExtensions.cs
  services/net/image/ImageAction.cs
Labels: bug, DB Migration, subscriber, editor

#1725 Fix Folder Collection Service
  services/net/folder-collection/FolderCollectionManager.cs
Labels: bug

#1724 fix: #tno-2562 - fixed issue which left the service in a stuck state
  app/editor/src/features/admin/ingests/IngestStatus.tsx
  libs/net/dal/Migrations/1.0.148/Up/PostUp/00-Ingest.sql
  libs/net/dal/Migrations/20240418181050_1.0.148.Designer.cs
  libs/net/dal/Migrations/20240418181050_1.0.148.cs
  libs/net/services/Managers/IngestManager`.cs
Labels: bug, DB Migration, editor

#1726 TNO-1847 Fix request transcript
  api/net/Areas/Helpers/IWorkOrderHelper.cs
  api/net/Areas/Helpers/WorkOrderHelper.cs
  api/net/Areas/Subscriber/Controllers/WorkOrderController.cs
  libs/net/dal/Migrations/1.0.149/Down/PostDown/00-NotificationTemplate.sql
  libs/net/dal/Migrations/1.0.149/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240418224149_1.0.149.Designer.cs
  libs/net/dal/Migrations/20240418224149_1.0.149.cs
  libs/net/template/TemplateEngine.cs
  services/net/notification/NotificationManager.cs
  services/net/notification/Validation/INotificationValidator.cs
  services/net/notification/Validation/NotificationValidator.cs
Labels: enhancement, DB Migration, subscriber

#1727 fix: #tno-2559 - several fixes for EoD report
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/topics/hooks/useColumns.tsx
  libs/net/dal/Migrations/1.0.150/Up/PostUp/00-Filters-EventOfTheDay.sql
  libs/net/dal/Migrations/20240419153207_1.0.150.Designer.cs
  libs/net/dal/Migrations/20240419153207_1.0.150.cs
Labels: bug, DB Migration, editor

#1728 TNO-2553 Display/Send notification to preferred email if it exists
  api/net/Areas/Subscriber/Controllers/ContentController.cs
  app/subscriber/src/components/share-menu/ShareMenu.tsx
  app/subscriber/src/features/my-colleagues/ColleagueCard.tsx
  libs/net/dal/Services/UserService.cs
Labels: enhancement, subscriber

#1732 TNO-2541 Enable Draft Reports/Fix Schedule Display
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditSendForm.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/utils/calcNextScheduleSend.ts
  db/kafka/docker-compose.yml
  docker-compose.override.yml
  docker-compose.yml
  libs/npm/core/src/components/show/Show.tsx
  services/docker-compose.yml
Labels: bug, subscriber

#1733 TNO-2535 Fix save media analytics
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  libs/net/models/Areas/Admin/Report/ReportModel.cs
  libs/net/models/Areas/Editor/Models/ReportInstance/ReportSectionModel.cs
Labels: bug, editor

#1735 TNO-2507 Enhance ContentReportPin component
  app/subscriber/src/components/content-list/ContentReportPin.tsx
  app/subscriber/src/components/content-list/styled/ContentReportPin.tsx
  app/subscriber/src/features/top-stories/styled/TopStories.tsx
Labels: bug, subscriber

#1737 TNO-2421 Fix print content
  app/editor/src/features/content/form/ContentActions.tsx
Labels: bug, editor

#1738 fix: #tno-2559 - several fixes for EoD report
  libs/net/dal/Migrations/1.0.153/Up/PostUp/01-ChartTemplate-EventOfTheDay.sql
  libs/net/dal/Migrations/20240423223442_1.0.153.Designer.cs
  libs/net/dal/Migrations/20240423223442_1.0.153.cs
  libs/net/template/ReportExtensions.cs
Labels: bug, DB Migration, editor

#1739 TNO-2492 Title case if all caps and config is enabled
  app/editor/src/features/admin/ingests/configurations/Newspaper.tsx
  app/editor/src/features/admin/ingests/configurations/styled/IngestConfiguration.tsx
  services/net/filemonitor/FilemonitorAction.cs
Labels: enhancement

#1741 TNO-2483: Show all issues
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug, subscriber

#1742 TNO-2519 Fix preview report
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: bug, subscriber

#1743 fix: #tno-2580 - fixed config mapping
  openshift/kustomize/services/notification/base/config-map.yaml
  openshift/kustomize/services/notification/base/deploy.yaml
  openshift/kustomize/services/notification/overlays/dev/config-map.yaml
  openshift/kustomize/services/notification/overlays/prod/config-map.yaml
  openshift/kustomize/services/notification/overlays/test/config-map.yaml
  openshift/kustomize/services/reporting/base/deploy.yaml
  openshift/kustomize/services/reporting/overlays/prod/config-map.yaml
  openshift/kustomize/services/reporting/overlays/test/config-map.yaml
  openshift/kustomize/shared_resources/base/ches-config-map.yaml
  openshift/kustomize/shared_resources/base/kustomization.yaml
  openshift/kustomize/shared_resources/base/reporting-shared-config-map.yaml
  openshift/kustomize/shared_resources/overlays/dev/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/prod/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/test/kustomization.yaml
Labels: bug, devops

#1747 fix: #tno-2580 - fixed config mapping
  openshift/kustomize/services/notification/overlays/dev/kustomization.yaml
  openshift/kustomize/services/notification/overlays/prod/kustomization.yaml
  openshift/kustomize/services/notification/overlays/test/kustomization.yaml
  openshift/kustomize/services/reporting/overlays/dev/kustomization.yaml
  openshift/kustomize/services/reporting/overlays/prod/kustomization.yaml
  openshift/kustomize/services/reporting/overlays/test/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/dev/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/prod/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/test/kustomization.yaml
Labels: devops

#1748 TNO-2510: More filter by media fixes
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
Labels: bug, subscriber

#1749 TNO-2219 Fix image overflow update
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: bug, subscriber

#1751 TNO-2492 Fix corner cases
  services/net/filemonitor/FilemonitorAction.cs
Labels: bug, editor

#1757 TNO-2549 Fix flex-direction and padding in MobileLogin component
  app/subscriber/src/features/login/styled/MobileLogin.tsx
Labels: bug

#1758 fix: #tno-2599 - no need for two calls to UpdateReportInstance
  services/net/reporting/ReportingManager.cs
Labels: bug

#1759 fix: #tno-2601 - updated config to add RecentlyPublished
  openshift/kustomize/services/contentmigration/base/config-map.yaml
Labels: bug

#1760 Small AV overview changes
  app/subscriber/src/features/daily-overview/styled/AVOverviewPreview.tsx
Labels: bug, subscriber

#1761 TNO-2556: Remove 12 hour clock format from content info bar
  app/subscriber/src/features/utils/formatDate.ts
Labels: bug, subscriber

#1763 feat: #tno-2603 - add contentmigrator user via migration
  libs/net/dal/Migrations/1.0.155/Up/PostUp/add-contentmigrator-user.sql
  libs/net/dal/Migrations/20240430190007_1.0.155.Designer.cs
  libs/net/dal/Migrations/20240430190007_1.0.155.cs
Labels: enhancement, DB Migration

#1762 TNO-2589 Update Reporting Service
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportSendForm.tsx
  libs/net/ches/ChesService.cs
  services/net/reporting/ReportingManager.cs
  tools/scripts/variables.sh
Labels: bug, subscriber
