Repository bcgov/tno, pull requests merged in 2024-01, with the labels that each got.

#1368 TNO-2130: Clips being cut off of Evening Overview
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: bug

#1369 TNO-1946: Adjust AV summary/clip column widths, populate summary w/ h…
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/styled/OverviewGrid.tsx
Labels: enhancement, editor

#1370 TNO-2000 Set source sort order
  app/subscriber/src/features/home/Home.tsx
Labels: bug, subscriber

#1372 TNO-2175 Fix my searches and advanced search
  app/subscriber/src/components/table/styled/SubscriberTableContainer.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-searches/FilterFormDetails.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/SearchForm.tsx
  app/subscriber/src/features/my-searches/constants/columns.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/MySearchesSection.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ExpandableRow.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/MediaSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/ContentTypeSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/ContributorSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaTypeSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/PaperSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SearchInGroup.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SentimentSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SeriesSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/TagSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/constants/QuickPickerNames.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/constants/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/determineActivePicker.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/determineSelectedMedia.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/utils/sortableMediaOptions.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/styled/ElasticInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/styled/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/SearchInFieldName.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/SubMediaGroups.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/ToggleOptions.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/defaultFilter.ts
  app/subscriber/src/features/search-page/components/advanced-search/constants/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/ExpansionTracker.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/IAdvancedSearchFilter.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/IExpandableSectionProps.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/index.ts
  app/subscriber/src/features/search-page/components/advanced-search/utils/queryToState.ts
  app/subscriber/src/features/search-page/components/index.ts
  app/subscriber/src/features/search-page/index.ts
  app/subscriber/src/store/hooks/subscriber/useFilters.ts
  app/subscriber/src/store/slices/profile/interfaces/IProfileState.ts
  app/subscriber/src/store/slices/profile/profileSlice.ts
  app/subscriber/src/store/slices/profile/useProfileStore.ts
Labels: bug, subscriber

#1375 fix: #tno-2160 - fix folder saving issues
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  libs/net/models/Areas/Subscriber/Models/Folder/FolderModel.cs
Labels: bug, subscriber

#1374 Tno 2144 Parse Editor Tags
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/MediaSummary.tsx
  app/editor/src/features/content/form/components/tags/Tags.tsx
Labels: editor

#1376 fix: #tno-2160 - fix folder saving issues
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
Labels: bug

#1377 TNO-2175 Removing advanced search URL parameter search
  app/subscriber/src/features/my-reports/admin/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
Labels: bug, subscriber

#1378 TNO-2169 Fix report content sort
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
Labels: bug, subscriber

#1380 Fix basic search
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/hooks/useElastic.ts
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/utils/formatSearch.ts
  app/subscriber/src/features/search-page/utils/index.ts
  app/subscriber/src/features/utils/index.ts
  app/subscriber/src/features/utils/isNumber.ts
  app/subscriber/src/store/slices/lookup/interfaces/ILookupState.ts
  app/subscriber/src/store/slices/lookup/lookupSlice.ts
  app/subscriber/src/store/slices/lookup/useLookupStore.ts
  libs/npm/core/src/utils/convertTo.ts
Labels: bug, subscriber

#1381 fix: #tno-2151 - fixed reset settings
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ExpandableRow.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/SearchInGroup.tsx
  app/subscriber/src/features/search-page/components/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, enhancement

#1383 TNO-2162 Fix reports
  api/net/Areas/Helpers/ReportHelper.cs
  app/subscriber/src/features/my-reports/admin/ReportSubscribers.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/interfaces/IReportResultForm.ts
  app/subscriber/src/features/my-reports/interfaces/index.ts
  app/subscriber/src/features/my-reports/view/components/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/view/components/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
  app/subscriber/src/store/slices/profile/interfaces/IProfileState.ts
  app/subscriber/src/store/slices/profile/profileSlice.ts
  app/subscriber/src/store/slices/profile/useProfileStore.ts
  libs/net/models/Areas/Subscriber/Models/Report/UserModel.cs
  libs/net/models/Areas/Subscriber/Models/Report/UserReportModel.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, subscriber

#1382 Tech Debt: Remove unused sidebar code
  app/subscriber/.yarn/cache/@emotion-babel-plugin-npm-11.10.6-acad1f59fe-3eed138932.zip
  app/subscriber/.yarn/cache/@emotion-react-npm-11.10.6-655b70ad8d-4762042e39.zip
  app/subscriber/.yarn/cache/@emotion-styled-npm-11.10.6-b860023bfd-ed0ee4bec3.zip
  app/subscriber/.yarn/cache/react-pro-sidebar-npm-1.0.0-a3ccd7c190-a98dffd1f7.zip
  app/subscriber/package.json
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/navbar/hooks/index.ts
  app/subscriber/src/components/navbar/hooks/useFilterOptions.ts
  app/subscriber/src/components/navbar/index.ts
  app/subscriber/src/components/sidebar/CustomSidebar.tsx
  app/subscriber/src/components/sidebar/SelectableMenuItems.tsx
  app/subscriber/src/components/sidebar/env.json
  app/subscriber/src/components/sidebar/index.ts
  app/subscriber/src/components/sidebar/styled/CustomSidebar.tsx
  app/subscriber/src/components/sidebar/styled/index.ts
  app/subscriber/src/features/login/UserInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/MediaSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
  app/subscriber/src/index.tsx
  app/subscriber/yarn.lock
Labels: subscriber, tech debt

#1384 fix: #tno-2155 - made action clearer in the UI
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ExpandableRow.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
  app/subscriber/src/features/search-page/components/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/features/search-page/components/advanced-search/interfaces/IAdvancedSearchFilter.ts
  app/subscriber/src/features/search-page/components/advanced-search/utils/queryToState.ts
  libs/net/models/Filters/ContentFilter.cs
Labels: bug

#1385 Dev Tool: Create styled-component
  tools/scripts/create-styled-component.sh
Labels: enhancement

#1386 fix: #tno-2191 - clear any advanced filter settings on basic search
  app/subscriber/src/components/basic-search/BasicSearch.tsx
Labels: bug

#1391 TNO-2178: Remove Next Snippet btn from Content page for Print content
  app/editor/src/features/content/form/ContentForm.tsx
Labels: enhancement, editor

#1390 TNO-2177: Add content next/prev btns beside publish/save btn
  app/editor/src/features/content/form/ContentForm.tsx
Labels: enhancement, editor

#1394 TNO-2133 Published filter checkboxes
  app/editor/src/features/content/constants/ShowOnlyValues.ts
  app/editor/src/features/content/constants/showOnlyOptions.ts
  app/editor/src/features/content/list-view/components/tool-bar/filter/ShowOnlySection.tsx
  app/editor/src/features/content/papers/components/AdvancedFilter.tsx
Labels: enhancement, editor

#1395 TNO-1948: Fix select checkbox issue
  app/editor/src/features/content/list-view/components/tool-bar/filter/InputOption.tsx
Labels: bug

#1393 TNO-2162 Fix reports
  app/editor/src/features/admin/reports/constants/instanceColumns.tsx
  app/subscriber/src/features/my-reports/admin/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/components/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSendForm.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
  app/subscriber/src/features/search-page/components/advanced-search/constants/DefaultAdvancedSearch.ts
  app/subscriber/src/features/search-page/utils/filterFormat.ts
Labels: bug, subscriber

#1399 Fix unauth page size
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
Labels: bug, subscriber

#1403 TNO-2096 Fix to allow check box selection
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#1402 Fix reports
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/components/section/styled/Section.tsx
  app/subscriber/src/features/my-reports/admin/ReportSettings.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: bug, subscriber

#1405 TNO-2120: Increase width of columnist on content form
  app/editor/src/features/content/form/ContentForm.tsx
Labels: enhancement, editor

#1406 fix: #2200 - changed how content gets assigned a score
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug

#1404 TNO-2159: Fix my reports missing sometimes
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/features/my-reports/admin/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
Labels: bug, subscriber

#1401 [Ready ✅] TNO-2141: Allow users to enter tags from text area in advanced search
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/RemoveFromFolder.tsx
  app/subscriber/src/components/tool-bar/index.ts
  app/subscriber/src/components/tool-bar/styled/RemoveFromFolder.tsx
  app/subscriber/src/components/tool-bar/styled/index.ts
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/manage-folder/styled/ManageFolder.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/utils/extractTags.ts
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1407 fix: #tno-2207 - fix math and chart
  libs/net/dal/Migrations/1.0.108/Up/PostUp/00-Report.sql
  libs/net/dal/Migrations/20240112002932_1.0.108.Designer.cs
  libs/net/dal/Migrations/20240112002932_1.0.108.cs
Labels: bug, DB Migration

#1409 TNO-2159: Reverse changes to ReportCard page
  app/subscriber/src/features/my-reports/ReportCard.tsx
Labels: bug, subscriber

#1411 TNO-2212 Persist manual tags state "onLoad"
  app/editor/src/features/content/form/components/tags/Tags.tsx
Labels: bug, editor

#1413 TNO-2219: Fix add to reports data loading
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
Labels: bug, subscriber

#1410 fix: #tno-2214 - added username detail to exception for debugging
  api/net/Areas/Admin/Controllers/NotificationController.cs
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Admin/Controllers/ReportInstanceController.cs
  api/net/Areas/Editor/Controllers/AVOverviewController.cs
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Editor/Controllers/NotificationController.cs
  api/net/Areas/Editor/Controllers/ReportController.cs
  api/net/Areas/Editor/Controllers/ReportInstanceController.cs
  api/net/Areas/Editor/Controllers/WorkOrderController.cs
  api/net/Areas/Helpers/WorkOrderHelper.cs
  api/net/Areas/Subscriber/Controllers/ContentController.cs
  api/net/Areas/Subscriber/Controllers/FilterController.cs
  api/net/Areas/Subscriber/Controllers/FolderController.cs
  api/net/Areas/Subscriber/Controllers/ProductController.cs
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  api/net/Areas/Subscriber/Controllers/UserController.cs
Labels: bug

#1416 fix: # tno-2214 - remove exception on null user
  api/net/Areas/Helpers/WorkOrderHelper.cs
  libs/net/entities/WorkOrder.cs
Labels: bug

#1415 TNO-1933: Update fonts
  app/subscriber/public/index.html
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/date-filter/styled/DateFilter.tsx
  app/subscriber/src/components/layout/constants/SidebarMenuItems.tsx
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/filter-media/styled/FilterMedia.tsx
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/my-searches/styled/SearchForm.tsx
  app/subscriber/src/features/press-gallery/styled/PressGallery.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/styled/ElasticInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/todays-commentary/styled/TodaysCommentary.tsx
  app/subscriber/src/features/todays-front-pages/styled/TodaysFrontPages.tsx
  app/subscriber/src/features/top-stories/styled/TopStories.tsx
  app/subscriber/src/fonts/BCSans3-Bold.ttf
  app/subscriber/src/fonts/BCSans3.ttf
  app/subscriber/src/index.scss
  app/subscriber/src/index.tsx
Labels: enhancement, subscriber

#1420 remove bold from sidebar
  app/subscriber/src/components/navbar/styled/Navbar.tsx
Labels: bug, subscriber

#1421 Tno 2139 filter content by transcription
  app/editor/src/features/content/constants/ShowOnlyValues.ts
  app/editor/src/features/content/constants/showOnlyOptions.ts
  app/editor/src/features/content/interfaces/IContentListFilter.ts
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/ShowOnlySection.tsx
  app/editor/src/features/content/list-view/hooks/useColumns.tsx
  app/editor/src/store/slices/content/interfaces/IContentSearchResult.ts
Labels: enhancement, editor

#1423 TNO-2149: Move basic search to header
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/header/Header.tsx
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1425 fix: #tno-2232 - added missing selectedIds definition
  app/editor/src/features/content/papers/Papers.tsx
Labels: bug

#1426 fix some layout issues
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
Labels: bug, subscriber

#1424 fix: #tno-2176 - refactored aways use of shared state
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/components/ReportActions.tsx
  app/editor/src/features/content/papers/hooks/useColumns.tsx
  app/editor/src/store/hooks/editor/index.ts
  app/editor/src/store/hooks/editor/useContent.ts
  app/editor/src/store/hooks/editor/usehooks-ts/index.ts
  app/editor/src/store/hooks/editor/usehooks-ts/useEventCallback.ts
  app/editor/src/store/hooks/editor/usehooks-ts/useEventListener.ts
  app/editor/src/store/hooks/editor/usehooks-ts/useIsomorphicLayoutEffect.ts
  app/editor/src/store/hooks/editor/usehooks-ts/useLocalStorage.ts
  app/editor/src/store/slices/content/contentSlice.ts
  app/editor/src/store/slices/content/useContentStore.ts
Labels: bug

#1427 TNO-2131 Fix report template sections
  app/editor/.yarn/cache/tno-core-npm-0.1.14-9c3ae65a5d-ecdc2c9865.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.15-aea9d567c1-36ac50fcd6.zip
  app/editor/.yarn/install-state.gz
  app/editor/package.json
  app/editor/src/features/admin/reports/ReportFormSections.tsx
  app/editor/src/features/admin/reports/components/SectionLabel.tsx
  app/editor/src/features/admin/reports/utils/createReportSection.ts
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.14-9c3ae65a5d-ecdc2c9865.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.15-aea9d567c1-36ac50fcd6.zip
  app/subscriber/package.json
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/admin/ReportTemplate.tsx
  app/subscriber/src/features/my-reports/admin/components/AddSectionBar.tsx
  app/subscriber/src/features/my-reports/admin/components/SectionLabel.tsx
  app/subscriber/src/features/my-reports/constants/defaultReportSection.ts
  app/subscriber/src/features/my-reports/utils/getHideEmpty.ts
  app/subscriber/src/features/my-reports/utils/hideEmptySections.ts
  app/subscriber/src/features/my-reports/utils/toForm.ts
  app/subscriber/src/features/my-reports/view/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
  app/subscriber/yarn.lock
  libs/net/dal/Configuration/ReportSectionConfiguration.cs
  libs/net/dal/Migrations/1.0.110/Down/PreDown/00-ReportSection.sql
  libs/net/dal/Migrations/1.0.110/Up/PostUp/00-Settings.sql
  libs/net/dal/Migrations/1.0.110/Up/PostUp/01-ReportSection.sql
  libs/net/dal/Migrations/1.0.110/Up/PostUp/01-ReportTemplate.sql
  libs/net/dal/Migrations/20240118144444_1.0.110.Designer.cs
  libs/net/dal/Migrations/20240118144444_1.0.110.cs
  libs/net/entities/ReportSection.cs
  libs/net/models/Areas/Admin/Report/ReportModel.cs
  libs/net/models/Areas/Admin/Report/ReportSectionModel.cs
  libs/net/models/Areas/Editor/Models/Report/ReportModel.cs
  libs/net/models/Areas/Editor/Models/Report/ReportSectionModel.cs
  libs/net/models/Areas/Services/Models/Report/ReportModel.cs
  libs/net/models/Areas/Services/Models/Report/ReportSectionModel.cs
  libs/net/models/Areas/Subscriber/Models/Report/ReportModel.cs
  libs/net/models/Areas/Subscriber/Models/Report/ReportSectionModel.cs
  libs/net/models/Settings/ReportSectionSettingsModel.cs
  libs/net/template/Models/Reports/ReportSectionModel.cs
  libs/net/template/ReportEngine.cs
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/interfaces/IReportSectionModel.ts
  libs/npm/core/src/hooks/api/interfaces/IReportSectionSettingsModel.ts
Labels: bug, DB Migration, subscriber, tno-core update, editor

#1429 Fix button on header search
  app/subscriber/src/components/basic-search/BasicSearch.tsx
Labels: bug, subscriber

#1430 TNO-2163: Fix positive and negative sentiment icons in edit content page
  libs/npm/core/src/components/formik/sentiment/FormikSentiment.tsx
Labels: bug

#1431 TNO-1731: Remove placeholder email from login screen
  app/editor/src/features/home/InfoText.tsx
  network/nginx/html/index.html
Labels: enhancement

#1434 fix: #tno-2236 - fix spacing issues
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/header/Header.tsx
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/components/user-profile/styled/UserProfile.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug

#1435 small css things
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: bug, subscriber

#1436 TNO-2167 Remove header from list views
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: editor

#1437 feat: #tno-1988 - added link to folder or report within existing toast popup
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/features/content/view-content/FolderMenu.tsx
Labels: enhancement, subscriber

#1438 TNO-2150 Message were not being set at Wysiwyg component, and not sub…
  app/editor/src/features/admin/system-message/SystemMessageForm.tsx
Labels: bug, editor

#1439 feat: #tno-2131 - added event of the day report to migration
  libs/net/dal/Migrations/1.0.110/Up/PostUp/01-ReportTemplate-DefaultTemplate.sql
  libs/net/dal/Migrations/1.0.110/Up/PostUp/01-ReportTemplate-EventOfTheDay.sql
Labels: enhancement

#1440 TNO-2150 Change Wysiwyg component to FormikWysiwyg
  app/editor/src/features/admin/system-message/SystemMessageForm.tsx
Labels: bug, editor

#1441 fix: #tno-2157 - disable action button to avoid empty name
  app/subscriber/src/features/content/view-content/FolderMenu.tsx
  app/subscriber/src/features/content/view-content/styled/FolderMenu.tsx
Labels: enhancement

#1444 Fix chart formatter logic
  api/node/src/utils/data.ts
Labels: bug

#1445 Fix charts api
  api/node/src/utils/data.ts
  openshift/kustomize/tekton/base/tasks/git-conditions.yaml
Labels: bug

#1443 TNO-2192: Fix issue calculating next report send date
  app/subscriber/src/features/my-reports/utils/calcNextSend.ts
  libs/net/services/Config/ServiceOptions.cs
  openshift/scripts/database-connect.sh
Labels: bug

#1446 TNO-2119: Update editor logo mmi logo
  app/editor/public/assets/mminsights_logo.svg
Labels: enhancement

#1447 fix: #tno-2238 - changed handling of multiple ministers
  app/subscriber/src/features/my-minister/MyMinister.tsx
Labels: bug, subscriber

#1448 TNO-2211: Fix some layout issues & snippet time on Evening Overview
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/styled/OverviewGrid.tsx
Labels: bug, editor

#1449 TNO-2195: Split view for managing folders and new configure page
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/components/table/styled/SubscriberTableContainer.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/FolderLanding.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/constants/columns.tsx
  app/subscriber/src/features/my-folders/index.ts
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/styled/FolderLanding.tsx
  app/subscriber/src/features/my-folders/styled/MyFolders.tsx
  app/subscriber/src/features/my-folders/styled/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1453 fix: #tno-2222 - fixed state and dependecny issue
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MoreOptions.tsx
  app/subscriber/src/features/search-page/utils/filterFormat.ts
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug

#1452 TNO-2195 Bugs
  app/editor/package.json
  app/subscriber/package.json
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-folders/constants/columns.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  libs/npm/core/package.json
  libs/npm/core/src/components/table/FlexboxTable.tsx
  libs/npm/core/src/components/table/interfaces/ITableStyleProps.ts
  libs/npm/core/src/components/table/styled/FlexboxTable.tsx
Labels: bug, subscriber, tno-core update

#1454 fix: #tno-2228 - added additional migration to ensure setting is initialized
  libs/net/dal/Migrations/1.0.113/Up/PostUp/00-Ingest.sql
  libs/net/dal/Migrations/20240123234007_1.0.113.Designer.cs
  libs/net/dal/Migrations/20240123234007_1.0.113.cs
Labels: bug

#1457 fix: #tno-2250 - tweaked css to change scrollbar display
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: bug

#1455 [UPDATED] TNO-2136, 2184: New filter by media
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/components/date-filter/styled/DateFilter.tsx
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/features/daily-overview/styled/AVOverviewPreview.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/PreviousResults.tsx
  app/subscriber/src/features/filter-media/index.ts
  app/subscriber/src/features/filter-media/interfaces/IPreviousDate.ts
  app/subscriber/src/features/filter-media/interfaces/index.ts
  app/subscriber/src/features/filter-media/styled/FilterMedia.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/PreviousResults.tsx
  app/subscriber/src/features/filter-media/styled/index.ts
  app/subscriber/src/features/filter-media/utils/alphabetArray.ts
  app/subscriber/src/features/filter-media/utils/index.ts
  app/subscriber/src/features/home/constants/columns.tsx
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/press-gallery/styled/PressGallery.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/todays-commentary/styled/TodaysCommentary.tsx
  app/subscriber/src/features/todays-front-pages/styled/TodaysFrontPages.tsx
  app/subscriber/src/features/top-stories/styled/TopStories.tsx
Labels: enhancement, subscriber

#1459 fix: #tno-2266 - fix css
  app/editor/src/features/content/list-view/components/tool-bar/filter/DateRangeSection.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/FilterContentSection.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/styled/CreateNewSection.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/styled/DateRangeSection.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/styled/FilterContentSection.tsx
  app/editor/src/features/content/list-view/components/tool-bar/filter/styled/index.ts
Labels: bug

#1460 filter media bugs
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
Labels: bug

#1461 feat: #2224 - subscribers will be kept in sync between weekend and weekday av overview
  api/net/Areas/Admin/Controllers/AVOverviewController.cs
Labels: enhancement, editor

#1463 eslint error for missing keys
  app/editor/package.json
  app/subscriber/package.json
  app/subscriber/src/components/grouped-table/GroupedTable.tsx
  app/subscriber/src/components/grouped-table/index.ts
  app/subscriber/src/components/grouped-table/styled/GroupedTable.tsx
  app/subscriber/src/components/grouped-table/styled/index.ts
Labels: enhancement

#1464 Filter Media: fix scroll, add hover interactions
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
Labels: bug, enhancement

#1465 fix: #tno-2269 - fixed reporting service
  api/net/Areas/Helpers/ReportHelper.cs
  libs/net/template/Converters/SearchAggregationHelper.cs
  libs/net/template/TNO.TemplateEngine.csproj
  services/net/reporting/ReportingManager.cs
Labels: bug

#1466 TNO-2245 Change report summary
  app/subscriber/src/features/my-reports/view/components/ContentForm.tsx
  libs/net/template/ReportEngine.cs
Labels: enhancement

#1467 Filter-Media: Change scroll behaviour to match rest of application
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
Labels: enhancement, subscriber
