Repository bcgov/tno, pull requests merged in 2024-09, with the labels that each got.

#2246 Fix report clear folder
  services/net/reporting/ReportingManager.cs
Labels: bug

#2244 [READY] TNO-2987: Rearragne View Content Header
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/landing/Landing.tsx
Labels: enhancement, subscriber

#2249 TNO-2930 styling for my colleague
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/my-colleagues/MyColleaguesLanding.tsx
  app/subscriber/src/features/my-colleagues/styled/MyColleagues.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/settings/SettingsLanding.tsx
Labels: subscriber

#2250 Mac auto convert
  tools/mov-converter/README.md
Labels: enhancement

#2255 Fix linked reports
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/features/my-reports/edit/ReportEditContext.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
Labels: bug, subscriber

#2257 Fix user management
  libs/net/dal/Services/ReportService.cs
  libs/net/dal/Services/UserService.cs
Labels: enhancement, editor

#2258 style fixes for wysiwyg
  app/editor/package.json
  app/subscriber/package.json
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
  libs/npm/core/src/components/form/wysiwyg/styled/Wysiwyg.tsx
Labels: bug, subscriber, tno-core update

#2256 TNO-2033 Merge user versions on content
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
Labels: subscriber

#2252 Prevent multiple notification in indexing service.
  services/net/indexing/IndexingManager.cs
  services/net/indexing/IndexingService.cs
Labels: enhancement

#2259 Fix duplicate report content
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  libs/net/dal/Services/ReportService.cs
Labels: bug

#2260 TNO-3018: Add link to request in product request email
  libs/net/dal/Services/ProductService.cs
Labels: enhancement, editor

#2261 Fix subscriptions
  app/editor/src/features/admin/products/ProductSubRequests.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-products/ProductCard.tsx
  libs/net/dal/Services/ProductService.cs
  libs/net/models/Areas/Subscriber/Models/Product/UserProductModel.cs
Labels: bug, subscriber, editor

#2262 Fix commentary
  app/subscriber/src/features/commentary/utils/filterCommentaryResults.ts
Labels: bug, subscriber

#2264 TNO-2944 Missing files
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentListContext.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/constants/defaultValueListContext.ts
  app/subscriber/src/components/content-list/interfaces/IContentListContext.ts
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
  app/subscriber/src/store/hooks/useAjaxWrapper.ts
Labels: subscriber, editor

#2253 prevent override editor's work
  api/net/Areas/Helpers/WorkOrderHelper.cs
Labels: enhancement, subscriber

#2251 TNO-1136 Set tone by user
  api/net/Areas/Subscriber/Controllers/TonePoolController.cs
  api/node/package-lock.json
  api/node/package.json
  api/node/yarn.lock
  app/editor/.yarn/cache/tno-core-npm-0.1.143-34a37ac332-aebfbb21bd.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.146-9e30b7b728-b9387e0929.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.143-34a37ac332-aebfbb21bd.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.146-9e30b7b728-b9387e0929.zip
  app/subscriber/package.json
  app/subscriber/src/features/my-reports/edit/constants/defaultContentTonePool.ts
  app/subscriber/src/features/my-reports/edit/constants/defaultTonePool.ts
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ToneSelector.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ToneSelector.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/index.ts
  app/subscriber/src/store/hooks/subscriber/useTonePool.ts
  app/subscriber/src/store/slices/profile/interfaces/IProfileState.ts
  app/subscriber/src/store/slices/profile/profileSlice.ts
  app/subscriber/src/store/slices/profile/useProfileStore.ts
  app/subscriber/yarn.lock
  libs/net/dal/Extensions/ContentExtensions.cs
  libs/net/dal/Extensions/TonePoolExtensions.cs
  libs/net/dal/Services/Interfaces/ITonePoolService.cs
  libs/net/dal/Services/TonePoolService.cs
  libs/net/entities/Models/ContentVersion.cs
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/subscriber/index.ts
  libs/npm/core/src/hooks/api/subscriber/useApiSubscriberTonePools.ts
  libs/npm/core/tsconfig.json
Labels: enhancement, subscriber, tno-core update

#2266 Advanced search bugs
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#2265 TNO-3043 Fix retrieve subscribers list
  libs/net/dal/Services/UserService.cs
Labels: bug, editor

#2267 TNO-3024: Advanced Search: Add a 'filter in use' icon to the Media Source sub-categories
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
Labels: enhancement, subscriber

#2270 Fix TNO Migration
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: bug

#2271 Fix TNO Migration
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#2272 Fix TNO Migration
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: bug

#2273 Remove tonepools
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  libs/net/dal/Extensions/ContentExtensions.cs
Labels: bug, subscriber

#2274 TNO-3034 change to advance search section heights
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: subscriber

#2276 Change unauthenticated user message
  app/subscriber/src/features/access-request/AccessRequest.tsx
Labels: enhancement

#2277 Fix schedule concurrency errors
  libs/net/services/Helpers/ApiService.cs
  libs/net/services/Helpers/IApiService.cs
  services/net/event-handler/EventHandlerManager.cs
  services/net/reporting/ReportingManager.cs
  services/net/scheduler/SchedulerManager.cs
Labels: bug

#2279 TNO-3030 Filter by Media display option
  app/subscriber/src/components/content-list/utils/groupContent.ts
Labels: subscriber

#2278 API Endpoint upload files to s3
  api/net/Areas/Editor/Controllers/StorageController.cs
  libs/net/dal/Services/FileReferenceService.cs
  libs/net/dal/Services/Interfaces/IFileReferenceService.cs
  libs/net/dal/TNO.DAL.csproj
  openshift/kustomize/api/base/deploy.yaml
Labels: enhancement

#2284 Fix admin report
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  api/net/Program.cs
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  libs/net/core/Extensions/ServiceCollectionExtensions.cs
  libs/net/models/Areas/Report/ContentActionModel.cs
  libs/net/models/Areas/Report/ContentModel.cs
  libs/net/models/Areas/Report/ContentTagModel.cs
  libs/net/models/Areas/Report/ContentTonePoolModel.cs
  libs/net/models/Areas/Report/ContentTopicModel.cs
  libs/net/models/Areas/Report/FileReferenceModel.cs
  libs/net/models/Areas/Services/Models/Report/UserModel.cs
Labels: bug, subscriber

#2285 Fix report reopened
  app/subscriber/src/features/my-reports/components/StartNextReportInfo.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditMenu.tsx
  app/subscriber/src/features/my-reports/utils/getStatus.ts
Labels: bug, subscriber

#2287 TNO-3025 remove today's date from search result if offset greater than 1
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: subscriber

#2288 Fix editor tabs
  app/editor/.yarn/cache/@types-quill-npm-2.0.14-bbe71d85ce-05167f590f.zip
  app/editor/.yarn/cache/eventemitter3-npm-5.0.1-5e423b7df3-543d6c858a.zip
  app/editor/.yarn/cache/parchment-npm-3.0.0-8af750d9d9-4d7962442c.zip
  app/editor/.yarn/cache/quill-npm-2.0.2-135b4c32cb-3f5f20be6c.zip
  app/editor/.yarn/cache/react-quill-new-npm-3.3.1-8db7480b52-963cc544fe.zip
  app/editor/package.json
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/editor/yarn.lock
  libs/npm/core/.yarn/cache/@types-quill-npm-1.3.10-4ddf84ba7e-e629157d11.zip
  libs/npm/core/.yarn/cache/@types-quill-npm-2.0.14-bbe71d85ce-05167f590f.zip
  libs/npm/core/.yarn/cache/clone-npm-2.1.2-1d491c6629-aaf106e9bc.zip
  libs/npm/core/.yarn/cache/deep-equal-npm-1.1.2-3af5068c14-2d50f27fff.zip
  libs/npm/core/.yarn/cache/eventemitter3-npm-2.0.3-71d4ac3a65-dfbf4a0714.zip
  libs/npm/core/.yarn/cache/eventemitter3-npm-5.0.1-5e423b7df3-543d6c858a.zip
  libs/npm/core/.yarn/cache/extend-npm-3.0.2-e1ca07ac54-a50a8309ca.zip
  libs/npm/core/.yarn/cache/fast-diff-npm-1.1.2-907d4b29ef-2ef726603e.zip
  libs/npm/core/.yarn/cache/is-arguments-npm-1.1.1-eff4f6d4d7-7f02700ec2.zip
  libs/npm/core/.yarn/cache/object-is-npm-1.1.6-bfafd361ee-3ea2275996.zip
  libs/npm/core/.yarn/cache/parchment-npm-1.1.4-a3bac35728-4799756742.zip
  libs/npm/core/.yarn/cache/parchment-npm-3.0.0-8af750d9d9-4d7962442c.zip
  libs/npm/core/.yarn/cache/quill-delta-npm-3.6.3-3ae240a64d-e62ed33983.zip
  libs/npm/core/.yarn/cache/quill-npm-1.3.7-c79f7446fc-db3e265a84.zip
  libs/npm/core/.yarn/cache/quill-npm-2.0.2-135b4c32cb-3f5f20be6c.zip
  libs/npm/core/.yarn/cache/react-quill-new-npm-3.3.1-8db7480b52-963cc544fe.zip
  libs/npm/core/.yarn/cache/react-quill-npm-2.0.0-f2d141fe1d-568e28656a.zip
  libs/npm/core/.yarn/cache/tno-core-npm-0.1.121-fe24e65a63-6340d90784.zip
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
  libs/npm/core/src/components/formik/wysiwyg/FormikContentWysiwyg.tsx
  libs/npm/core/src/components/formik/wysiwyg/FormikWysiwyg.tsx
  libs/npm/core/yarn.lock
  openshift/templates/sysdig/authorize.yaml
Labels: bug, tno-core update, editor

#2290 Fix report section
  app/editor/src/features/admin/report-templates/templates/body/CustomReport.cshtml
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionText.tsx
Labels: bug, subscriber

#2291 TNO-2994 Fixed removing formatting issue
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/package.json
  app/subscriber/yarn.lock
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
Labels: bug, subscriber

#2292 Fix add to report
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/modal/Modal.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/share-menu/ShareMenu.tsx
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  app/subscriber/src/features/content/view-content/ViewContentToolbar.tsx
  app/subscriber/src/features/daily-overview/AVOverviewPreview.tsx
  app/subscriber/src/features/event-of-the-day/EventOfTheDayPreview.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/login/UserInfo.tsx
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/my-colleagues/MyColleaguesLanding.tsx
  app/subscriber/src/features/my-folders/ConfigureFolder.tsx
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/components/StartNextReportInfo.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportViewForm.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  services/net/reporting/ReportingManager.cs
Labels: bug, subscriber

#2293 Fix dev setup docs
  docs/DEVELOPMENT.md
  openshift/Makefile
  openshift/kustomize/tekton/base/tasks/git-conditions.yaml
  openshift/scripts/deploy.sh
Labels: documentation, devops

#2294 Fix keycloak sync issue
  api/net/Areas/Admin/Controllers/UserController.cs
  api/net/Keycloak/KeycloakHelper.cs
  libs/net/keycloak/Partials/KeycloakServiceUsers.cs
Labels: bug

#2295 Fix add to report
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
  openshift/kustomize/tekton/base/tasks/git-conditions.yaml
  tools/scripts/gen-env-files.sh
Labels: bug, subscriber

#2297 Fix papers filter
  app/editor/src/features/content/interfaces/IContentListFilter.ts
  app/editor/src/features/content/list-view/utils/queryToFilter.ts
  app/editor/src/features/content/papers/constants/defaultPaperFilter.ts
  app/editor/src/store/slices/content/contentSlice.ts
  app/subscriber/src/features/my-products/MyProducts.tsx
  services/net/filemonitor/FilemonitorAction.cs
Labels: bug, editor

#2300 Update EoD add topic
  app/editor/src/features/admin/topics/TopicFormSmall.tsx
  app/editor/src/features/admin/topics/styled/TopicFormSmall.tsx
  app/editor/src/store/hooks/admin/useTopics.ts
Labels: enhancement, editor
