Repository bcgov/tno, pull requests merged in 2024-07, with the labels that each got.

#2001 TNO-2865 Add reverse-proxy
  network/reverse-proxy/editor/Dockerfile
  network/reverse-proxy/editor/config/default.conf
  network/reverse-proxy/subscriber/Dockerfile
  network/reverse-proxy/subscriber/config/default.conf
  openshift/kustomize/nginx-reverse-proxy/base/deploy.yaml
  openshift/kustomize/nginx-reverse-proxy/base/kustomization.yaml
  openshift/kustomize/nginx-reverse-proxy/base/service.yaml
  openshift/kustomize/nginx-reverse-proxy/build/base/build.yaml
  openshift/kustomize/nginx-reverse-proxy/build/base/kustomization.yaml
  openshift/kustomize/nginx-reverse-proxy/build/overlays/dev/kustomization.yaml
  openshift/kustomize/nginx-reverse-proxy/overlays/dev/kustomization.yaml
  openshift/kustomize/nginx-reverse-proxy/overlays/prod/kustomization.yaml
  openshift/kustomize/nginx-reverse-proxy/overlays/test/kustomization.yaml
Labels: devops

#2005 TNO-2817: Editor page sync not working
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/papers/Papers.tsx
Labels: bug, editor

#2007 Fixing TNO Migration
  services/net/contentmigration/ContentMigrationManager.cs
Labels: enhancement

#2008 Improve TNO Migration
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/ContentMigrationManager.cs
  services/net/contentmigration/ContentMigrationService.cs
Labels: enhancement

#2010 TNO-2879 Fix do not send report
  services/net/reporting/ReportingManager.cs
Labels: bug

#2014 TNO-2772: More user feedback for no results
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, enhancement, subscriber

#2016 TNO-2690: Filter options not correctly remembering / applying when navigating back to site
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/features/home/Home.tsx
Labels: bug, enhancement, subscriber

#2015 TNO-2816: Paper sort order not working
  app/editor/src/features/content/list-view/utils/naturalSort.ts
  app/editor/src/features/content/papers/hooks/useSortContent.ts
Labels: bug, editor

#2018 Fix search users
  app/editor/src/features/admin/users/UserFilter.tsx
  app/editor/src/features/admin/users/utils/makeUserFilter.ts
  libs/net/dal/Services/UserService.cs
Labels: bug, editor

#2009 TNO-2785: Manage product sub requests
  app/editor/src/features/admin/products/ProductForm.tsx
  app/editor/src/features/admin/products/ProductSubRequests.tsx
  app/editor/src/features/admin/products/UserApproveDeny.tsx
  app/editor/src/features/admin/products/index.ts
  app/editor/src/features/admin/products/styled/ProductSubRequests.tsx
  app/editor/src/features/admin/products/styled/index.ts
Labels: enhancement, editor

#2024 TNO-2784: [Fix] Stories on Press Gallery landing page are not written by Press Gallery members
  app/subscriber/src/components/content-list/utils/highlightTerms.tsx
Labels: bug, subscriber

#2025 TNO-2814 added summary for teaser snippet
  app/subscriber/src/components/content-list/ContentRow.tsx
Labels: bug, subscriber

#2026 TNO-2841 removed add folder for front pages
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
Labels: subscriber

#2027 TNO-2893 Fix view report instance
  app/subscriber/src/features/my-reports/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/ReportView.tsx
  app/subscriber/src/features/router/AppRouter.tsx
Labels: bug, subscriber

#2029 Anonymous view report page
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  app/subscriber/src/App.tsx
  app/subscriber/src/features/my-reports/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/styled/ReportInstanceView.tsx
  app/subscriber/src/features/my-reports/styled/index.ts
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/search-page/SearchPageContext.tsx
Labels: subscriber

#2030 Fix notifications
  services/net/notification/NotificationManager.cs
Labels: bug

#2031 Fix auto convert
  api/net/Areas/Editor/Models/Storage/DirectoryModel.cs
  api/net/Areas/Editor/Models/Storage/ItemModel.cs
  api/net/TNO.API.csproj
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
  libs/net/ches/TNO.Ches.csproj
  libs/net/core/TNO.Core.csproj
  libs/net/css/TNO.CSS.csproj
  libs/net/dal/TNO.DAL.csproj
  libs/net/entities/TNO.Entities.csproj
  libs/net/kafka/TNO.Kafka.csproj
  libs/net/keycloak/TNO.Keycloak.csproj
  libs/net/reports/TNO.Reports.csproj
  libs/net/services/TNO.Services.csproj
  libs/net/template/TNO.TemplateEngine.csproj
  libs/net/tests/core/TNO.Test.Core.csproj
  libs/net/tests/dal/TNO.Test.DAL.csproj
  services/net/content/TNO.Services.Content.csproj
  services/net/contentmigration/TNO.Services.ContentMigration.csproj
  services/net/filemonitor/FilemonitorAction.cs
  services/net/filemonitor/TNO.Services.FileMonitor.csproj
  services/net/image/ImageAction.cs
  services/net/image/TNO.Services.Image.csproj
  services/net/notification/TNO.Services.Notification.csproj
  services/net/reporting/TNO.Services.Reporting.csproj
  tools/elastic/migration/TNO.Elastic.Migration.csproj
  tools/scripts/gen-env-files.sh
Labels: bug

#2032 Teaser bug fix
  app/subscriber/src/components/content-list/ContentRow.tsx
Labels: bug, subscriber

#2033 Update reverse-proxy
  network/reverse-proxy/subscriber/config/default.conf
Labels: bug

#2034 TNO-2764 duplicate summaries transcript
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#2041 TNO-2885 Fix missing content in report
  app/editor/src/features/content/form/ContentActions.tsx
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/components/tool-bar/ContentFormToolBar.tsx
  app/editor/src/features/content/form/components/tool-bar/form/AlertSection.tsx
  app/editor/src/features/content/form/interfaces/IContentForm.ts
  libs/net/dal/Extensions/JsonDocumentExtensions.cs
  services/net/contentmigration/sources/oracle/Entities/UserTone.cs
  services/net/reporting/ReportingManager.cs
Labels: bug

#2042 [New Branch/Reopened] TNO-2611: Insert Content Link through WYIWYG
  app/editor/.yarn/cache/tno-core-npm-0.1.103-0f1d49d487-9392035740.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.105-15ae7956f0-d699c2d834.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.103-0f1d49d487-9392035740.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.105-15ae7956f0-d699c2d834.zip
  app/subscriber/package.json
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/yarn.lock
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/CustomToolbar.tsx
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
  libs/npm/core/src/components/form/wysiwyg/interfaces/IUrlOption.ts
  libs/npm/core/src/components/form/wysiwyg/interfaces/index.ts
  libs/npm/core/src/components/form/wysiwyg/styled/Wysiwyg.tsx
Labels: subscriber, tno-core update

#2044 Bug Fixes
  app/subscriber/src/features/my-reports/edit/view/ReportHistoryForm.tsx
  app/subscriber/src/features/my-reports/utils/calcNextReportSend.ts
  libs/net/dal/Services/UserService.cs
Labels: bug, subscriber, editor

#2043 TNO-2801: Adding content to folder/reports does not uncheck them
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#2047 Fix Editor nginx
  network/reverse-proxy/editor/Dockerfile
Labels: bug

#2049 Fix reports
  libs/net/models/Areas/Admin/Report/ReportModel.cs
  libs/net/models/Areas/Admin/Report/ReportSectionModel.cs
Labels: bug

#2050 Fix reports
  api/net/Areas/Admin/Controllers/ReportController.cs
  app/editor/src/features/admin/report-templates/templates/body/CustomReport.cshtml
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/utils/hideEmptySections.ts
  libs/net/models/Areas/Admin/Report/ReportModel.cs
  libs/net/models/Settings/ReportSectionSettingsModel.cs
  libs/net/template/ReportEngine.cs
Labels: bug

#2051 TNO-2811: TNO Migration missing Event transcripts
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: bug

#2052 TNO-2806: Transcripts display without a space after a question mark
  libs/net/core/Extensions/StringExtensions.cs
Labels: bug

#2053 TNO-2678 Fixed Ingest Services save content issue
  api/net/Areas/Services/Controllers/ContentController.cs
Labels: bug

#2054 Tno 2773 settings page
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/features/my-colleagues/ColleagueEdit.tsx
  app/subscriber/src/features/my-colleagues/MyColleagues.tsx
  app/subscriber/src/features/my-colleagues/MyColleaguesLanding.tsx
  app/subscriber/src/features/my-colleagues/constants/ColleagueActionEnum.ts
  app/subscriber/src/features/my-colleagues/index.ts
  app/subscriber/src/features/my-colleagues/interfaces/IMyColleaguesProps.ts
  app/subscriber/src/features/my-colleagues/styled/MyColleagues.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/settings/SettingsLanding.tsx
  app/subscriber/src/features/settings/constants/SettingsSessionEnum.ts
  app/subscriber/src/features/settings/index.ts
  app/subscriber/src/features/settings/styled/SettingsLanding.tsx
  app/subscriber/src/features/settings/styled/index.ts
Labels: subscriber

#2055 Fix Advanced Search
  app/editor/.yarn/cache/tno-core-npm-0.1.109-d3fd1fa9f4-816fd2408a.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.110-637282b2a8-d0e8ff0241.zip
  app/editor/package.json
  app/editor/src/features/admin/filters/ElasticQueryHelp.tsx
  app/editor/src/features/admin/filters/FilterSettingsForm.tsx
  app/editor/src/features/admin/filters/styled/FilterForm.tsx
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.109-d3fd1fa9f4-816fd2408a.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.110-637282b2a8-d0e8ff0241.zip
  app/subscriber/package.json
  app/subscriber/src/features/constants/defaultFilterSettings.ts
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/search-page/PreviousResults.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticInfo.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticQueryHelp.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/index.ts
  app/subscriber/src/features/search-page/utils/filterFormat.ts
  app/subscriber/src/store/hooks/app/useApp.ts
  app/subscriber/yarn.lock
  libs/net/models/Settings/FilterSettingsModel.cs
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/interfaces/IFilterSettingsModel.ts
  libs/npm/core/src/utils/elastic/generateQueryString.ts
  libs/npm/core/src/utils/elastic/generateSimpleQueryString.ts
  libs/npm/core/src/utils/elastic/generateTextQuery.ts
Labels: bug, enhancement, subscriber, tno-core update, editor

#2059 Fix Evening Overview
  api/net/Areas/Subscriber/Controllers/AVOverviewController.cs
Labels: bug, subscriber

#2056 TNO-2869,TNO-2819: prevent override transcript, and match contributor and byline.
  api/net/Areas/Helpers/WorkOrderHelper.cs
  app/editor/src/features/content/form/ContentForm.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: enhancement

#2062 Configure Keycloak custom realm
  openshift/kustomize/api-services/base/deploy.yaml
  openshift/kustomize/api/base/deploy.yaml
  openshift/kustomize/api/base/statefulset.yaml
  openshift/kustomize/shared_resources/base/keycloak-config-map.yaml
  services/net/capture/appsettings.Development.json
  services/net/capture/appsettings.Staging.json
  services/net/capture/appsettings.json
  services/net/clip/appsettings.Development.json
  services/net/clip/appsettings.Staging.json
  services/net/clip/appsettings.json
  services/net/content/appsettings.Development.json
  services/net/content/appsettings.Staging.json
  services/net/content/appsettings.json
  services/net/contentmigration/appsettings.Development.json
  services/net/contentmigration/appsettings.Staging.json
  services/net/contentmigration/appsettings.json
  services/net/event-handler/appsettings.Development.json
  services/net/event-handler/appsettings.Staging.json
  services/net/event-handler/appsettings.json
  services/net/extract-quotes/appsettings.Development.json
  services/net/extract-quotes/appsettings.Staging.json
  services/net/extract-quotes/appsettings.json
  services/net/ffmpeg/appsettings.Development.json
  services/net/ffmpeg/appsettings.Staging.json
  services/net/ffmpeg/appsettings.json
  services/net/filecopy/appsettings.Development.json
  services/net/filecopy/appsettings.Staging.json
  services/net/filecopy/appsettings.json
  services/net/filemonitor/appsettings.Development.json
  services/net/filemonitor/appsettings.Staging.json
  services/net/filemonitor/appsettings.json
  services/net/folder-collection/appsettings.Development.json
  services/net/folder-collection/appsettings.Staging.json
  services/net/folder-collection/appsettings.json
  services/net/image/appsettings.Development.json
  services/net/image/appsettings.Staging.json
  services/net/image/appsettings.json
  services/net/indexing/appsettings.Development.json
  services/net/indexing/appsettings.Staging.json
  services/net/indexing/appsettings.json
  services/net/nlp/appsettings.Development.json
  services/net/nlp/appsettings.Staging.json
  services/net/nlp/appsettings.json
  services/net/notification/appsettings.Development.json
  services/net/notification/appsettings.Staging.json
  services/net/notification/appsettings.json
  services/net/reporting/appsettings.Development.json
  services/net/reporting/appsettings.Staging.json
  services/net/reporting/appsettings.json
  services/net/scheduler/appsettings.Development.json
  services/net/scheduler/appsettings.Staging.json
  services/net/scheduler/appsettings.json
  services/net/syndication/appsettings.Development.json
  services/net/syndication/appsettings.Staging.json
  services/net/syndication/appsettings.json
  services/net/transcription/appsettings.Development.json
  services/net/transcription/appsettings.Staging.json
  services/net/transcription/appsettings.json
Labels: devops

#2061 TNO-2882: (1/2) Jonny + Bobbi U/X Session
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/components/media-type-filters/styled/MediaTypeFilters.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
  app/subscriber/src/features/search-page/PreviousResults.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ExpandableRow.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/styled/PreviousResults.tsx
  app/subscriber/src/index.scss
Labels: bug, enhancement, subscriber

#2064 Add IDIR IDP
  app/editor/src/features/login/LoginPanel.tsx
  app/subscriber/src/features/login/BrowserLogin.tsx
  openshift/scripts/stop.sh
  openshift/scripts/up.sh
Labels: enhancement, subscriber, editor

#2065 Remove highlight terms
  libs/net/template/ReportExtensions.cs
Labels: bug

#2066 Fix send report
  app/subscriber/src/features/my-reports/edit/view/ReportViewForm.tsx
Labels: bug, subscriber

#2063 TNO- 2790: Home Page logo should reset page
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: enhancement, subscriber

#2068 Fix transcribe URL
  openshift/kustomize/api-services/base/deploy.yaml
  openshift/kustomize/api/base/deploy.yaml
  openshift/kustomize/api/base/statefulset.yaml
  openshift/kustomize/services/notification/base/deploy.yaml
  openshift/kustomize/services/reporting/base/deploy.yaml
  openshift/kustomize/shared_resources/base/reporting-shared-config-map.yaml
  openshift/kustomize/shared_resources/overlays/dev/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/prod/kustomization.yaml
  openshift/kustomize/shared_resources/overlays/test/kustomization.yaml
Labels: devops

#2069 [FIX]TNO-2790: Home Page logo should reset page
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#2067 [READY] TNO-2880: New popout for A/V
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/router/AppRouter.tsx
Labels: enhancement, subscriber

#2070 Fix logic for "Edit Story" button on ViewContent
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
Labels: bug, subscriber

#2071 TNO-1397 Logo size and container adjustment
  app/subscriber/src/features/transcription-request/TranscriptionRequest.tsx
  app/subscriber/src/features/transcription-request/styled/TranscriptionRequest.tsx
Labels: subscriber

#2073 Fix Event transcripts
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: bug

#2075 CSS small fix
  app/subscriber/src/components/media-type-filters/styled/MediaTypeFilters.tsx
Labels: bug, subscriber

#2074 TNO-2611 Fix: Move Insert Content Link to the appropriate Wysiwyg
  app/editor/.yarn/cache/tno-core-npm-0.1.113-9f9c4aa50d-a0647819ff.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.114-c13a8bc796-67350b2199.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.113-9f9c4aa50d-a0647819ff.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.114-c13a8bc796-67350b2199.zip
  app/subscriber/package.json
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/summaries/ReportSections.tsx
  app/subscriber/yarn.lock
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/styled/Wysiwyg.tsx
  libs/npm/core/src/components/formik/wysiwyg/FormikWysiwyg.tsx
Labels: bug, subscriber, tno-core update

#2076 Fix reports
  api/net/Areas/Editor/Controllers/ReportController.cs
  api/net/Areas/Services/Controllers/ReportController.cs
  app/editor/src/features/content/papers/PaperToolbar.tsx
  app/subscriber/src/components/action/styled/Action.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportView.tsx
  libs/net/dal/Services/ReportInstanceService.cs
  libs/net/dal/Services/ReportService.cs
  libs/net/models/Settings/ReportSettingsModel.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, subscriber, editor

#2077 TNO-2790: HomePage logo reset page
  app/subscriber/src/components/header/Header.tsx
Labels: subscriber

#2078 TNO-2807 update subscription for report and notification
  libs/net/dal/Services/ProductService.cs
Labels: bug, editor

#2079 TNO-2796: Update My Minister View
  app/subscriber/src/components/content-list/Attributes.tsx
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-minister/constants/columns.tsx
  app/subscriber/src/features/my-minister/constants/index.ts
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
Labels: enhancement, subscriber

#2082 Fix TNO Migration
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: bug

#2083 Update report schedule
  app/editor/src/features/admin/reports/ReportSchedule.tsx
  services/net/contentmigration/ContentMigrationAction.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
Labels: enhancement, editor

#2084 TNO-2790: HomePage logo reset page
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/ResetFilters.tsx
Labels: subscriber

#2086 TNO-2857 Replace png image with svg image
  app/subscriber/public/assets/Logos_IDIR.png
  app/subscriber/public/assets/Logos_IDIR.svg
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
Labels: enhancement, subscriber, editor

#2085 CSS From Session w/ Bobbi
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-products/ProductCard.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/settings/SettingsLanding.tsx
  app/subscriber/src/features/settings/styled/SettingsLanding.tsx
Labels: enhancement, subscriber

#2088 Fix filter by media type
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/store/hooks/lookup/useSettings.ts
  app/subscriber/src/store/slices/settings/interfaces/ISettingsState.ts
  app/subscriber/src/store/slices/settings/settingsSlice.ts
Labels: bug, subscriber

#2087 TNO-924 Adding snowplow analytics initial testing code
  app/subscriber/public/index.html
Labels: subscriber

#2090 Fix reporting
  api/net/Areas/Admin/Controllers/ReportController.cs
  libs/net/core/Extensions/StreamExtensions.cs
  libs/net/core/Http/HttpRequestClient.cs
  libs/net/kafka/KafkaListener`.cs
  libs/net/kafka/Models/ReportRequestModel.cs
  libs/net/services/Config/ServiceOptions.cs
  libs/net/services/Managers/IngestManager`.cs
  libs/net/services/ServiceState.cs
  libs/net/services/ServiceStatus.cs
  libs/net/tests/services/ServiceStateTest.cs
  services/net/content/ContentManager.cs
  services/net/contentmigration/migrators/ClipMigrator.cs
  services/net/event-handler/EventHandlerManager.cs
  services/net/ffmpeg/FFmpegManager.cs
  services/net/filecopy/FileCopyManager.cs
  services/net/folder-collection/FolderCollectionManager.cs
  services/net/indexing/IndexingManager.cs
  services/net/nlp/NLPManager.cs
  services/net/notification/NotificationManager.cs
  services/net/reporting/ReportingErrors.cs
  services/net/reporting/ReportingException.cs
  services/net/reporting/ReportingManager.cs
  services/net/scheduler/SchedulerManager.cs
  services/net/transcription/TranscriptionManager.cs
  tools/elastic/migration/TNOMigration.cs
Labels: bug, enhancement

#2092 Fix reporting service
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditPreferencesForm.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportViewForm.tsx
  libs/net/core/Http/HttpRequestClient.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, subscriber, editor

#2093 Fix Evening Overview
  app/editor/src/features/reports/av-overview/AVOverview.tsx
  app/editor/src/features/reports/av-overview/styled/AVOverview.tsx
  libs/net/elastic/Extensions/ServiceCollectionExtensions.cs
Labels: bug, editor

#2096 Visual Bug on My Minister
  app/subscriber/src/components/content-list/Attributes.tsx
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
Labels: bug, subscriber

#2097 TNO: AdvancedSearchSlow
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: enhancement, subscriber

#2099 Fix reporting service
  libs/net/services/Config/ServiceOptions.cs
  libs/net/services/Helpers/ApiService.cs
Labels: enhancement

#2101 [Fix] TNO-2922: Advanced Search Very Slow
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#2103 Fix send report manually
  app/editor/src/features/reports/ReportInstancePreview.tsx
Labels: bug, editor

#2104 Fix report status
  app/subscriber/src/features/my-reports/ReportCard.tsx
Labels: bug, subscriber

#2100 TNO-2921: Advanced Search Using Escape Characters Breaking Bolding.
  app/subscriber/src/features/search-page/utils/formatSearch.ts
Labels: subscriber

#2105 TNO-2859 Query fixes
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: editor

#2106 Remove invalid characters
  libs/net/core/Extensions/StringExtensions.cs
  libs/net/template/ReportEngine.cs
Labels: bug

#2107 My Reports CSS Cleanup
  app/subscriber/src/components/action/Action.tsx
  app/subscriber/src/components/action/styled/Action.tsx
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/components/ReportKindIcon.tsx
  app/subscriber/src/features/my-reports/components/styled/ReportKindIcon.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: enhancement, subscriber

#2108 Reporting merge issue
  services/net/reporting/Config/ReportingOptions.cs
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#2112 Fix Reporting Service
  libs/net/dal/Migrations/1.2.0/Up/PostUp/00-Users.sql
  services/net/reporting/ReportingManager.cs
Labels: bug

#2110 Small decrease in title size
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: enhancement, subscriber

#2111 TNO-2826 Add hover effect to ReportEditSortForm row
  app/subscriber/src/features/my-reports/edit/content/styled/ReportEditSortForm.tsx
Labels: enhancement, subscriber

#2114 TNO-2911: Fix count on Press Gallery date options
  app/subscriber/src/features/press-gallery/utils/generateDates.ts
Labels: bug, subscriber

#2115 Elastic Info: default to simple-query
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticQueryHelp.tsx
Labels: bug, subscriber
