Repository bcgov/tno, pull requests merged in 2024-08, with the labels that each got.

#2118 Fix FFmpeg
  services/net/ffmpeg/Config/FFmpegOptions.cs
  services/net/ffmpeg/FFmpegManager.cs
Labels: bug

#2116 Tno 924 snowplow implementation
  app/subscriber/public/index.html
  app/subscriber/src/@types/react-table-config.d.ts
  app/subscriber/src/App.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
Labels: enhancement, subscriber

#2121 TNO-2911: Remove count from date dropdown in Press Gallery
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/generateDates.ts
Labels: bug, subscriber

#2123 TNO-2846 Naming convertions and path fixes
  app/subscriber/src/features/help/Help.tsx
  openshift/kustomize/app/subscriber/base/pvc.yaml
Labels: subscriber

#2124 Tno 2828 report sort options
  app/editor/.yarn/cache/tno-core-npm-0.1.122-70b228c31d-53a203369a.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.122-70b228c31d-53a203369a.zip
  app/subscriber/package.json
  app/subscriber/yarn.lock
  libs/net/dal/Services/ReportService.cs
  libs/net/template/ReportEngine.cs
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/constants/ReportSectionOrderByOptions.ts
Labels: enhancement, subscriber

#2127 TNO-2922: AdvancedSearch - Very slow when typing
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: subscriber

#2128 TNO-2777 code to stick buttons to bottom
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
Labels: subscriber

#2129 TNO-2895 Configure landing and screen size
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: subscriber

#2131 TNO-2912 Added ingest name to error messages
  services/net/filemonitor/FilemonitorAction.cs
Labels: enhancement

#2134 Fix advanced search
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#2135 TNO-2897 Update gateway error
  api/net/Middleware/ErrorHandlingMiddleware.cs
  app/subscriber/src/features/my-folders/MyFolders.tsx
  app/subscriber/src/store/hooks/useAjaxWrapper.ts
Labels: enhancement, subscriber

#2136 TNO-1249 Improve error messages
  app/subscriber/src/store/hooks/app/useToastError.tsx
  app/subscriber/src/store/hooks/useAjaxWrapper.ts
Labels: enhancement, subscriber

#2138 flex display for report instance view in subscriber
  app/subscriber/src/features/my-reports/styled/ReportInstanceView.tsx
Labels: bug, subscriber

#2139 Fix report invalid characters
  libs/net/core/Extensions/StringExtensions.cs
  libs/net/template/Models/Reports/ChartEngineContentModel.cs
  libs/net/template/ReportEngine.cs
Labels: bug

#2140 Revamp log-in page
  app/subscriber/src/components/lightweight-modal/LightweightModal.tsx
  app/subscriber/src/components/lightweight-modal/styled/LightweightModal.tsx
  app/subscriber/src/components/lightweight-modal/styled/index.ts
  app/subscriber/src/features/login/AppLogin.tsx
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/login/IDPOptions.tsx
  app/subscriber/src/features/login/MobileLogin.tsx
  app/subscriber/src/features/login/SystemMessage.tsx
  app/subscriber/src/features/login/UnauthenticatedHome.tsx
  app/subscriber/src/features/login/index.ts
  app/subscriber/src/features/login/styled/AppLogin.tsx
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
  app/subscriber/src/features/login/styled/SystemMessage.tsx
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
  app/subscriber/src/features/login/styled/index.ts
Labels: enhancement, subscriber

#2142 Small login changes
  app/subscriber/src/features/login/AppLogin.tsx
  app/subscriber/src/features/login/styled/AppLogin.tsx
  app/subscriber/src/features/login/styled/SystemMessage.tsx
Labels: bug, subscriber

#2143 TNO-2922: AdvancedSearch very slow when typing
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#2146 Fix highlight keywords
  libs/net/elastic/Extensions/RegexSettings.cs
  libs/net/elastic/Extensions/StringExtensions.cs
Labels: bug

#2145 [Ready] Fix scroll bug, better spacing, move alert
  app/subscriber/src/features/login/styled/AppLogin.tsx
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
Labels: bug, subscriber

#2147 TNO-2896: Update commentary block to use a simplified list view
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/commentary/styled/Commentary.tsx
Labels: enhancement, subscriber

#2149 TNO-2940 Group, mentions and filter settings
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
Labels: subscriber

#2148 Update regex pattern to match tno directory.
  tools/scripts/kc-key-update.sh
Labels: bug

#2150 TNO-2765 Improve transcript queue
  app/editor/src/features/work-orders/WorkOrderFilter.tsx
  app/editor/src/features/work-orders/transcription/TranscriptionList.tsx
  app/editor/src/features/work-orders/transcription/WorkOrderActions.tsx
  app/editor/src/features/work-orders/transcription/WorkOrderStatus.tsx
  app/editor/src/features/work-orders/transcription/styled/TranscriptionList.tsx
Labels: enhancement, editor

#2152 TNO-2800: Error when subscribing to Evening Overview
  libs/net/dal/Services/AVOverviewTemplateService.cs
Labels: bug, editor

#2153 Visual fix for Commentary Box
  app/subscriber/src/features/commentary/styled/Commentary.tsx
Labels: bug, subscriber

#2155 TNO-924 fixed multiple calls to pageview snowplow
  app/subscriber/src/App.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/router/AppRouter.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/todays-front-pages/TodaysFrontPages.tsx
Labels: subscriber

#2156 TNO-2965: Missing byline field
  app/subscriber/src/features/my-reports/components/ReportContentInlineText.tsx
  app/subscriber/src/features/my-reports/edit/content/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/edit/content/sort/ReportContentSectionRow.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportContentSectionRow.tsx
Labels: enhancement, subscriber

#2157 TNO-2969: Navigation bar being cut off on smaller devices
  app/subscriber/src/components/layout/styled/Layout.tsx
  app/subscriber/src/components/navbar/styled/Navbar.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
Labels: bug, enhancement, subscriber

#2161 TNO-2971: Press gallery input too small
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
Labels: bug, enhancement, subscriber

#2162 TNO-2859 Fix find by date method
  libs/net/dal/Services/AVOverviewInstanceService.cs
Labels: editor

#2164 Temp fix for reporting service
  libs/net/template/ReportExtensions.cs
Labels: bug

#2163 TNO-2966: Scroll to top of page when navigating on mobile device
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/store/hooks/app/index.ts
  app/subscriber/src/store/hooks/app/useMobile.tsx
Labels: bug, enhancement, subscriber

#2165 TNO-2945: When a schedule is enabled, at least one day must be selected for running
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSchedule.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/validation/ReportFormScheduleSchema.ts
Labels: bug, enhancement, subscriber

#2166 Temp fix for reporting service
  app/editor/src/features/admin/filters/ElasticQueryHelp.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticQueryHelp.tsx
  libs/net/elastic/Extensions/RegexSettings.cs
  libs/net/elastic/Extensions/StringExtensions.cs
Labels: bug

#2168 TNO-2915 refresh button consistency across site
  app/subscriber/src/components/action/Action.tsx
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/commentary/styled/Commentary.tsx
Labels: subscriber

#2170 TNO-2915 refresh button consistency across site
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/styled/ReportSections.tsx
  app/subscriber/src/features/my-reports/edit/content/styled/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/styled/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: subscriber

#2171 Remove report validation
  app/subscriber/src/features/my-reports/edit/validation/ReportFormScheduleSchema.ts
Labels: bug, subscriber

#2172 TNO-2945: Fix validation blocker for manual reports
  app/subscriber/src/features/my-reports/edit/validation/ReportFormScheduleSchema.ts
Labels: bug, subscriber

#2173 TNO-2830: Common shortcut keys no longer work on the Content Form
  app/editor/src/features/content/form/ContentActions.tsx
  app/editor/src/features/content/form/constants/actionsEnum.ts
  app/editor/src/features/content/form/styled/ContentActions.tsx
  app/editor/src/features/content/form/styled/index.ts
  app/editor/src/features/content/papers/Papers.tsx
  app/editor/src/features/content/papers/components/ReportActions.tsx
  app/editor/src/features/content/papers/styled/Papers.tsx
Labels: bug, editor

#2175 TNO-2905: Autoplay inline video
  app/subscriber/src/components/content-list/ContentRow.tsx
Labels: enhancement, subscriber

#2174 TNO-2967 Filter options implementation
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/components/media-type-filters/utils/determineStore.ts
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
  app/subscriber/src/store/slices/content/constants/initialContentState.ts
  app/subscriber/src/store/slices/content/contentSlice.ts
  app/subscriber/src/store/slices/content/interfaces/IContentState.ts
  app/subscriber/src/store/slices/content/useContentStore.ts
Labels: subscriber

#2176 Enable edit failed report
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
Labels: bug, subscriber

#2177 Fix edit report
  app/subscriber/src/features/my-reports/edit/ReportEditPage.tsx
Labels: bug, subscriber

#2178 TNO-2905 Bug: Autoplay inline audio
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
Labels: bug, subscriber

#2179 Fixed sending email errors
  libs/net/services/Actions/Managers/ServiceActionManager`.cs
  libs/net/services/Managers/ServiceManager`.cs
Labels: bug

#2180 TNO-2859 Triggers clip search when the AV ID is changed
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: editor

#2181 Margin fixes for add to report menu
  app/subscriber/src/components/tool-bar/styled/AddToMenu.tsx
Labels: bug, subscriber

#2183 Fix report resend
  services/net/reporting/ReportingManager.cs
Labels: bug

#2185 TNO-2967 Check current date length
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: subscriber

#2187 Fix Notification Service
  api/net/Areas/Subscriber/Controllers/WorkOrderController.cs
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  libs/net/dal/Services/NotificationService.cs
  libs/net/models/Filters/NotificationFilter.cs
  services/net/notification/NotificationManager.cs
Labels: bug

#2188 Advanced Search locking up browser
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
Labels: bug, subscriber

#2191 TNO-2859 Change the search event trigger
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: editor

#2192 TNO-2859 More AV Overview fixes
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
Labels: editor

#2194 Evening Overview Bug Fixes
  app/editor/src/features/reports/av-overview/AVOverview.tsx
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/OverviewSection.tsx
  app/editor/src/features/reports/av-overview/OverviewSectionForm.tsx
  app/editor/src/features/reports/av-overview/SummarySuggestion.tsx
  app/editor/src/features/reports/av-overview/utils/generateElasticsearchQuery.ts
  app/editor/src/features/reports/av-overview/utils/generateListOfSummaries.ts
  app/editor/src/features/reports/av-overview/utils/index.ts
  app/editor/src/features/reports/av-overview/utils/stringifyNumber.ts
Labels: bug, editor

#2195 Improve Evening Overview
  app/editor/src/features/reports/av-overview/OverviewSectionForm.tsx
  app/editor/src/features/reports/av-overview/SummarySuggestion.tsx
  app/editor/src/features/reports/av-overview/styled/OverviewGrid.tsx
  app/editor/src/features/reports/av-overview/styled/OverviewSection.tsx
  app/editor/src/features/reports/av-overview/styled/OverviewSectionForm.tsx
  app/editor/src/features/reports/av-overview/styled/index.ts
  app/editor/src/features/reports/av-overview/utils/generateElasticsearchQuery.ts
  libs/npm/core/src/components/form/timeinput/styled/TimeInput.tsx
  libs/npm/core/src/components/formik/timeinput/FormikTimeInput.tsx
Labels: bug, editor

#2193 TNO-2915 refresh button consistency
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  app/subscriber/src/components/refresh-button/RefreshButton.tsx
  app/subscriber/src/components/refresh-button/index.ts
  app/subscriber/src/components/refresh-button/styled/RefreshButton.tsx
  app/subscriber/src/components/refresh-button/styled/index.ts
  app/subscriber/src/features/commentary/Commentary.tsx
  app/subscriber/src/features/commentary/styled/Commentary.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/edit/content/stories/ReportSectionMediaAnalytics.tsx
Labels: subscriber

#2197 Configure TNO Migration
  app/editor/src/features/navbar/Menu.tsx
  db/oracle/docker/Dockerfile
  docker-compose.yml
  libs/net/template/ReportExtensions.cs
  openshift/kustomize/oracle/base/deploy.yaml
  openshift/kustomize/oracle/base/kustomization.yaml
  openshift/kustomize/oracle/base/pvc.yaml
  openshift/kustomize/oracle/base/service.yaml
  openshift/kustomize/oracle/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-current/base/config-map.yaml
  openshift/kustomize/services/contentmigration-current/base/deploy.yaml
  openshift/kustomize/services/contentmigration-current/base/kustomization.yaml
  openshift/kustomize/services/contentmigration-current/base/service.yaml
  openshift/kustomize/services/contentmigration-current/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-current/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-current/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/base/config-map.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/base/deploy.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/base/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/base/service.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-audiovideo/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-image/base/config-map.yaml
  openshift/kustomize/services/contentmigration-historic-image/base/deploy.yaml
  openshift/kustomize/services/contentmigration-historic-image/base/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-image/base/service.yaml
  openshift/kustomize/services/contentmigration-historic-image/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-image/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-image/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-online/base/config-map.yaml
  openshift/kustomize/services/contentmigration-historic-online/base/deploy.yaml
  openshift/kustomize/services/contentmigration-historic-online/base/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-online/base/service.yaml
  openshift/kustomize/services/contentmigration-historic-online/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-online/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-online/overlays/test/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-print/base/config-map.yaml
  openshift/kustomize/services/contentmigration-historic-print/base/deploy.yaml
  openshift/kustomize/services/contentmigration-historic-print/base/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-print/base/service.yaml
  openshift/kustomize/services/contentmigration-historic-print/overlays/dev/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-print/overlays/prod/kustomization.yaml
  openshift/kustomize/services/contentmigration-historic-print/overlays/test/kustomization.yaml
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug, devops, editor

#2196 TNO-2949 Prevent sending report with no subscribers
  app/editor/src/features/admin/reports/ReportForm.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportViewForm.tsx
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#2198 TNO-2968: Show previous results on main screens
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/index.ts
  app/subscriber/src/features/filter-media/styled/index.ts
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/index.ts
  app/subscriber/src/features/previous-results/PreviousResults.tsx
  app/subscriber/src/features/previous-results/index.ts
  app/subscriber/src/features/previous-results/interfaces/IPreviousDate.ts
  app/subscriber/src/features/previous-results/interfaces/index.ts
  app/subscriber/src/features/previous-results/styled/PreviousResults.tsx
  app/subscriber/src/features/previous-results/styled/index.ts
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  app/subscriber/src/store/hooks/subscriber/index.ts
  app/subscriber/src/store/hooks/subscriber/useFetchResults.tsx
Labels: enhancement, subscriber

#2201 Reset view when changing feature bug fix
  app/subscriber/src/features/landing/Landing.tsx
Labels: bug, subscriber

#2202 Fix edit report content
  api/net/Areas/Subscriber/Controllers/ContentController.cs
  app/subscriber/src/features/my-reports/edit/content/stories/ContentForm.tsx
Labels: bug, subscriber

#2206 Fix no content in resent report
  services/net/reporting/ReportingManager.cs
Labels: bug

#2204 TNO-2982: Add new tone colours
  app/subscriber/src/components/sentiment/Sentiment.tsx
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/content/view-content/ViewContent.tsx
  libs/net/template/ReportExtensions.cs
Labels: bug, enhancement, subscriber

#2207 Fix bug 500+ return bug
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#2208 Fix Products
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-products/ProductCard.tsx
Labels: bug, subscriber

#2209 Fix Products
  app/subscriber/src/features/my-products/ProductCard.tsx
Labels: bug, subscriber

#2210 Fix products
  app/subscriber/src/features/my-products/MyProducts.tsx
Labels: bug, subscriber

#2212 Fix multiple charts
  app/subscriber/src/features/my-reports/edit/ReportEditContext.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
Labels: bug, subscriber

#2213 TNO-2991: Add clear button to my reports filter
  app/subscriber/src/features/my-reports/ReportFilter.tsx
  app/subscriber/src/features/my-reports/styled/MyReports.tsx
Labels: enhancement, subscriber

#2214 Fix Paper Service
  services/net/content/ContentManager.cs
Labels: bug

#2217 Charts
  app/editor/src/features/navbar/Menu.tsx
  libs/net/models/Areas/Admin/Report/UserReportModel.cs
  services/net/reporting/Config/ReportingOptions.cs
  services/net/reporting/ReportingManager.cs
Labels: bug

#2218 Fix Reporting Service
  api/net/Areas/Admin/Controllers/ReportController.cs
  api/net/Areas/Admin/Controllers/ReportInstanceController.cs
  api/net/Areas/Editor/Controllers/AVOverviewController.cs
  api/net/Areas/Editor/Controllers/ReportController.cs
  api/net/Areas/Helpers/ReportHelper.cs
  api/net/Areas/Subscriber/Controllers/ReportInstanceController.cs
  libs/net/core/Extensions/JsonElementExtensions.cs
  libs/net/core/Extensions/StringExtensions.cs
  libs/net/kafka/Models/ReportRequestModel.cs
  libs/net/models/Areas/Services/Models/Report/UserModel.cs
  libs/net/services/Managers/IngestManager`.cs
  libs/net/services/Managers/ServiceManager`.cs
  libs/net/template/Models/Reports/ReportResultModel.cs
  openshift/kustomize/services/reporting/base/config-map.yaml
  openshift/kustomize/services/reporting/base/deploy.yaml
  services/net/content/ContentManager.cs
  services/net/extract-quotes/ExtractQuotesManager.cs
  services/net/folder-collection/FolderCollectionManager.cs
  services/net/indexing/IndexingManager.cs
  services/net/notification/NotificationManager.cs
  services/net/reporting/Config/ReportingOptions.cs
  services/net/reporting/ReportingErrors.cs
  services/net/reporting/ReportingManager.cs
  services/net/scheduler/SchedulerManager.cs
  services/net/transcription/TranscriptionManager.cs
Labels: bug

#2219 Fix Notification Service
  services/net/notification/NotificationManager.cs
  services/net/notification/Validation/NotificationValidator.cs
Labels: bug

#2221 TNO-3012 transcript and summary not showing together
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: bug, subscriber

#2222 Fix charts
  api/node/src/utils/data.ts
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ConfigureColours.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/utils/generateChartData.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/getChartData.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/groupData.ts
  libs/net/dal/Migrations/1.3.2/Down/PostDown/00-ChartTemplate.sql
  libs/net/dal/Migrations/1.3.2/Up/PostUp/00-ChartTemplate.sql
  libs/net/dal/Migrations/20240828044957_1.3.2.Designer.cs
  libs/net/dal/Migrations/20240828044957_1.3.2.cs
  libs/net/template/ReportExtensions.cs
Labels: bug, enhancement, DB Migration, subscriber

#2223 Enhance Reporting Service
  app/editor/src/features/admin/reports/ReportFormInstances.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
  app/subscriber/src/features/my-reports/ReportCard.tsx
  app/subscriber/src/features/my-reports/ReportPreview.tsx
  app/subscriber/src/features/my-reports/ReportStatus.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditActions.tsx
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/view/ReportViewForm.tsx
  app/subscriber/src/features/my-reports/edit/view/styled/ReportViewForm.tsx
  app/subscriber/src/features/my-reports/index.ts
  app/subscriber/src/features/my-reports/styled/ReportStatus.tsx
  app/subscriber/src/features/my-reports/styled/index.ts
  services/net/reporting/ReportingManager.cs
Labels: bug, enhancement, subscriber, editor

#2224 TNO-2929 colleagues to settings
  app/subscriber/src/components/user-profile/UserProfile.tsx
Labels: subscriber

#2225 Update assets for tone icons
  app/subscriber/public/assets/reports/face-negative.png
  app/subscriber/public/assets/reports/face-negative@2x.png
  app/subscriber/public/assets/reports/face-neutral.png
  app/subscriber/public/assets/reports/face-neutral@2x.png
  app/subscriber/public/assets/reports/face-positive.png
  app/subscriber/public/assets/reports/face-positive@2x.png
Labels: bug, subscriber

#2215 [Ready] TNO-2977: Expand WYSIWYG
  app/editor/.yarn/cache/tno-core-npm-0.1.139-c5c4c82c68-92382ad294.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.140-142f98343d-c69cbeddf1.zip
  app/editor/package.json
  app/editor/src/features/content/form/ContentStoryForm.tsx
  app/editor/src/features/content/form/ContentTranscriptForm.tsx
  app/editor/src/features/content/form/MediaSummary.tsx
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.139-c5c4c82c68-92382ad294.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.140-142f98343d-c69cbeddf1.zip
  app/subscriber/package.json
  app/subscriber/yarn.lock
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/CustomToolbar.tsx
  libs/npm/core/src/components/form/wysiwyg/ExpandedWysiwyg.tsx
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
  libs/npm/core/src/components/form/wysiwyg/styled/Wysiwyg.tsx
Labels: bug, enhancement, subscriber, tno-core update

#2228 Fix charts
  app/editor/.yarn/cache/tno-core-npm-0.1.140-142f98343d-c69cbeddf1.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.141-d9c40fae54-719aea81b9.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.140-142f98343d-c69cbeddf1.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.141-d9c40fae54-719aea81b9.zip
  app/subscriber/package.json
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartPicker.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/utils/convertToChart.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/generateChartOptions.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/generateSeries.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/getChartData.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/getDatasets.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/getSectionLabel.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/groupData.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/index.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/separateDatasets.ts
  app/subscriber/yarn.lock
  libs/net/models/Settings/ChartSectionSettingsModel.cs
  libs/net/template/ReportExtensions.cs
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/interfaces/IChartSectionSettingsModel.ts
  libs/npm/core/src/hooks/api/utils/mergeChartSettings.ts
Labels: bug, subscriber, tno-core update

#2229 Add chart auto resize
  app/editor/src/features/admin/reports/components/ReportSectionMediaAnalytics.tsx
  app/editor/src/features/admin/reports/components/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/utils/calcAutoSize.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/generateChartOptions.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/getChartData.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/index.ts
  app/subscriber/src/features/my-reports/edit/settings/template/utils/shouldResizeChart.ts
  libs/net/template/Models/Charts/ChartDatasetModel.cs
  libs/net/template/Models/Charts/Options/ChartOptionsModel.cs
  libs/net/template/ReportEngine.cs
Labels: bug, enhancement, subscriber

#2232 TNO-2993: Fix My Searches Layout
  app/subscriber/src/features/my-searches/MySearches.tsx
  app/subscriber/src/features/my-searches/styled/MySearches.tsx
Labels: enhancement, subscriber

#2233 Fix report charts
  api/node/src/routes.ts
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
  libs/net/template/ReportEngine.cs
  libs/net/template/ReportExtensions.cs
  libs/npm/core/src/hooks/api/utils/mergeChartSettings.ts
Labels: bug, subscriber

#2234 TNO-2989: Make date section collapsable in Advanced Search
  app/subscriber/src/features/search-page/components/advanced-search/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
Labels: enhancement, subscriber

#2235 Fix report chart resize
  app/editor/src/features/admin/reports/ReportFormSections.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditTemplateForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/utils/groupData.ts
  libs/net/template/ReportEngine.cs
Labels: bug, subscriber, editor

#2236 TNO-3016 Fix exclude content filters
  libs/net/dal/Services/ReportService.cs
Labels: subscriber

#2237 TNO-2992: Advanced Search - Allow Elastic help modal to stay open
  app/subscriber/.yarn/cache/clsx-npm-1.2.1-77792dc182-30befca801.zip
  app/subscriber/.yarn/cache/react-draggable-npm-4.4.6-4867b50158-9b15aac592.zip
  app/subscriber/package.json
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticQueryHelp.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/styled/ElasticInfo.tsx
  app/subscriber/yarn.lock
Labels: enhancement, subscriber

#2238 Elastic Info - Small Bug
  app/subscriber/src/features/search-page/components/advanced-search/components/ElasticQueryHelp.tsx
Labels: bug, subscriber

#2239 Fix report charts
  api/net/Areas/Subscriber/Controllers/ReportController.cs
  app/subscriber/src/components/modal/Modal.tsx
  app/subscriber/src/features/my-reports/edit/content/ReportEditContentForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/utils/convertToChart.ts
  libs/net/dal/Services/Interfaces/IReportService.cs
  libs/net/dal/Services/ReportService.cs
Labels: bug, subscriber

#2240 TNO-3016 Add Override back
  libs/net/dal/Services/ReportService.cs
Labels: bug, subscriber

#2241 Fix report charts
  app/subscriber/src/features/my-reports/edit/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/ReportEditDataSourcesForm.tsx
  app/subscriber/src/features/my-reports/edit/settings/data-sources/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ChartViewer.tsx
  app/subscriber/src/features/my-reports/edit/settings/template/charts/ConfigureDataset.tsx
Labels: bug, subscriber

#2242 Fix report chart
  app/subscriber/src/features/my-reports/edit/settings/template/ReportSectionMediaAnalyticsChart.tsx
Labels: bug, subscriber

#2243 Small tweaks
  app/subscriber/src/features/my-reports/ReportFilter.tsx
  app/subscriber/src/features/search-page/styled/PreviousResults.tsx
Labels: bug, enhancement, subscriber

#2230 [Ready] Update raw text state when changing content (WYSIWYG)
  app/editor/.yarn/cache/tno-core-npm-0.1.142-27b6148bb0-dc350208c8.zip
  app/editor/.yarn/cache/tno-core-npm-0.1.143-34a37ac332-aebfbb21bd.zip
  app/editor/package.json
  app/editor/yarn.lock
  app/subscriber/.yarn/cache/tno-core-npm-0.1.142-27b6148bb0-dc350208c8.zip
  app/subscriber/.yarn/cache/tno-core-npm-0.1.143-34a37ac332-aebfbb21bd.zip
  app/subscriber/package.json
  app/subscriber/yarn.lock
  libs/npm/core/.yarn/install-state.gz
  libs/npm/core/package.json
  libs/npm/core/src/components/form/wysiwyg/Wysiwyg.tsx
Labels: bug, subscriber, tno-core update, editor
