Repository bcgov/tno, pull requests merged in 2024-02, with the labels that each got.

#1472 TNO-2199: Fix Add to Report menu, show only media story type
  app/subscriber/src/components/tool-bar/AddToReportMenu.tsx
Labels: bug

#1471 TNO 2106 - My Minister screen
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-minister/MyMinister.tsx
  app/subscriber/src/features/my-minister/constants/columns.tsx
  app/subscriber/src/features/my-minister/constants/index.ts
  app/subscriber/src/features/my-minister/styled/MyMinister.tsx
  app/subscriber/src/features/utils/interfaces/IContentSearchResult.ts
  app/subscriber/src/store/hooks/subscriber/interfaces/IMinisterModel.ts
Labels: enhancement, subscriber

#1473 TNO-2106 Add Minister full name to query
  app/subscriber/src/features/my-minister/MyMinister.tsx
Labels: subscriber

#1477 TNO-2183: Fix advanced search date handling
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/utils/filterFormat.ts
Labels: bug

#1479 TNO-2204 Fix reports drag+drop
  app/subscriber/src/features/my-reports/view/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
Labels: bug, subscriber

#1480 fix: #tno-2262 - added logging to debug CSS issue
  api/net/Keycloak/CssHelper.cs
Labels: bug

#1481 fix: #tno-2262 - force Roles update in CSS if neccesary
  api/net/Keycloak/CssHelper.cs
Labels: bug

#1470 [UPDATED] TNO-2233: Common component for content list views
  app/subscriber/public/index.html
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentListContext.tsx
  app/subscriber/src/components/content-list/ViewOptions.tsx
  app/subscriber/src/components/content-list/constants/defaultValueListContext.ts
  app/subscriber/src/components/content-list/constants/index.ts
  app/subscriber/src/components/content-list/index.ts
  app/subscriber/src/components/content-list/interfaces/IContentListContext.ts
  app/subscriber/src/components/content-list/interfaces/IGroupByState.ts
  app/subscriber/src/components/content-list/interfaces/IToggleStates.ts
  app/subscriber/src/components/content-list/interfaces/index.ts
  app/subscriber/src/components/content-list/styled/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ViewOptions.tsx
  app/subscriber/src/components/content-list/styled/index.ts
  app/subscriber/src/components/content-list/utils/determineToneIcon.tsx
  app/subscriber/src/components/content-list/utils/groupContent.ts
  app/subscriber/src/components/content-list/utils/index.ts
  app/subscriber/src/components/content-list/utils/truncateTeaser.ts
  app/subscriber/src/components/date-filter/styled/DateFilter.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/home/home-filters/HomeFilters.tsx
  app/subscriber/src/features/home/home-filters/styled/HomeFilters.tsx
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/todays-commentary/styled/TodaysCommentary.tsx
  app/subscriber/src/index.scss
Labels: enhancement, subscriber

#1483 fix dev bug when no tone value
  app/subscriber/src/components/content-list/utils/determineToneIcon.tsx
Labels: bug, subscriber

#1482 fix: #tno-2262 - fix string comparison bug
  api/net/Keycloak/CssHelper.cs
Labels: bug

#1484 Content List - Inline Media Fix
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ContentList.tsx
Labels: bug, subscriber

#1485 fix: #tno-2262 - switch new logging to Trace down from Info
  api/net/Keycloak/CssHelper.cs
Labels: bug

#1489 TNO-2123: Fix date picker colours and UI/UX
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/components/date-filter/styled/DateFilter.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-folders/Schedule.tsx
  app/subscriber/src/features/my-folders/styled/ConfigureFolder.tsx
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/utils/filterFormat.ts
Labels: bug

#1490 TNO-2114 Enhance Edit Report Content
  app/editor/src/features/content/papers/PaperToolbar.tsx
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/components/section/Section.tsx
  app/subscriber/src/components/section/styled/Section.tsx
  app/subscriber/src/components/sentiment/Sentiment.tsx
  app/subscriber/src/components/tabs/interfaces/ITab.ts
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/my-reports/admin/ReportTemplate.tsx
  app/subscriber/src/features/my-reports/admin/components/index.ts
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/components/SectionIcon.tsx
  app/subscriber/src/features/my-reports/components/SectionLabel.tsx
  app/subscriber/src/features/my-reports/components/index.ts
  app/subscriber/src/features/my-reports/view/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/components/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: enhancement, subscriber

#1488 TNO-2256: Update list view for today's commentary
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/media-type-filters/FilterOptions.tsx
  app/subscriber/src/components/media-type-filters/constants/FilterOptionTypes.ts
  app/subscriber/src/components/media-type-filters/constants/index.ts
  app/subscriber/src/components/media-type-filters/index.ts
  app/subscriber/src/components/media-type-filters/styled/MediaTypeFilters.tsx
  app/subscriber/src/components/media-type-filters/styled/index.ts
  app/subscriber/src/components/media-type-filters/utils/determineStore.ts
  app/subscriber/src/components/media-type-filters/utils/index.ts
  app/subscriber/src/components/navbar/NavbarItems.tsx
  app/subscriber/src/features/home/home-filters/index.ts
  app/subscriber/src/features/home/home-filters/styled/index.ts
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/todays-commentary/TodaysCommentary.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
  app/subscriber/src/store/hooks/subscriber/useContent.ts
  app/subscriber/src/store/slices/content/constants/initialContentState.ts
  app/subscriber/src/store/slices/content/interfaces/IContentState.ts
Labels: enhancement, subscriber

#1491 Tno 2249 subscriber login page
  app/subscriber/public/assets/bceid_default_logo.jpg
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/login/MobileLogin.tsx
  app/subscriber/src/features/login/UnauthenticatedHome.tsx
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
Labels: enhancement, subscriber

#1493 fix undefined error
  app/subscriber/src/components/layout/DefaultLayout.tsx
  app/subscriber/src/features/home/Home.tsx
Labels: bug

#1494 TNO-2241: Update header actions on frontpage pages
  app/subscriber/public/assets/back-button.svg
  app/subscriber/src/components/section/PageSection.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/components/tool-bar/ContentActionBar.tsx
  app/subscriber/src/components/tool-bar/styled/ContentActionBar.tsx
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/my-folders/FolderLanding.tsx
  app/subscriber/src/features/my-folders/styled/MyFolders.tsx
  app/subscriber/src/features/my-products/MyProducts.tsx
  app/subscriber/src/features/my-reports/MyReports.tsx
Labels: enhancement, subscriber

#1495 fix: #tno-2286 - performance improvements
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
Labels: bug

#1496 TNO-2201: Reset now clears dates in adv search
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/DateSection.tsx
  app/subscriber/src/features/search-page/components/advanced-search/constants/DefaultAdvancedSearch.ts
Labels: bug

#1497 Tno 2249 Logo and buttons update
  app/subscriber/public/assets/IDIR_button.png
  app/subscriber/public/assets/MMinsights_logo_dark_text.svg
  app/subscriber/src/components/header/Header.tsx
  app/subscriber/src/features/login/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
Labels: subscriber

#1499 Tno 2001 order by time
  app/subscriber/src/components/content-list/utils/groupContent.ts
  app/subscriber/src/features/home/Home.tsx
Labels: subscriber

#1498 [READY] Search Page - Add new list view
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ContentList.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: enhancement, subscriber

#1502 TNO-2285 Enhance Gallery Section
  app/subscriber/src/features/my-reports/admin/components/ReportSectionGallery.tsx
Labels: enhancement, subscriber

#1503 Update My Reports
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/components/ContentForm.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionContent.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionGallery.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSectionMediaAnalytics.tsx
  app/subscriber/src/features/my-reports/view/components/ReportSections.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: bug, enhancement, subscriber

#1504 feat: #tno-2264 - updated ingestmanager to allow restart after pre-set delay
  libs/net/services/Managers/IngestManager`.cs
Labels: enhancement

#1505 TNO-2001 Reverse sort time
  app/subscriber/src/components/content-list/utils/groupContent.ts
Labels: subscriber

#1506 TNO-2293 Fix first time login issue
  app/subscriber/src/store/hooks/app/useApp.ts
  app/subscriber/src/store/hooks/useAjaxWrapper.ts
Labels: bug, subscriber

#1501 [Actually Ready] TNO-2194: Enable drag and drop for content list
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentListContext.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/constants/defaultValueListContext.ts
  app/subscriber/src/components/content-list/index.ts
  app/subscriber/src/components/content-list/interfaces/IContentListContext.ts
  app/subscriber/src/components/content-list/styled/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/index.ts
  app/subscriber/src/components/content-list/utils/index.ts
  app/subscriber/src/components/content-list/utils/reorderDragItems.ts
  app/subscriber/src/features/manage-folder/ManageFolder.tsx
  app/subscriber/src/features/manage-folder/styled/ManageFolder.tsx
Labels: enhancement, subscriber

#1509 fix scroll issues on search page
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/styled/ContentList.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#1510 Fix max-height on basic search
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug, subscriber

#1512 TNO-2293 Fix unapproved user
  api/net/Keycloak/CssHelper.cs
Labels: bug

#1513 Move ContentListProvider up a level
  app/subscriber/src/App.tsx
  app/subscriber/src/components/content-list/ViewOptions.tsx
  app/subscriber/src/features/landing/Landing.tsx
  app/subscriber/src/features/search-page/SearchPage.tsx
  app/subscriber/src/features/search-page/styled/SearchPage.tsx
Labels: bug

#1514 Bug Fixes - Only show Homepage items & Top Stories fix
  app/subscriber/src/components/section/styled/PageSection.tsx
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/top-stories/TopStories.tsx
Labels: bug, subscriber

#1511 feat: tno-2289 - split tno historic service out into own config
  openshift/kustomize/services/content-historic/base/config-map.yaml
  openshift/kustomize/services/content-historic/base/deploy.yaml
  openshift/kustomize/services/content-historic/base/service.yaml
  openshift/kustomize/services/content-historic/overlays/dev/kustomization.yaml
  openshift/kustomize/services/content-historic/overlays/prod/kustomization.yaml
  openshift/kustomize/services/content-historic/overlays/test/kustomization.yaml
  openshift/kustomize/services/content/base/config-map.yaml
  openshift/kustomize/services/content/base/deploy.yaml
  openshift/kustomize/tekton/base/pipelines/buildah-all.yaml
  openshift/kustomize/tekton/base/tasks/deploy-all.yaml
  services/net/content/Config/ContentOptions.cs
  services/net/content/ContentManager.cs
Labels: enhancement

#1516 TNO-2315 Default gallery section to front page images
  app/subscriber/src/features/my-reports/admin/components/ReportSectionGallery.tsx
Labels: bug, subscriber

#1517 TNO-2315 Fix gallery section
  app/subscriber/src/features/my-reports/admin/components/ReportSectionGallery.tsx
Labels: bug, subscriber

#1518 TNO-2306 Remove section ToC
  app/editor/src/features/admin/reports/utils/createReportSection.ts
  app/subscriber/src/features/my-reports/admin/components/ReportSectionContent.tsx
Labels: enhancement, subscriber

#1515 Featured Content - Fix erroneous search of "Homepage" -> "Featured Story"
  app/editor/package.json
  app/subscriber/package.json
  app/subscriber/src/features/home/Home.tsx
  app/subscriber/src/features/utils/getBooleanActionValue.ts
  app/subscriber/src/features/utils/index.ts
  libs/npm/core/package.json
  libs/npm/core/src/hooks/api/constants/Settings.ts
Labels: bug, subscriber, tno-core update

#1519 fix: #tno-2203 - byline no longer required field
  app/editor/src/features/content/form/ContentForm.tsx
Labels: bug, editor

#1522 fix: #tno-2276 - disabled tags hidden in advanced search
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/TagSection.tsx
Labels: bug

#1521 fix: #tno-2320 - change to IgnoreCase for comparison
  services/net/content/ContentManager.cs
Labels: bug

#1524 bug: #tno-2302 - add resume after sleep
  services/net/content/ContentManager.cs
Labels: bug

#1526 TNO-2190, TNO-2196: Account for long headlines, and add visited color
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/components/section/styled/PageSection.tsx
Labels: bug, enhancement, subscriber

#1525 fix: #tno-2291 - fix default sort to honor Source.SortOrder and PageNumber
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
Labels: bug, editor

#1528 fix: #tno-2301 - nav under content in paper is in sync
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/list-view/ContentListView.tsx
  app/editor/src/features/content/papers/Papers.tsx
Labels: bug, editor

#1529 TNO-2299: Filter media respoonsiveness
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/styled/FilterMediaLanding.tsx
Labels: bug, enhancement, subscriber

#1527 feat: #tno-2300 - fix sorting on page:section
  app/editor/src/features/content/utils/getSortBy.ts
Labels: enhancement

#1531 TNO-2292: Mobile fixes
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/components/header/Header.tsx
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/navbar/Navbar.tsx
Labels: bug, enhancement, subscriber

#1532 feat: #tno-2270 - address feedback from stakeholder
  api/net/Areas/Admin/Controllers/TopicController.cs
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  app/editor/src/features/admin/topics/TopicFormSmall.tsx
  app/editor/src/features/admin/topics/TopicList.tsx
  app/editor/src/features/admin/topics/hooks/useColumns.tsx
  app/editor/src/features/admin/topics/index.ts
  app/editor/src/features/admin/topics/styled/TopicFormSmall.tsx
  app/editor/src/features/admin/topics/styled/TopicList.tsx
  app/editor/src/features/admin/topics/styled/index.ts
Labels: enhancement, editor

#1533 [UPDATED] TNO-2272, 2253: Tech debt and feedback for filter media
  app/subscriber/src/components/content-list/ContentList.tsx
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/hooks/index.ts
  app/subscriber/src/features/hooks/useSubMediaGroups.ts
  app/subscriber/src/features/search-page/components/advanced-search/components/sections/MediaSection.tsx
Labels: subscriber, tech debt

#1535 Filter media bug fix
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
Labels: bug, subscriber

#1536 feat: #tno-2270 - address feedback from stakeholder
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
Labels: enhancement, editor

#1537 Tno 2278 report stories form validation
  app/subscriber/src/features/my-reports/interfaces/IContentValidationErrors.ts
  app/subscriber/src/features/my-reports/view/components/ContentEditForm.tsx
  app/subscriber/src/features/my-reports/view/components/UserContentForm.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
Labels: subscriber

#1538 TNO-2271 Update notification template
  libs/net/dal/Migrations/1.0.121/Up/PostUp/00-NotificationTemplate.sql
  libs/net/dal/Migrations/20240215210034_1.0.121.Designer.cs
  libs/net/dal/Migrations/20240215210034_1.0.121.cs
Labels: enhancement, DB Migration

#1539 TNO-2208: Should not fetch when user initialy clicks "Go Advanced"
  app/subscriber/src/features/search-page/SearchPage.tsx
Labels: bug, subscriber

#1540 fix: #tno-2328 - fixed issue in indexing and updating
  api/net/Areas/Editor/Controllers/ContentController.cs
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
Labels: bug, editor

#1541 TNO-2239: CSS updates
  app/subscriber/src/components/basic-search/BasicSearch.tsx
  app/subscriber/src/components/basic-search/styled/BasicSearch.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
Labels: enhancement

#1542 TNO-1907: CSS cleanup 🧹
  app/subscriber/src/components/box/Box.tsx
  app/subscriber/src/components/box/index.ts
  app/subscriber/src/components/box/styled/Box.tsx
  app/subscriber/src/components/box/styled/index.ts
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/components/front-page-gallery/styled/FrontPageGallery.tsx
  app/subscriber/src/components/tool-bar/ToolBar.tsx
  app/subscriber/src/components/tool-bar/ToolBarSection.tsx
  app/subscriber/src/components/tool-bar/index.ts
  app/subscriber/src/components/tool-bar/styled/ToolBar.tsx
  app/subscriber/src/components/tool-bar/styled/ToolBarSection.tsx
  app/subscriber/src/components/tool-bar/styled/index.ts
  app/subscriber/src/css/_variables.module.scss
  app/subscriber/src/css/_variables.scss
  app/subscriber/src/features/access-request/styled/AccessRequest.tsx
  app/subscriber/src/features/content/view-content/styled/FolderMenu.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContent.tsx
  app/subscriber/src/features/content/view-content/styled/ViewContentToolbar.tsx
  app/subscriber/src/features/front-pages/FrontPages.tsx
  app/subscriber/src/features/front-pages/index.ts
  app/subscriber/src/features/front-pages/styled/FrontPages.tsx
  app/subscriber/src/features/front-pages/styled/index.ts
  app/subscriber/src/features/home/styled/Home.tsx
  app/subscriber/src/features/landing/styled/Landing.tsx
  app/subscriber/src/features/login/styled/BrowserLogin.tsx
  app/subscriber/src/features/login/styled/MobileLogin.tsx
  app/subscriber/src/features/login/styled/UnauthenticatedHome.tsx
  app/subscriber/src/features/my-products/styled/MyProducts.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportEdit.tsx
  app/subscriber/src/features/my-reports/view/styled/ReportView.tsx
  app/subscriber/src/features/search-page/components/advanced-search/styled/AdvancedSearch.tsx
  app/subscriber/src/features/search-page/player/Player.tsx
  app/subscriber/src/features/search-page/player/styled/Player.tsx
  app/subscriber/src/features/search-page/player/styled/index.ts
  app/subscriber/src/features/settings/styled/MyMinisterSettings.tsx
  app/subscriber/src/index.scss
Labels: subscriber, tech debt

#1543 Minor fixes
  app/editor/src/features/content/papers/components/AdvancedFilter.tsx
  app/editor/src/features/content/papers/components/ReportActions.tsx
  app/subscriber/src/components/content-list/ContentListContext.tsx
Labels: bug

#1545 feat: #tno-2270 - more features added
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  libs/net/dal/Migrations/1.0.122/Down/PostDown/00-ReportSection.sql
  libs/net/dal/Migrations/1.0.122/Up/PostUp/00-FolderAndFilter.sql
  libs/net/dal/Migrations/20240216165227_1.0.122.Designer.cs
  libs/net/dal/Migrations/20240216165227_1.0.122.cs
  libs/net/elastic/Models/Converters/AggregationsConverter.cs
  libs/net/template/ReportEngine.cs
Labels: enhancement, DB Migration, editor

#1548 feat: #tno-2270 - added topic type stacked line chart to event of the day report
  libs/net/dal/Migrations/1.0.124/Down/PostDown/00-FilterAndReportSection.sql
  libs/net/dal/Migrations/1.0.124/Up/PostUp/00-FilterAndReportSection.sql
  libs/net/dal/Migrations/20240221012253_1.0.124.Designer.cs
  libs/net/dal/Migrations/20240221012253_1.0.124.cs
Labels: enhancement, DB Migration

#1547 [UPDATED] TNO-2138, TNO-2139: Press gallery enhancements
  app/subscriber/src/components/content-list/ContentRow.tsx
  app/subscriber/src/features/press-gallery/PressGallery.tsx
  app/subscriber/src/features/press-gallery/interfaces/IGroupedDates.ts
  app/subscriber/src/features/press-gallery/interfaces/index.ts
  app/subscriber/src/features/press-gallery/styled/PressGallery.tsx
  app/subscriber/src/features/press-gallery/utils/index.ts
  app/subscriber/src/features/press-gallery/utils/seperateAlias.ts
Labels: bug, enhancement, subscriber

#1549 Tno 2273 evening overview feedback
  app/editor/src/features/reports/av-overview/OverviewGrid.tsx
  libs/net/dal/Migrations/1.0.125/Up/PostUp/00-WeekdayTemplateUpdate.sql
  libs/net/dal/Migrations/1.0.125/Up/PostUp/01-WeekendTemplateUpdate.sql
  libs/net/dal/Migrations/20240221182214_1.0.125.Designer.cs
  libs/net/dal/Migrations/20240221182214_1.0.125.cs
Labels: editor

#1552 TNO-2287 Change header color
  app/subscriber/src/components/header/env.json
  app/subscriber/src/components/header/styled/Header.tsx
  app/subscriber/src/components/layout/styled/Layout.tsx
Labels: subscriber

#1553 TNO-2313: Make grab icon consistent
  app/subscriber/src/features/my-reports/admin/ReportTemplate.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
  app/subscriber/src/features/my-reports/view/components/ReportContentSectionRow.tsx
Labels: bug, subscriber

#1551 TNO-2215 Audio video layout fix
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/styled/ContentForm.tsx
Labels: editor

#1554 fix: #tno-2270 - fix issues related to topic
  api/net/Areas/Editor/Controllers/ContentController.cs
  api/net/Areas/Services/Controllers/ContentController.cs
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  libs/net/dal/Migrations/1.0.126/Up/PostUp/00-FilterAndReportSection.sql
  libs/net/dal/Migrations/20240222161755_1.0.126.Designer.cs
  libs/net/dal/Migrations/20240222161755_1.0.126.cs
Labels: bug, enhancement, DB Migration, editor

#1555 fix: #tno-2352 - added logging and tweaked logic
  libs/net/services/Actions/Managers/IngestActionManager`.cs
  services/net/contentmigration/ContentMigrationAction.cs
Labels: bug

#1556 feat: #tno-2329 - moved Topic component into shared location
  app/editor/src/components/topic/Topic.tsx
  app/editor/src/components/topic/index.ts
  app/editor/src/components/topic/styled/Topic.tsx
  app/editor/src/components/topic/styled/index.ts
  app/editor/src/css/_colors.scss
  app/editor/src/css/_variables.module.scss
  app/editor/src/features/admin/event-of-the-day/EventOfTheDayList.tsx
  app/editor/src/features/admin/event-of-the-day/hooks/useColumns.tsx
  app/editor/src/features/admin/event-of-the-day/styled/EventOfTheDayList.tsx
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/components/index.ts
  app/editor/src/features/content/form/components/topic/Topic.tsx
  app/editor/src/features/content/form/interfaces/IGroupedTopicOptions.tsx
  app/editor/src/features/content/form/interfaces/ITopicOptionItem.tsx
  app/editor/src/features/content/form/interfaces/index.ts
  app/editor/src/features/content/form/styled/ContentForm.tsx
Labels: enhancement, editor

#1557 fix: #tno-2354 - sped up response time from adding a topic
  app/editor/src/store/hooks/admin/useTopics.ts
  app/editor/src/store/hooks/lookup/useLookup.ts
Labels: bug, enhancement

#1558 TNO-2166: Update draggable row cursor
  app/subscriber/src/components/content-list/styled/ContentRow.tsx
  app/subscriber/src/features/my-reports/admin/styled/ReportAdmin.tsx
Labels: enhancement, subscriber

#1559 Tno 2330 send email alerts on failure
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#1563 TNO-2326 Fix published time
  api/net/Areas/Editor/Controllers/ContentController.cs
  app/editor/src/features/content/form/ContentForm.tsx
  app/editor/src/features/content/form/ContentNavigation.tsx
  app/editor/src/features/content/form/components/tool-bar/form/StatusSection.tsx
  app/editor/src/features/content/form/constants/defaultFormValues.ts
  app/editor/src/features/content/form/hooks/useContentForm.ts
  app/editor/src/features/content/form/utils/getContentPath.ts
  app/editor/src/features/content/form/utils/index.ts
  app/editor/src/features/content/form/utils/setTime.ts
Labels: bug, editor

#1562 Tno 2331 send email alerts on notifications
  services/net/notification/NotificationManager.cs
Labels: enhancement

#1564 TNO-2335 send email alerts on notifications
  services/net/indexing/IndexingManager.cs
Labels: enhancement

#1565 TNO-2334 send email alerts on notifications
  services/net/content/ContentManager.cs
Labels: enhancement

#1567 TNO-2332 send email alerts on notifications
  services/net/transcription/TranscriptionManager.cs
Labels: enhancement

#1569 TNO-2290: Fix filter media type query bugs
  app/subscriber/src/components/date-filter/DateFilter.tsx
  app/subscriber/src/features/filter-media/FilterMedia.tsx
  app/subscriber/src/features/filter-media/FilterMediaLanding.tsx
  app/subscriber/src/features/filter-media/PreviousResults.tsx
Labels: bug, enhancement, subscriber

#1568 TNO-2326 Fix next snippet
  app/editor/src/features/content/form/components/upload/Upload.tsx
  app/editor/src/features/content/form/hooks/useContentForm.ts
Labels: bug

#1571 Fix infinite search
  app/subscriber/src/components/date-filter/DateFilter.tsx
Labels: bug, subscriber

#1570 fix: #tno-2359 - fixed filter and patched ReportingManager
  libs/net/dal/Migrations/1.0.128/Up/PostUp/00-Filter.sql
  libs/net/dal/Migrations/20240229181230_1.0.128.Designer.cs
  libs/net/dal/Migrations/20240229181230_1.0.128.cs
  services/net/reporting/ReportingManager.cs
Labels: bug, DB Migration

#1572 Add email alert debugging info
  services/net/reporting/ReportingManager.cs
Labels: enhancement

#1575 fix: #tno-2362 - fixed layout issue
  app/editor/src/components/topic/Topic.tsx
Labels: bug, editor

#1576 fix: #tno-2359 - fixed query
  libs/net/dal/Migrations/1.0.128/Up/PostUp/00-Filter.sql
Labels: DB Migration
