Repository bcgov/tno, pull requests merged in 2025-05, with the labels that each got.

#2441 Mmi 3206 llm
  services/net/.gitignore
  services/net/extract-quotes/Config/ExtractQuotesOptions.cs
  services/net/extract-quotes/CoreNLP/CoreNLPService.cs
  services/net/extract-quotes/ExtractQuotesManager.cs
  services/net/extract-quotes/ExtractQuotesService.cs
  services/net/extract-quotes/LLM/Clients/ILLMClient.cs
  services/net/extract-quotes/LLM/Clients/LLMClient.cs
  services/net/extract-quotes/LLM/Exceptions/RateLimitRejectedException.cs
  services/net/extract-quotes/LLM/LLMService.cs
  services/net/extract-quotes/LLM/Models/LLMResponse.cs
  services/net/extract-quotes/LLM/Models/QuoteResponse.cs
  services/net/extract-quotes/LLM/Parsers/ILLMResponseParser.cs
  services/net/extract-quotes/LLM/Parsers/LLMResponseParser.cs
  services/net/extract-quotes/LLM/Prompts/IPromptGenerator.cs
  services/net/extract-quotes/LLM/Prompts/PromptGenerator.cs
  services/net/extract-quotes/LLM/Prompts/PromptTemplate.txt
  services/net/extract-quotes/LLM/RateLimiting/ILLMRateLimiter.cs
  services/net/extract-quotes/LLM/RateLimiting/LLMRateLimiter.cs
  services/net/extract-quotes/Makefile
  services/net/extract-quotes/TNO.Services.ExtractQuotes.csproj
  services/net/extract-quotes/Utils/QuoteUtils.cs
  services/net/extract-quotes/appsettings.json
  tools/scripts/analyze_extract_quotes_log.sh
  tools/scripts/gen-env-files.sh
  tools/scripts/text_to_json_string.py
Labels: enhancement

#2444 MMI-3246 Fix report history
  app/subscriber/src/features/my-reports/edit/view/ReportHistoryForm.tsx
Labels: bug, subscriber

#2445 Quotes update
  openshift/kustomize/services/extract-quotes/base/config-map.yaml
  openshift/kustomize/services/extract-quotes/base/deploy.yaml
  openshift/kustomize/services/extract-quotes/overlays/dev/config-map.yaml
  openshift/kustomize/services/extract-quotes/overlays/dev/kustomization.yaml
  openshift/kustomize/services/extract-quotes/overlays/prod/config-map.yaml
  openshift/kustomize/services/extract-quotes/overlays/prod/kustomization.yaml
  openshift/kustomize/services/extract-quotes/overlays/test/config-map.yaml
  openshift/kustomize/services/extract-quotes/overlays/test/kustomization.yaml
  services/net/extract-quotes/LLM/LLMService.cs
  services/net/extract-quotes/LLM/Parsers/LLMResponseParser.cs
  services/net/extract-quotes/LLM/Prompts/PromptGenerator.cs
  services/net/extract-quotes/LLM/Prompts/PromptTemplate.txt
  services/net/extract-quotes/appsettings.json
Labels: bug, enhancement

#2447 MMI-3249 Update Syndication Service
  app/editor/src/features/admin/ingests/configurations/Newspaper.tsx
  app/editor/src/features/admin/ingests/configurations/Syndication.tsx
  services/net/syndication/SyndicationAction.cs
Labels: enhancement, editor

#2446 MMI-3082 vacation mode label changes
  app/subscriber/src/components/user-profile/UserProfile.tsx
  app/subscriber/src/features/settings/MyAccountSettings.tsx
Labels: bug, subscriber

#2448 MMI-3248 Changes to More button visibility condition for CP wire
  app/subscriber/src/features/content/view-content/ViewContent.tsx
Labels: subscriber
